<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GEMS - Packages and Package Trees View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GEMS - Packages and Package Trees View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0cb927057691417abbf103649be0ba27.png" alt="GEMS - Packages and Package Trees View" usemap="#id-0cb927057691417abbf103649be0ba27map"/>
			   <map name="id-0cb927057691417abbf103649be0ba27map">
				  		<area shape="rect" coords="466,370,586,425" href="../elements/id-e7e747898a6b45aca04a4439469406e3.html"  target="element">
				  		<area shape="rect" coords="466,100,586,155" href="../elements/id-8ea86fcb3d0743deae7e517581a9b736.html"  target="element">
				  		<area shape="rect" coords="10,370,130,425" href="../elements/id-6236107a5490485ab6e24e651f0ce815.html"  target="element">
				  		<area shape="rect" coords="10,100,130,155" href="../elements/id-3aa3bd2189e644cab0343c15be046c0a.html"  target="element">
				  				<area shape="rect" coords="190,496,431,533" href="../elements/id-3e4c8ed4913d4e2dade81fea4ac08d54.html"  target="element">
				  				<area shape="rect" coords="190,448,431,485" href="../elements/id-e6d78d969c744281b7a656c9a80254bc.html"  target="element">
				  				<area shape="rect" coords="190,412,431,437" href="../elements/id-e386599c453246efae29ebdcd2185196.html"  target="element">
				  				<area shape="rect" coords="190,364,431,401" href="../elements/id-8db685e33cb143ea9a50de22ba80982c.html"  target="element">
				  				<area shape="rect" coords="190,316,431,353" href="../elements/id-558f8949e94442428abd882cae406611.html"  target="element">

				  		<area shape="rect" coords="154,292,443,545" href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html"  target="element">
				  				<area shape="rect" coords="190,178,431,215" href="../elements/id-73fd575fe3fa46f0a5f55fd349f78711.html"  target="element">
				  				<area shape="rect" coords="190,142,431,167" href="../elements/id-21a17a5eb0144558836a201c1cdc30d6.html"  target="element">
				  				<area shape="rect" coords="190,226,431,263" href="../elements/id-c5e6be474f4341b5a5abc4ceb7d0817c.html"  target="element">
				  				<area shape="rect" coords="190,94,431,131" href="../elements/id-e6b66a61b5884a76bd67da64db02d8bd.html"  target="element">
				  				<area shape="rect" coords="190,46,431,83" href="../elements/id-c6eca49a4cc548aa89abc0610398ef49.html"  target="element">

				  		<area shape="rect" coords="154,10,443,275" href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element"> Action Associated Object Package (ABC) </a> </td>
											    <td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c6eca49a4cc548aa89abc0610398ef49.html" target="element"> Store an Action Associated Object (e.g. Service Request) </a> </td>
													    <td> <a href="../elements/id-c6eca49a4cc548aa89abc0610398ef49.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6b66a61b5884a76bd67da64db02d8bd.html" target="element"> Store and Report Status of Action Object </a> </td>
													    <td> <a href="../elements/id-e6b66a61b5884a76bd67da64db02d8bd.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c5e6be474f4341b5a5abc4ceb7d0817c.html" target="element"> Store and Report Action Object Metadata </a> </td>
													    <td> <a href="../elements/id-c5e6be474f4341b5a5abc4ceb7d0817c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21a17a5eb0144558836a201c1cdc30d6.html" target="element"> Store and Report Return Value </a> </td>
													    <td> <a href="../elements/id-21a17a5eb0144558836a201c1cdc30d6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-73fd575fe3fa46f0a5f55fd349f78711.html" target="element"> Store and Report After-Action (Next State) </a> </td>
													    <td> <a href="../elements/id-73fd575fe3fa46f0a5f55fd349f78711.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element"> AAOP Tree (ABC) </a> </td>
											    <td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-558f8949e94442428abd882cae406611.html" target="element"> Store Packages Per Order of Operations </a> </td>
													    <td> <a href="../elements/id-558f8949e94442428abd882cae406611.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8db685e33cb143ea9a50de22ba80982c.html" target="element"> Store and Report Next Object for Action </a> </td>
													    <td> <a href="../elements/id-8db685e33cb143ea9a50de22ba80982c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e386599c453246efae29ebdcd2185196.html" target="element"> Add and Remove Packages </a> </td>
													    <td> <a href="../elements/id-e386599c453246efae29ebdcd2185196.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6d78d969c744281b7a656c9a80254bc.html" target="element"> Make Skeleton and Deep Copies of Self </a> </td>
													    <td> <a href="../elements/id-e6d78d969c744281b7a656c9a80254bc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3e4c8ed4913d4e2dade81fea4ac08d54.html" target="element"> Extract Action Objects as Pydantic object </a> </td>
													    <td> <a href="../elements/id-3e4c8ed4913d4e2dade81fea4ac08d54.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3aa3bd2189e644cab0343c15be046c0a.html" target="element"> Service Request Package </a> </td>
											    <td> <a href="../elements/id-3aa3bd2189e644cab0343c15be046c0a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6236107a5490485ab6e24e651f0ce815.html" target="element"> Service Request Package Tree </a> </td>
											    <td> <a href="../elements/id-6236107a5490485ab6e24e651f0ce815.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ea86fcb3d0743deae7e517581a9b736.html" target="element"> Service Response Package </a> </td>
											    <td> <a href="../elements/id-8ea86fcb3d0743deae7e517581a9b736.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e7e747898a6b45aca04a4439469406e3.html" target="element"> Service Response Package Tree </a> </td>
											    <td> <a href="../elements/id-e7e747898a6b45aca04a4439469406e3.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6f6c49d456b8444d9e487b83ec08d833.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f6c49d456b8444d9e487b83ec08d833.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element"> Action Associated Object Package (ABC) </a> </td>
																		<td> <a href="../elements/id-8ea86fcb3d0743deae7e517581a9b736.html" target="element"> Service Response Package </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48b69ba937d4473e846201314670e803.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48b69ba937d4473e846201314670e803.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element"> Action Associated Object Package (ABC) </a> </td>
																		<td> <a href="../elements/id-3aa3bd2189e644cab0343c15be046c0a.html" target="element"> Service Request Package </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8365fdc0d3a5487a87b2710fc58709d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8365fdc0d3a5487a87b2710fc58709d5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element"> Action Associated Object Package (ABC) </a> </td>
																		<td> <a href="../elements/id-c6eca49a4cc548aa89abc0610398ef49.html" target="element"> Store an Action Associated Object (e.g. Service Request) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e034ba608824449813d88ca38dc8337.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e034ba608824449813d88ca38dc8337.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element"> Action Associated Object Package (ABC) </a> </td>
																		<td> <a href="../elements/id-e6b66a61b5884a76bd67da64db02d8bd.html" target="element"> Store and Report Status of Action Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c025dc723d064408acbbea3531691203.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c025dc723d064408acbbea3531691203.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element"> Action Associated Object Package (ABC) </a> </td>
																		<td> <a href="../elements/id-c5e6be474f4341b5a5abc4ceb7d0817c.html" target="element"> Store and Report Action Object Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d933d2a43c44d16abec22e6eb58a931.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d933d2a43c44d16abec22e6eb58a931.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element"> Action Associated Object Package (ABC) </a> </td>
																		<td> <a href="../elements/id-21a17a5eb0144558836a201c1cdc30d6.html" target="element"> Store and Report Return Value </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1bab1857a39e46b89a55364e405dda21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bab1857a39e46b89a55364e405dda21.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-00d332af6cdb4fafa75a89d324c82940.html" target="element"> Action Associated Object Package (ABC) </a> </td>
																		<td> <a href="../elements/id-73fd575fe3fa46f0a5f55fd349f78711.html" target="element"> Store and Report After-Action (Next State) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cac35a703115469b8cb0a4294072b1e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cac35a703115469b8cb0a4294072b1e8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element"> AAOP Tree (ABC) </a> </td>
																		<td> <a href="../elements/id-e7e747898a6b45aca04a4439469406e3.html" target="element"> Service Response Package Tree </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d5e6f510bba45d8a7de951a3d31b94d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d5e6f510bba45d8a7de951a3d31b94d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element"> AAOP Tree (ABC) </a> </td>
																		<td> <a href="../elements/id-6236107a5490485ab6e24e651f0ce815.html" target="element"> Service Request Package Tree </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79abadb147bc435c92174a74a7d99e58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79abadb147bc435c92174a74a7d99e58.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element"> AAOP Tree (ABC) </a> </td>
																		<td> <a href="../elements/id-558f8949e94442428abd882cae406611.html" target="element"> Store Packages Per Order of Operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a960a37625564bed9457ec2e3cafeb14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a960a37625564bed9457ec2e3cafeb14.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element"> AAOP Tree (ABC) </a> </td>
																		<td> <a href="../elements/id-8db685e33cb143ea9a50de22ba80982c.html" target="element"> Store and Report Next Object for Action </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-408d1062a02c4508b78bb6a310ca51cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-408d1062a02c4508b78bb6a310ca51cc.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element"> AAOP Tree (ABC) </a> </td>
																		<td> <a href="../elements/id-e386599c453246efae29ebdcd2185196.html" target="element"> Add and Remove Packages </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f68b6c691ebd4a5c8b343efdf4d6ce72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f68b6c691ebd4a5c8b343efdf4d6ce72.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element"> AAOP Tree (ABC) </a> </td>
																		<td> <a href="../elements/id-e6d78d969c744281b7a656c9a80254bc.html" target="element"> Make Skeleton and Deep Copies of Self </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e830ea2b5a284125890c7d144ac3226c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e830ea2b5a284125890c7d144ac3226c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8bf28c1b5c8b446d9c54b6c282d70f71.html" target="element"> AAOP Tree (ABC) </a> </td>
																		<td> <a href="../elements/id-3e4c8ed4913d4e2dade81fea4ac08d54.html" target="element"> Extract Action Objects as Pydantic object </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>