<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Service-Task-Response Detail</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Service-Task-Response Detail</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1be0bccf7bff4822b601ee0edb2524c5.png" alt="Service-Task-Response Detail" usemap="#id-1be0bccf7bff4822b601ee0edb2524c5map"/>
			   <map name="id-1be0bccf7bff4822b601ee0edb2524c5map">
				  		<area shape="rect" coords="274,10,394,59" href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html"  target="element">
				  		<area shape="rect" coords="10,418,130,473" href="../elements/id-7b1de598f2714d7aaac89fc00aa0af62.html"  target="element">
				  				<area shape="rect" coords="543,130,640,167" href="../elements/id-e4ac44e2662f439fba15e62004fbdf39.html"  target="element">
				  				<area shape="rect" coords="435,130,532,167" href="../elements/id-0a65900f509845219b6aaf262a703249.html"  target="element">

				  		<area shape="rect" coords="411,94,664,191" href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html"  target="element">
				  				<area shape="rect" coords="142,130,239,167" href="../elements/id-4a4a666e28c84a58b59c4a2b87be50f4.html"  target="element">
				  				<area shape="rect" coords="34,130,131,167" href="../elements/id-9d142bf9a80544d5a8c8b19cf65ba88c.html"  target="element">

				  		<area shape="rect" coords="10,94,263,191" href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html"  target="element">
				  		<area shape="rect" coords="478,406,598,461" href="../elements/id-39218acd3cae41ed9b7529d89fce0de6.html"  target="element">
				  		<area shape="rect" coords="478,298,598,353" href="../elements/id-26731154ebd04dc3ad8df3536210cc09.html"  target="element">
				  		<area shape="rect" coords="10,322,130,377" href="../elements/id-a3a620bdcb2d4645b790ff0855abaeb3.html"  target="element">
				  		<area shape="rect" coords="10,226,130,281" href="../elements/id-e193e67b714d41f3aa22b0fbaffda9f0.html"  target="element">
				  		<area shape="rect" coords="195,376,315,431" href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element"> Task </a> </td>
											    <td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e193e67b714d41f3aa22b0fbaffda9f0.html" target="element"> Request Logic </a> </td>
											    <td> <a href="../elements/id-e193e67b714d41f3aa22b0fbaffda9f0.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3a620bdcb2d4645b790ff0855abaeb3.html" target="element"> Task Input Translator </a> </td>
											    <td> <a href="../elements/id-a3a620bdcb2d4645b790ff0855abaeb3.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26731154ebd04dc3ad8df3536210cc09.html" target="element"> Task Output Translator </a> </td>
											    <td> <a href="../elements/id-26731154ebd04dc3ad8df3536210cc09.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39218acd3cae41ed9b7529d89fce0de6.html" target="element"> Task Output </a> </td>
											    <td> <a href="../elements/id-39218acd3cae41ed9b7529d89fce0de6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
											    <td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9d142bf9a80544d5a8c8b19cf65ba88c.html" target="element"> Inputs </a> </td>
													    <td> <a href="../elements/id-9d142bf9a80544d5a8c8b19cf65ba88c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a4a666e28c84a58b59c4a2b87be50f4.html" target="element"> Options </a> </td>
													    <td> <a href="../elements/id-4a4a666e28c84a58b59c4a2b87be50f4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element"> Response </a> </td>
											    <td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0a65900f509845219b6aaf262a703249.html" target="element"> Outputs </a> </td>
													    <td> <a href="../elements/id-0a65900f509845219b6aaf262a703249.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e4ac44e2662f439fba15e62004fbdf39.html" target="element"> Notices </a> </td>
													    <td> <a href="../elements/id-e4ac44e2662f439fba15e62004fbdf39.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7b1de598f2714d7aaac89fc00aa0af62.html" target="element"> External Software </a> </td>
											    <td> <a href="../elements/id-7b1de598f2714d7aaac89fc00aa0af62.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element"> Service Runner </a> </td>
											    <td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-94a89c7162f14e018e99b3d669fe5a2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94a89c7162f14e018e99b3d669fe5a2c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element"> Task </a> </td>
																		<td> <a href="../elements/id-7b1de598f2714d7aaac89fc00aa0af62.html" target="element"> External Software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47bb1c50f9e841f6b5f3bc74081cd300.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47bb1c50f9e841f6b5f3bc74081cd300.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element"> Task </a> </td>
																		<td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element"> Task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2be0f84d3f794325b707994b4ee355a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2be0f84d3f794325b707994b4ee355a5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element"> Task </a> </td>
																		<td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-db7fb041140b4bff906bfb6e04bd4d3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db7fb041140b4bff906bfb6e04bd4d3e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e193e67b714d41f3aa22b0fbaffda9f0.html" target="element"> Request Logic </a> </td>
																		<td> <a href="../elements/id-a3a620bdcb2d4645b790ff0855abaeb3.html" target="element"> Task Input Translator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac2b5592df8d4a5a8c5ab874995e96d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac2b5592df8d4a5a8c5ab874995e96d6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26731154ebd04dc3ad8df3536210cc09.html" target="element"> Task Output Translator </a> </td>
																		<td> <a href="../elements/id-39218acd3cae41ed9b7529d89fce0de6.html" target="element"> Task Output </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f4084acd64f41efaa4ee7be2e38ddc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f4084acd64f41efaa4ee7be2e38ddc4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
																		<td> <a href="../elements/id-e193e67b714d41f3aa22b0fbaffda9f0.html" target="element"> Request Logic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95b014cd50ed46e2acb4bb2694026fa1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95b014cd50ed46e2acb4bb2694026fa1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
																		<td> <a href="../elements/id-9d142bf9a80544d5a8c8b19cf65ba88c.html" target="element"> Inputs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fadff146dea548b7a02858be89269a6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fadff146dea548b7a02858be89269a6c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
																		<td> <a href="../elements/id-4a4a666e28c84a58b59c4a2b87be50f4.html" target="element"> Options </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0eb2d947f6c74a3f9d32f76e3e3ca11f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0eb2d947f6c74a3f9d32f76e3e3ca11f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/id-0a65900f509845219b6aaf262a703249.html" target="element"> Outputs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bff37d4765594cdb93075b71de553ae6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bff37d4765594cdb93075b71de553ae6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/id-e4ac44e2662f439fba15e62004fbdf39.html" target="element"> Notices </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-49b5db3ce7764306a3ecd9ae7c1d7b30.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-49b5db3ce7764306a3ecd9ae7c1d7b30.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a65900f509845219b6aaf262a703249.html" target="element"> Outputs </a> </td>
																				<td> <a href="../elements/id-26731154ebd04dc3ad8df3536210cc09.html" target="element"> Task Output Translator </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c2eb7ed43ee8465599699a2a8f93957b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c2eb7ed43ee8465599699a2a8f93957b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e4ac44e2662f439fba15e62004fbdf39.html" target="element"> Notices </a> </td>
																				<td> <a href="../elements/id-26731154ebd04dc3ad8df3536210cc09.html" target="element"> Task Output Translator </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-83aa88e26d954b9785a10ee4aaa86ce9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83aa88e26d954b9785a10ee4aaa86ce9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element"> Service Runner </a> </td>
																		<td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-885d11d4d0da4037ab11057b8b64f32d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-885d11d4d0da4037ab11057b8b64f32d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element"> Service Runner </a> </td>
																		<td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element"> Response </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>