<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>MDaaS Developer Overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>MDaaS Developer Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1fafaa3a37df47c78fddc2de3ca05863.png" alt="MDaaS Developer Overview" usemap="#id-1fafaa3a37df47c78fddc2de3ca05863map"/>
			   <map name="id-1fafaa3a37df47c78fddc2de3ca05863map">
				          <area shape="rect" coords="570,526,954,552" href="../objects/id-3e2a63f55ee44bd09d3414beb73379d2.html" target="element" >
				          <area shape="rect" coords="569,490,953,516" href="../objects/id-cd22cadfef4e4a1cb6f372ad39cf4def.html" target="element" >
				          <area shape="rect" coords="570,382,954,408" href="../objects/id-49f43165f82a431090dae91ea623f65c.html" target="element" >
				  		<area shape="rect" coords="354,527,510,576" href="../elements/id-184c8410d9104aa5ad0447a1e3e7f416.html"  target="element">
				  		<area shape="rect" coords="354,454,510,503" href="../elements/id-6c5972ea8b6d49599d638c7d556e7181.html"  target="element">
				  		<area shape="rect" coords="354,382,510,431" href="../elements/id-2fdb0cd07009469ba09b6cdd2cf7c118.html"  target="element">
				  		<area shape="rect" coords="546,563,694,611" href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html"  target="element">
				  		<area shape="rect" coords="546,430,694,478" href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html"  target="element">
				  		<area shape="rect" coords="174,376,294,599" href="../elements/id-696cd990eaf94acfac4f42f62b962a6a.html"  target="element">
				  		<area shape="rect" coords="174,22,294,360" href="../elements/id-422561a344b74f3b8ce524d854559a05.html"  target="element">
				          <area shape="rect" coords="174,616,954,659" href="../objects/id-43a6c038326b448aa4321607184d9e44.html" target="element" >
				  		<area shape="rect" coords="10,10,130,659" href="../elements/id-31bfbfcdcdd341b5876a1302b586a641.html"  target="element">
				          <area shape="rect" coords="569,183,953,209" href="../objects/id-019610c963334607a61dfe775d34fa50.html" target="element" >
				  		<area shape="rect" coords="354,94,510,143" href="../elements/id-599508c725514a099d946d4e711bdbda.html"  target="element">
				  		<area shape="rect" coords="354,166,510,215" href="../elements/id-a6e9bcb70f39414ea9c71fb1b99f9ce6.html"  target="element">
				  		<area shape="rect" coords="546,274,694,322" href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html"  target="element">
				          <area shape="rect" coords="570,22,954,48" href="../objects/id-a0d5837c82af4e61b7cf7a24de61bc00.html" target="element" >
				          <area shape="rect" coords="570,334,954,360" href="../objects/id-0a1ae899d5c64a2298fc7f8b39f83b11.html" target="element" >
				  		<area shape="rect" coords="354,311,510,360" href="../elements/id-ca0206a4115549f780e61056a2bf1a03.html"  target="element">
				  		<area shape="rect" coords="546,130,694,178" href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html"  target="element">
				          <area shape="rect" coords="569,94,953,120" href="../objects/id-1b4ab79be2684390b71c096c24a168aa.html" target="element" >
				          <area shape="rect" coords="569,238,953,264" href="../objects/id-57ba649a52374af5b35defc78fe15970.html" target="element" >
				  		<area shape="rect" coords="354,238,510,287" href="../elements/id-b21f7e2b3fcc4b5e8bdbef7969f8fd90.html"  target="element">
				  		<area shape="rect" coords="354,22,510,71" href="../elements/id-0e018fff98b64f82a597abe603a5c66b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0e018fff98b64f82a597abe603a5c66b.html" target="element"> Set up MDaaS Directory </a> </td>
											    <td> <a href="../elements/id-0e018fff98b64f82a597abe603a5c66b.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b21f7e2b3fcc4b5e8bdbef7969f8fd90.html" target="element"> Build Slurm Submission Script </a> </td>
											    <td> <a href="../elements/id-b21f7e2b3fcc4b5e8bdbef7969f8fd90.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-57ba649a52374af5b35defc78fe15970.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-57ba649a52374af5b35defc78fe15970.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1b4ab79be2684390b71c096c24a168aa.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1b4ab79be2684390b71c096c24a168aa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html" target="element"> Amber module </a> </td>
											    <td> <a href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca0206a4115549f780e61056a2bf1a03.html" target="element"> Submit the MDaaS job </a> </td>
											    <td> <a href="../elements/id-ca0206a4115549f780e61056a2bf1a03.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-0a1ae899d5c64a2298fc7f8b39f83b11.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0a1ae899d5c64a2298fc7f8b39f83b11.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a0d5837c82af4e61b7cf7a24de61bc00.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a0d5837c82af4e61b7cf7a24de61bc00.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html" target="element"> Batchcompute Slurm Module </a> </td>
											    <td> <a href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6e9bcb70f39414ea9c71fb1b99f9ce6.html" target="element"> Set up Amber MD directory </a> </td>
											    <td> <a href="../elements/id-a6e9bcb70f39414ea9c71fb1b99f9ce6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-599508c725514a099d946d4e711bdbda.html" target="element"> Evaluate Amber Input Files </a> </td>
											    <td> <a href="../elements/id-599508c725514a099d946d4e711bdbda.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-019610c963334607a61dfe775d34fa50.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-019610c963334607a61dfe775d34fa50.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-31bfbfcdcdd341b5876a1302b586a641.html" target="element"> MDaaS Entity </a> </td>
											    <td> <a href="../elements/id-31bfbfcdcdd341b5876a1302b586a641.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-43a6c038326b448aa4321607184d9e44.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-43a6c038326b448aa4321607184d9e44.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-422561a344b74f3b8ce524d854559a05.html" target="element"> Run MD </a> </td>
											    <td> <a href="../elements/id-422561a344b74f3b8ce524d854559a05.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-696cd990eaf94acfac4f42f62b962a6a.html" target="element"> Evaluate MD </a> </td>
											    <td> <a href="../elements/id-696cd990eaf94acfac4f42f62b962a6a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html" target="element"> Amber module </a> </td>
											    <td> <a href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html" target="element"> Batchcompute Slurm Module </a> </td>
											    <td> <a href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fdb0cd07009469ba09b6cdd2cf7c118.html" target="element"> Check MDaaS Logs in Directory </a> </td>
											    <td> <a href="../elements/id-2fdb0cd07009469ba09b6cdd2cf7c118.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c5972ea8b6d49599d638c7d556e7181.html" target="element"> Amber checks files in Directory </a> </td>
											    <td> <a href="../elements/id-6c5972ea8b6d49599d638c7d556e7181.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-184c8410d9104aa5ad0447a1e3e7f416.html" target="element"> Query Slurm for Job Status </a> </td>
											    <td> <a href="../elements/id-184c8410d9104aa5ad0447a1e3e7f416.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-49f43165f82a431090dae91ea623f65c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-49f43165f82a431090dae91ea623f65c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cd22cadfef4e4a1cb6f372ad39cf4def.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cd22cadfef4e4a1cb6f372ad39cf4def.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3e2a63f55ee44bd09d3414beb73379d2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3e2a63f55ee44bd09d3414beb73379d2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a84fe50591184f72b40847894946863d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a84fe50591184f72b40847894946863d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e018fff98b64f82a597abe603a5c66b.html" target="element"> Set up MDaaS Directory </a> </td>
																		<td> <a href="../elements/id-599508c725514a099d946d4e711bdbda.html" target="element"> Evaluate Amber Input Files </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-718efa88dfb446d0b5f54b971f421181.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-718efa88dfb446d0b5f54b971f421181.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e018fff98b64f82a597abe603a5c66b.html" target="element"> Set up MDaaS Directory </a> </td>
																		<td> <a href="../elements/id-422561a344b74f3b8ce524d854559a05.html" target="element"> Run MD </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f428c70b3955495d8f72968b29951da5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f428c70b3955495d8f72968b29951da5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b21f7e2b3fcc4b5e8bdbef7969f8fd90.html" target="element"> Build Slurm Submission Script </a> </td>
																		<td> <a href="../elements/id-ca0206a4115549f780e61056a2bf1a03.html" target="element"> Submit the MDaaS job </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3527df91e0aa45988205ad15402b9bc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3527df91e0aa45988205ad15402b9bc6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b21f7e2b3fcc4b5e8bdbef7969f8fd90.html" target="element"> Build Slurm Submission Script </a> </td>
																		<td> <a href="../elements/id-422561a344b74f3b8ce524d854559a05.html" target="element"> Run MD </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-dbe758e5174747f59d9d0a091777676e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbe758e5174747f59d9d0a091777676e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html" target="element"> Amber module </a> </td>
																		<td> <a href="../elements/id-599508c725514a099d946d4e711bdbda.html" target="element"> Evaluate Amber Input Files </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69ad134158db4ec0bacc019f26d95591.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69ad134158db4ec0bacc019f26d95591.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html" target="element"> Amber module </a> </td>
																		<td> <a href="../elements/id-a6e9bcb70f39414ea9c71fb1b99f9ce6.html" target="element"> Set up Amber MD directory </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-666e259eb77a4f1e82804e2792f78d01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-666e259eb77a4f1e82804e2792f78d01.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca0206a4115549f780e61056a2bf1a03.html" target="element"> Submit the MDaaS job </a> </td>
																		<td> <a href="../elements/id-422561a344b74f3b8ce524d854559a05.html" target="element"> Run MD </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-7baf8e678c92410a9a5f3fd632623b8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7baf8e678c92410a9a5f3fd632623b8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html" target="element"> Batchcompute Slurm Module </a> </td>
																		<td> <a href="../elements/id-b21f7e2b3fcc4b5e8bdbef7969f8fd90.html" target="element"> Build Slurm Submission Script </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d497d56bcdc64289a4822b8d75d23c47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d497d56bcdc64289a4822b8d75d23c47.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html" target="element"> Batchcompute Slurm Module </a> </td>
																		<td> <a href="../elements/id-ca0206a4115549f780e61056a2bf1a03.html" target="element"> Submit the MDaaS job </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-265fabb132a644089f4b2102b569f170.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-265fabb132a644089f4b2102b569f170.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6e9bcb70f39414ea9c71fb1b99f9ce6.html" target="element"> Set up Amber MD directory </a> </td>
																		<td> <a href="../elements/id-b21f7e2b3fcc4b5e8bdbef7969f8fd90.html" target="element"> Build Slurm Submission Script </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f0d10cf8eee147fd93840314c7eabd6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0d10cf8eee147fd93840314c7eabd6d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6e9bcb70f39414ea9c71fb1b99f9ce6.html" target="element"> Set up Amber MD directory </a> </td>
																		<td> <a href="../elements/id-422561a344b74f3b8ce524d854559a05.html" target="element"> Run MD </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-191bfe8ed1ee4ec98c53d8a3ce050079.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-191bfe8ed1ee4ec98c53d8a3ce050079.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-599508c725514a099d946d4e711bdbda.html" target="element"> Evaluate Amber Input Files </a> </td>
																		<td> <a href="../elements/id-a6e9bcb70f39414ea9c71fb1b99f9ce6.html" target="element"> Set up Amber MD directory </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dfc3a2c3f2034e019ef04f7114aa5e70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfc3a2c3f2034e019ef04f7114aa5e70.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-599508c725514a099d946d4e711bdbda.html" target="element"> Evaluate Amber Input Files </a> </td>
																		<td> <a href="../elements/id-422561a344b74f3b8ce524d854559a05.html" target="element"> Run MD </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b001cae44e894ffb88a6a287dc3d0352.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b001cae44e894ffb88a6a287dc3d0352.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31bfbfcdcdd341b5876a1302b586a641.html" target="element"> MDaaS Entity </a> </td>
																		<td> <a href="../elements/id-422561a344b74f3b8ce524d854559a05.html" target="element"> Run MD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eeaa7f7350f94982ae6b46ed793a38f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eeaa7f7350f94982ae6b46ed793a38f0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31bfbfcdcdd341b5876a1302b586a641.html" target="element"> MDaaS Entity </a> </td>
																		<td> <a href="../elements/id-696cd990eaf94acfac4f42f62b962a6a.html" target="element"> Evaluate MD </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-954eae2308554862abd11b57cfd1a7ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-954eae2308554862abd11b57cfd1a7ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-88d0a1420706423eb0eadb3a14ddd10f.html" target="element"> Amber module </a> </td>
																		<td> <a href="../elements/id-6c5972ea8b6d49599d638c7d556e7181.html" target="element"> Amber checks files in Directory </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6dbf77b526784420a30ef85b987ce26e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dbf77b526784420a30ef85b987ce26e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-904cdb6cacba4ff78ca9db45e8e4c12e.html" target="element"> Batchcompute Slurm Module </a> </td>
																		<td> <a href="../elements/id-184c8410d9104aa5ad0447a1e3e7f416.html" target="element"> Query Slurm for Job Status </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a4362dbfc57b4cc093af5dea9e460071.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4362dbfc57b4cc093af5dea9e460071.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fdb0cd07009469ba09b6cdd2cf7c118.html" target="element"> Check MDaaS Logs in Directory </a> </td>
																		<td> <a href="../elements/id-6c5972ea8b6d49599d638c7d556e7181.html" target="element"> Amber checks files in Directory </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-733dc18d35014adc957744902ac00961.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-733dc18d35014adc957744902ac00961.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fdb0cd07009469ba09b6cdd2cf7c118.html" target="element"> Check MDaaS Logs in Directory </a> </td>
																		<td> <a href="../elements/id-696cd990eaf94acfac4f42f62b962a6a.html" target="element"> Evaluate MD </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1203efe298d48949e363b026379b906.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1203efe298d48949e363b026379b906.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5972ea8b6d49599d638c7d556e7181.html" target="element"> Amber checks files in Directory </a> </td>
																		<td> <a href="../elements/id-184c8410d9104aa5ad0447a1e3e7f416.html" target="element"> Query Slurm for Job Status </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9faf7ff103db45fd89a36037d3ac26c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9faf7ff103db45fd89a36037d3ac26c7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5972ea8b6d49599d638c7d556e7181.html" target="element"> Amber checks files in Directory </a> </td>
																		<td> <a href="../elements/id-696cd990eaf94acfac4f42f62b962a6a.html" target="element"> Evaluate MD </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fb00e5f17a41407ca273d7fa33b6985b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb00e5f17a41407ca273d7fa33b6985b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-184c8410d9104aa5ad0447a1e3e7f416.html" target="element"> Query Slurm for Job Status </a> </td>
																		<td> <a href="../elements/id-696cd990eaf94acfac4f42f62b962a6a.html" target="element"> Evaluate MD </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>