<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ENTERPRISE - GEMS Stakeholders</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ENTERPRISE - GEMS Stakeholders</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2b07c46b46be4383876e8474bb211659.png" alt="ENTERPRISE - GEMS Stakeholders" usemap="#id-2b07c46b46be4383876e8474bb211659map"/>
			   <map name="id-2b07c46b46be4383876e8474bb211659map">
				          <area shape="rect" coords="358,136,441,160" href="../objects/id-580595b7667c4e4b85391c0078c46e09.html" target="element" >
				          <area shape="rect" coords="742,55,814,83" href="../objects/id-668e15197f3b46f19dfb9d302fb1d8ba.html" target="element" >
				          <area shape="rect" coords="298,256,380,282" href="../objects/id-afa9793e03da4733a706f7bf7ce87625.html" target="element" >
				          <area shape="rect" coords="550,343,827,392" href="../objects/id-81b10d573f594860a5622c88619cbcb4.html" target="element" >
				          <area shape="rect" coords="166,244,241,270" href="../objects/id-02c971f57fd245c09766b664ab0a46e5.html" target="element" >
				          <area shape="rect" coords="1012,111,1085,137" href="../objects/id-7e23e8c976ed469a97e1110b88ff1fb7.html" target="element" >
				          <area shape="rect" coords="502,341,545,367" href="../objects/id-2abdc9bcc41d474eb5f51bdc169b06bb.html" target="element" >
				          <area shape="rect" coords="796,111,869,137" href="../objects/id-18398229d40f423b9985a8fbd1c97a04.html" target="element" >
				          <area shape="rect" coords="568,231,640,257" href="../objects/id-4f0b6676c18d4e99902b63ac42684486.html" target="element" >
				          <area shape="rect" coords="226,30,323,56" href="../objects/id-18d32af2e5894cf78bb8dffbff485f62.html" target="element" >
				          <area shape="rect" coords="766,19,849,45" href="../objects/id-009b01ae2de346c9bddbec5dd29560ee.html" target="element" >
				          <area shape="rect" coords="58,44,143,67" href="../objects/id-6b098e997bc3478b9889b28834e369a7.html" target="element" >
				  		<area shape="rect" coords="502,277,705,329" href="../elements/id-13f55ee7329b47ca824801fe82c964d0.html"  target="element">
				  		<area shape="rect" coords="880,82,1000,125" href="../elements/id-0caab359173b4375bba927d06d021205.html"  target="element">
				  		<area shape="rect" coords="952,202,1072,245" href="../elements/id-0a32b431e2724616a795c00e819a9f8c.html"  target="element">
				  		<area shape="rect" coords="952,154,1072,197" href="../elements/id-071c304b47f946329e4b0b45516a7892.html"  target="element">
				  		<area shape="rect" coords="808,154,928,197" href="../elements/id-c71bcb434bef4c0ca62bcd62e9500e53.html"  target="element">
				  		<area shape="rect" coords="808,202,928,245" href="../elements/id-0853e50372ab4503a606816842dcc077.html"  target="element">
				  		<area shape="rect" coords="424,169,730,224" href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html"  target="element">
				  		<area shape="rect" coords="178,298,335,353" href="../elements/id-9e3723bfbf054e7889a6c6f2f1f853be.html"  target="element">
				  		<area shape="rect" coords="178,82,335,137" href="../elements/id-f1fa128cc7394db1b3e4b1a419ddeb56.html"  target="element">
				  		<area shape="rect" coords="178,169,335,224" href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html"  target="element">
				  		<area shape="rect" coords="424,10,544,53" href="../elements/id-7d8ecfa2c1de4054aeb4fd610e60efa4.html"  target="element">
				  		<area shape="rect" coords="10,346,155,389" href="../elements/id-328cdbb6466248269d3dff9772483276.html"  target="element">
				  				<area shape="rect" coords="22,262,142,299" href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html"  target="element">
				  				<area shape="rect" coords="22,214,142,251" href="../elements/id-78e4b118fe6546d0aa2aa715ce338736.html"  target="element">
				  				<area shape="rect" coords="22,166,142,203" href="../elements/id-5ff0738b2fc840b7a979a2325911a110.html"  target="element">
				  				<area shape="rect" coords="22,118,142,155" href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html"  target="element">

				  		<area shape="rect" coords="10,82,155,311" href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html"  target="element">
				  		<area shape="rect" coords="562,10,730,53" href="../elements/id-19f58f55678144858889b56551d2f50e.html"  target="element">
				  		<area shape="rect" coords="856,341,1024,384" href="../elements/id-e409001b61804792971d2108ef7280dc.html"  target="element">
				  		<area shape="rect" coords="424,82,544,125" href="../elements/id-74c2a9fe15e748539389e2fc0836796d.html"  target="element">
				  		<area shape="rect" coords="856,281,1024,324" href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html"  target="element">
				  		<area shape="rect" coords="562,82,730,125" href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html" target="element"> Computer Science Students </a> </td>
											    <td> <a href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element"> Natural Science Students </a> </td>
											    <td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74c2a9fe15e748539389e2fc0836796d.html" target="element"> GEMS Developers </a> </td>
											    <td> <a href="../elements/id-74c2a9fe15e748539389e2fc0836796d.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e409001b61804792971d2108ef7280dc.html" target="element"> Little Knowledge of Computer Science </a> </td>
											    <td> <a href="../elements/id-e409001b61804792971d2108ef7280dc.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19f58f55678144858889b56551d2f50e.html" target="element"> Little Knowledge of Natural Science </a> </td>
											    <td> <a href="../elements/id-19f58f55678144858889b56551d2f50e.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
											    <td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html" target="element"> Website Users </a> </td>
													    <td> <a href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ff0738b2fc840b7a979a2325911a110.html" target="element"> GLYCAM-Web </a> </td>
													    <td> <a href="../elements/id-5ff0738b2fc840b7a979a2325911a110.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78e4b118fe6546d0aa2aa715ce338736.html" target="element"> CLI Users </a> </td>
													    <td> <a href="../elements/id-78e4b118fe6546d0aa2aa715ce338736.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element"> API Users </a> </td>
													    <td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-328cdbb6466248269d3dff9772483276.html" target="element"> GEMS Must Be Easy To Use </a> </td>
											    <td> <a href="../elements/id-328cdbb6466248269d3dff9772483276.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d8ecfa2c1de4054aeb4fd610e60efa4.html" target="element"> Little Time </a> </td>
											    <td> <a href="../elements/id-7d8ecfa2c1de4054aeb4fd610e60efa4.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
											    <td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1fa128cc7394db1b3e4b1a419ddeb56.html" target="element"> Represent all computing and scientific logic </a> </td>
											    <td> <a href="../elements/id-f1fa128cc7394db1b3e4b1a419ddeb56.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e3723bfbf054e7889a6c6f2f1f853be.html" target="element"> Easy to use and understand </a> </td>
											    <td> <a href="../elements/id-9e3723bfbf054e7889a6c6f2f1f853be.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
											    <td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element"> Arbitrary Interfaces </a> </td>
											    <td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c71bcb434bef4c0ca62bcd62e9500e53.html" target="element"> External Interfaces </a> </td>
											    <td> <a href="../elements/id-c71bcb434bef4c0ca62bcd62e9500e53.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-071c304b47f946329e4b0b45516a7892.html" target="element"> External Applications </a> </td>
											    <td> <a href="../elements/id-071c304b47f946329e4b0b45516a7892.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a32b431e2724616a795c00e819a9f8c.html" target="element"> Student Applications </a> </td>
											    <td> <a href="../elements/id-0a32b431e2724616a795c00e819a9f8c.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0caab359173b4375bba927d06d021205.html" target="element"> We have little control </a> </td>
											    <td> <a href="../elements/id-0caab359173b4375bba927d06d021205.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13f55ee7329b47ca824801fe82c964d0.html" target="element"> GEMS Must Bridge Interface Gap </a> </td>
											    <td> <a href="../elements/id-13f55ee7329b47ca824801fe82c964d0.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-6b098e997bc3478b9889b28834e369a7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6b098e997bc3478b9889b28834e369a7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-009b01ae2de346c9bddbec5dd29560ee.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-009b01ae2de346c9bddbec5dd29560ee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-18d32af2e5894cf78bb8dffbff485f62.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-18d32af2e5894cf78bb8dffbff485f62.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4f0b6676c18d4e99902b63ac42684486.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4f0b6676c18d4e99902b63ac42684486.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-18398229d40f423b9985a8fbd1c97a04.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-18398229d40f423b9985a8fbd1c97a04.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2abdc9bcc41d474eb5f51bdc169b06bb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2abdc9bcc41d474eb5f51bdc169b06bb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7e23e8c976ed469a97e1110b88ff1fb7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7e23e8c976ed469a97e1110b88ff1fb7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-02c971f57fd245c09766b664ab0a46e5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-02c971f57fd245c09766b664ab0a46e5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-81b10d573f594860a5622c88619cbcb4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-81b10d573f594860a5622c88619cbcb4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-afa9793e03da4733a706f7bf7ce87625.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-afa9793e03da4733a706f7bf7ce87625.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-668e15197f3b46f19dfb9d302fb1d8ba.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-668e15197f3b46f19dfb9d302fb1d8ba.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-580595b7667c4e4b85391c0078c46e09.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-580595b7667c4e4b85391c0078c46e09.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-78e0c63dd42742589e8006e171bb3598.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78e0c63dd42742589e8006e171bb3598.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html" target="element"> Computer Science Students </a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a3e1cff5204c421aa03650414596fb2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3e1cff5204c421aa03650414596fb2b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element"> Natural Science Students </a> </td>
																		<td> <a href="../elements/id-0a32b431e2724616a795c00e819a9f8c.html" target="element"> Student Applications </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ec47612fffc41988d1061b455698615.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ec47612fffc41988d1061b455698615.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e409001b61804792971d2108ef7280dc.html" target="element"> Little Knowledge of Computer Science </a> </td>
																		<td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element"> Natural Science Students </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-907c3757b8184a408886519063951114.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-907c3757b8184a408886519063951114.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19f58f55678144858889b56551d2f50e.html" target="element"> Little Knowledge of Natural Science </a> </td>
																		<td> <a href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html" target="element"> Computer Science Students </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-caf341ab9857451b84a0a3d8bf27afe9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-caf341ab9857451b84a0a3d8bf27afe9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
																		<td> <a href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html" target="element"> Website Users </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee20d989698e45f98acff38f7f55ff30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee20d989698e45f98acff38f7f55ff30.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
																		<td> <a href="../elements/id-5ff0738b2fc840b7a979a2325911a110.html" target="element"> GLYCAM-Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-546e89045a4643fb90d84e545f83dab6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-546e89045a4643fb90d84e545f83dab6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
																		<td> <a href="../elements/id-78e4b118fe6546d0aa2aa715ce338736.html" target="element"> CLI Users </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1656c945a26348958d5d2b9e9611540f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1656c945a26348958d5d2b9e9611540f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
																		<td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element"> API Users </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cb26fceb1a7c43759a9a64dcadde89ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb26fceb1a7c43759a9a64dcadde89ec.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-328cdbb6466248269d3dff9772483276.html" target="element"> GEMS Must Be Easy To Use </a> </td>
																		<td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2f71b93c7b744b5eba1c1e2603b0cd1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f71b93c7b744b5eba1c1e2603b0cd1f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d8ecfa2c1de4054aeb4fd610e60efa4.html" target="element"> Little Time </a> </td>
																		<td> <a href="../elements/id-74c2a9fe15e748539389e2fc0836796d.html" target="element"> GEMS Developers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7db4f22b4909475392febf1efe41d05c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7db4f22b4909475392febf1efe41d05c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
																		<td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f5b3e72b9f64fce802d3ee7375fe8be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f5b3e72b9f64fce802d3ee7375fe8be.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
																		<td> <a href="../elements/id-f1fa128cc7394db1b3e4b1a419ddeb56.html" target="element"> Represent all computing and scientific logic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd4374f1cc9040d7b06f978f4c10b625.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd4374f1cc9040d7b06f978f4c10b625.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
																		<td> <a href="../elements/id-9e3723bfbf054e7889a6c6f2f1f853be.html" target="element"> Easy to use and understand </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7a9a19a0e2bd4917bd78b75aad5e0f32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a9a19a0e2bd4917bd78b75aad5e0f32.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-74c2a9fe15e748539389e2fc0836796d.html" target="element"> GEMS Developers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b12996ae6b7f49a185fad05956fc25ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b12996ae6b7f49a185fad05956fc25ec.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-280266a38ca44764a38233db8d803106.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-280266a38ca44764a38233db8d803106.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-c71bcb434bef4c0ca62bcd62e9500e53.html" target="element"> External Interfaces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78bb62b23e394c7ca63b35930c797467.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78bb62b23e394c7ca63b35930c797467.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element"> Arbitrary Interfaces </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-01c57843ebaf434087106d8e2a3ec974.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01c57843ebaf434087106d8e2a3ec974.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element"> Arbitrary Interfaces </a> </td>
																		<td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element"> Natural Science Students </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5869792d9895436b81fbe5ff1003038d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5869792d9895436b81fbe5ff1003038d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element"> Arbitrary Interfaces </a> </td>
																		<td> <a href="../elements/id-0a32b431e2724616a795c00e819a9f8c.html" target="element"> Student Applications </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1d614944ec1b4885b80fe10056e965fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d614944ec1b4885b80fe10056e965fc.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c71bcb434bef4c0ca62bcd62e9500e53.html" target="element"> External Interfaces </a> </td>
																		<td> <a href="../elements/id-071c304b47f946329e4b0b45516a7892.html" target="element"> External Applications </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-799dac1336e4417d80b5ba98d1e99cd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-799dac1336e4417d80b5ba98d1e99cd7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0caab359173b4375bba927d06d021205.html" target="element"> We have little control </a> </td>
																		<td> <a href="../elements/id-c71bcb434bef4c0ca62bcd62e9500e53.html" target="element"> External Interfaces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d9788ec71ea47e89661cff21cd89d09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d9788ec71ea47e89661cff21cd89d09.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0caab359173b4375bba927d06d021205.html" target="element"> We have little control </a> </td>
																		<td> <a href="../elements/id-071c304b47f946329e4b0b45516a7892.html" target="element"> External Applications </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-648005ea44094c70880cc2dae397da32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-648005ea44094c70880cc2dae397da32.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13f55ee7329b47ca824801fe82c964d0.html" target="element"> GEMS Must Bridge Interface Gap </a> </td>
																		<td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb5df09bd8564b6f9619ae20632f3a84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb5df09bd8564b6f9619ae20632f3a84.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13f55ee7329b47ca824801fe82c964d0.html" target="element"> GEMS Must Bridge Interface Gap </a> </td>
																		<td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element"> Arbitrary Interfaces </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>