<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Edge Router</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Edge Router</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-375dbdb4995e4865aa244fc7e8f94a41.png" alt="Edge Router" usemap="#id-375dbdb4995e4865aa244fc7e8f94a41map"/>
			   <map name="id-375dbdb4995e4865aa244fc7e8f94a41map">
				  		<area shape="rect" coords="250,187,370,242" href="../elements/id-fd999abf5c1b49b09e46235edb92c722.html"  target="element">
				  		<area shape="rect" coords="610,187,730,242" href="../elements/id-62697f4f827842c6a12dad19efa695e3.html"  target="element">
				  		<area shape="rect" coords="10,106,131,323" href="../elements/id-e7845bef5c8648b3bbad624ce9319693.html"  target="element">
				  		<area shape="rect" coords="466,118,598,163" href="../elements/id-d031363663464b6f9df7a0156e499f0a.html"  target="element">
				  		<area shape="rect" coords="465,262,597,307" href="../elements/id-7147be65a64b4633bf2b59743f2765ac.html"  target="element">
				  		<area shape="rect" coords="10,10,107,71" href="../elements/id-dfd351ed579b4ef88ad31293a0eaf093.html"  target="element">
				  		<area shape="rect" coords="286,10,563,71" href="../elements/id-6eb7c6e0fe3f432e8bb84c9de66d8e78.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6eb7c6e0fe3f432e8bb84c9de66d8e78.html" target="element"> Lab Router </a> </td>
											    <td> <a href="../elements/id-6eb7c6e0fe3f432e8bb84c9de66d8e78.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfd351ed579b4ef88ad31293a0eaf093.html" target="element"> Internet </a> </td>
											    <td> <a href="../elements/id-dfd351ed579b4ef88ad31293a0eaf093.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7147be65a64b4633bf2b59743f2765ac.html" target="element"> Mills </a> </td>
											    <td> <a href="../elements/id-7147be65a64b4633bf2b59743f2765ac.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d031363663464b6f9df7a0156e499f0a.html" target="element"> Chukwuocha </a> </td>
											    <td> <a href="../elements/id-d031363663464b6f9df7a0156e499f0a.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e7845bef5c8648b3bbad624ce9319693.html" target="element"> CCRC Networking Cabinet Equipment </a> </td>
											    <td> <a href="../elements/id-e7845bef5c8648b3bbad624ce9319693.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62697f4f827842c6a12dad19efa695e3.html" target="element"> LAN-side Switch </a> </td>
											    <td> <a href="../elements/id-62697f4f827842c6a12dad19efa695e3.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd999abf5c1b49b09e46235edb92c722.html" target="element"> Wan-Side Switch </a> </td>
											    <td> <a href="../elements/id-fd999abf5c1b49b09e46235edb92c722.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8a0c631ed70442e5b0b850e6007a8a1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a0c631ed70442e5b0b850e6007a8a1b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dfd351ed579b4ef88ad31293a0eaf093.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-6eb7c6e0fe3f432e8bb84c9de66d8e78.html" target="element"> Lab Router </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-49cb9fc59fc94806b70bad4051a8863f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49cb9fc59fc94806b70bad4051a8863f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7147be65a64b4633bf2b59743f2765ac.html" target="element"> Mills </a> </td>
																		<td> <a href="../elements/id-62697f4f827842c6a12dad19efa695e3.html" target="element"> LAN-side Switch </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1d47bc99914647b2846e7588b1a5d4fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d47bc99914647b2846e7588b1a5d4fe.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d031363663464b6f9df7a0156e499f0a.html" target="element"> Chukwuocha </a> </td>
																		<td> <a href="../elements/id-62697f4f827842c6a12dad19efa695e3.html" target="element"> LAN-side Switch </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b9276fccc0634a77b0315d064ef60ee6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9276fccc0634a77b0315d064ef60ee6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e7845bef5c8648b3bbad624ce9319693.html" target="element"> CCRC Networking Cabinet Equipment </a> </td>
																		<td> <a href="../elements/id-d031363663464b6f9df7a0156e499f0a.html" target="element"> Chukwuocha </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8fba969512844ada73c047ac0cbbb43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8fba969512844ada73c047ac0cbbb43.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e7845bef5c8648b3bbad624ce9319693.html" target="element"> CCRC Networking Cabinet Equipment </a> </td>
																		<td> <a href="../elements/id-7147be65a64b4633bf2b59743f2765ac.html" target="element"> Mills </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0836ec0c64134bb5a116874a7cfa173f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0836ec0c64134bb5a116874a7cfa173f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e7845bef5c8648b3bbad624ce9319693.html" target="element"> CCRC Networking Cabinet Equipment </a> </td>
																		<td> <a href="../elements/id-fd999abf5c1b49b09e46235edb92c722.html" target="element"> Wan-Side Switch </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5bad578136ac44dabb1b8ea27535b672.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bad578136ac44dabb1b8ea27535b672.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd999abf5c1b49b09e46235edb92c722.html" target="element"> Wan-Side Switch </a> </td>
																		<td> <a href="../elements/id-d031363663464b6f9df7a0156e499f0a.html" target="element"> Chukwuocha </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d55aad816a9441be85df36b8cdf358c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d55aad816a9441be85df36b8cdf358c0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd999abf5c1b49b09e46235edb92c722.html" target="element"> Wan-Side Switch </a> </td>
																		<td> <a href="../elements/id-7147be65a64b4633bf2b59743f2765ac.html" target="element"> Mills </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>