<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SYSTEMS - Overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SYSTEMS - Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4ab78023326146c8bbbd6ef4c833499a.png" alt="SYSTEMS - Overview" usemap="#id-4ab78023326146c8bbbd6ef4c833499amap"/>
			   <map name="id-4ab78023326146c8bbbd6ef4c833499amap">
				          <area shape="rect" coords="357,82,418,110" href="../objects/id-b911ca9e6c504662ac17d27dbbe88596.html" target="element" >
				          <area shape="rect" coords="130,349,201,380" href="../objects/id-ce5bd7351b194d3fae07aaeaf0cb6641.html" target="element" >
				          <area shape="rect" coords="143,446,212,477" href="../objects/id-00797ff03c854a0b829698f71d3cb53f.html" target="element" >
				          <area shape="rect" coords="359,366,440,397" href="../objects/id-f410763bd37f406e917c42de5326ec3b.html" target="element" >
				          <area shape="rect" coords="131,109,224,136" href="../objects/id-76faa70665214238b4d64a0bfc9e3eab.html" target="element" >
				  		<area shape="rect" coords="430,145,550,200" href="../elements/id-1a7428fc82b14b32a7971ff6b62906bc.html"  target="element">
				  		<area shape="rect" coords="430,409,550,477" href="../elements/id-2a2ec208bd45459bb57a7a5180fa3b65.html"  target="element">
				  		<area shape="rect" coords="226,409,346,464" href="../elements/id-5d07dbf1d4a446c2bd7c971edc368996.html"  target="element">
				  		<area shape="rect" coords="226,145,346,200" href="../elements/id-156261951b1249f398edc303dc96e2d2.html"  target="element">
				  				<area shape="rect" coords="250,277,370,332" href="../elements/id-03760abf2d0c400786c0143921aa68a5.html"  target="element">
				  				<area shape="rect" coords="406,277,526,332" href="../elements/id-88696468c63c4e388b34c1491fcbc931.html"  target="element">

				  		<area shape="rect" coords="226,241,550,356" href="../elements/id-30d89b8017d04e938999446a210de5e0.html"  target="element">
				  		<area shape="rect" coords="19,476,120,531" href="../elements/id-760ce1a62b1648229768f439e2b39cef.html"  target="element">
				  		<area shape="rect" coords="19,289,120,344" href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html"  target="element">
				  		<area shape="rect" coords="235,10,336,95" href="../elements/id-ee24a23aee8548529ea639c6be503a17.html"  target="element">
				  		<area shape="rect" coords="439,34,540,71" href="../elements/id-f435d1fc647f4a4d8bbff5d40600ab17.html"  target="element">
				  		<area shape="rect" coords="10,385,130,428" href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html"  target="element">
				  		<area shape="rect" coords="19,217,120,260" href="../elements/id-176cc477b3ea42c4938c3e4e7c32c6cd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-176cc477b3ea42c4938c3e4e7c32c6cd.html" target="element"> Website User </a> </td>
											    <td> <a href="../elements/id-176cc477b3ea42c4938c3e4e7c32c6cd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element"> Encryption </a> </td>
											    <td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f435d1fc647f4a4d8bbff5d40600ab17.html" target="element"> Developer </a> </td>
											    <td> <a href="../elements/id-f435d1fc647f4a4d8bbff5d40600ab17.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element"> Developer's Machine </a> </td>
											    <td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html" target="element"> User's Machine </a> </td>
											    <td> <a href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-760ce1a62b1648229768f439e2b39cef.html" target="element"> Let's Encrypt </a> </td>
											    <td> <a href="../elements/id-760ce1a62b1648229768f439e2b39cef.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
											    <td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-88696468c63c4e388b34c1491fcbc931.html" target="element"> Testing Sites </a> </td>
													    <td> <a href="../elements/id-88696468c63c4e388b34c1491fcbc931.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03760abf2d0c400786c0143921aa68a5.html" target="element"> Production Sites </a> </td>
													    <td> <a href="../elements/id-03760abf2d0c400786c0143921aa68a5.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-156261951b1249f398edc303dc96e2d2.html" target="element"> Development Environment </a> </td>
											    <td> <a href="../elements/id-156261951b1249f398edc303dc96e2d2.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d07dbf1d4a446c2bd7c971edc368996.html" target="element"> Traefik </a> </td>
											    <td> <a href="../elements/id-5d07dbf1d4a446c2bd7c971edc368996.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a2ec208bd45459bb57a7a5180fa3b65.html" target="element"> High-Performance Computing Software </a> </td>
											    <td> <a href="../elements/id-2a2ec208bd45459bb57a7a5180fa3b65.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a7428fc82b14b32a7971ff6b62906bc.html" target="element"> DevEnv Git Repo </a> </td>
											    <td> <a href="../elements/id-1a7428fc82b14b32a7971ff6b62906bc.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-76faa70665214238b4d64a0bfc9e3eab.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-76faa70665214238b4d64a0bfc9e3eab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f410763bd37f406e917c42de5326ec3b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f410763bd37f406e917c42de5326ec3b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-00797ff03c854a0b829698f71d3cb53f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-00797ff03c854a0b829698f71d3cb53f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ce5bd7351b194d3fae07aaeaf0cb6641.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ce5bd7351b194d3fae07aaeaf0cb6641.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b911ca9e6c504662ac17d27dbbe88596.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b911ca9e6c504662ac17d27dbbe88596.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-826c8a7aa2b54b699eddac04098bfbbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-826c8a7aa2b54b699eddac04098bfbbb.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element"> Encryption </a> </td>
																		<td> <a href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html" target="element"> User's Machine </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8db812ba582e44c7a2bd51b8895d9f32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8db812ba582e44c7a2bd51b8895d9f32.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element"> Developer's Machine </a> </td>
																		<td> <a href="../elements/id-f435d1fc647f4a4d8bbff5d40600ab17.html" target="element"> Developer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5b8d5e63e0e4018bf4e09c3fb862b1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5b8d5e63e0e4018bf4e09c3fb862b1b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element"> Developer's Machine </a> </td>
																		<td> <a href="../elements/id-156261951b1249f398edc303dc96e2d2.html" target="element"> Development Environment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd48dd74b7e3469fbbf237288ddde9ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd48dd74b7e3469fbbf237288ddde9ad.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html" target="element"> User's Machine </a> </td>
																		<td> <a href="../elements/id-176cc477b3ea42c4938c3e4e7c32c6cd.html" target="element"> Website User </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1c64c83bdde3437a91e701f327ca3117.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c64c83bdde3437a91e701f327ca3117.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-760ce1a62b1648229768f439e2b39cef.html" target="element"> Let's Encrypt </a> </td>
																		<td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element"> Encryption </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6cee8485f3144458a03537ce3a929b90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cee8485f3144458a03537ce3a929b90.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																		<td> <a href="../elements/id-156261951b1249f398edc303dc96e2d2.html" target="element"> Development Environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ec893746c91940c5b51994c6addc606a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec893746c91940c5b51994c6addc606a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																		<td> <a href="../elements/id-5d07dbf1d4a446c2bd7c971edc368996.html" target="element"> Traefik </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42f40f0d468e4bbdb2d86d37e937c567.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42f40f0d468e4bbdb2d86d37e937c567.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																		<td> <a href="../elements/id-2a2ec208bd45459bb57a7a5180fa3b65.html" target="element"> High-Performance Computing Software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51aeaec29c82473dbc5a1a3b7a36c430.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51aeaec29c82473dbc5a1a3b7a36c430.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																		<td> <a href="../elements/id-88696468c63c4e388b34c1491fcbc931.html" target="element"> Testing Sites </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae3a01531b1c4dcc984c08626b74f100.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae3a01531b1c4dcc984c08626b74f100.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																		<td> <a href="../elements/id-03760abf2d0c400786c0143921aa68a5.html" target="element"> Production Sites </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-95d9642ccccd4973b99db17053532aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95d9642ccccd4973b99db17053532aad.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d07dbf1d4a446c2bd7c971edc368996.html" target="element"> Traefik </a> </td>
																		<td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element"> Encryption </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1dedcc0a843f4d93840a081adebd8f3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1dedcc0a843f4d93840a081adebd8f3f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7428fc82b14b32a7971ff6b62906bc.html" target="element"> DevEnv Git Repo </a> </td>
																		<td> <a href="../elements/id-156261951b1249f398edc303dc96e2d2.html" target="element"> Development Environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bde36128fcc24540ade1673d3897dac4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bde36128fcc24540ade1673d3897dac4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7428fc82b14b32a7971ff6b62906bc.html" target="element"> DevEnv Git Repo </a> </td>
																		<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>