<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GEMS - Service Package Tree Pair Components</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GEMS - Service Package Tree Pair Components</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4c38ae643e214b6f8c562cb3e3b6f240.png" alt="GEMS - Service Package Tree Pair Components" usemap="#id-4c38ae643e214b6f8c562cb3e3b6f240map"/>
			   <map name="id-4c38ae643e214b6f8c562cb3e3b6f240map">
				  		<area shape="rect" coords="562,370,682,419" href="../elements/id-0ce4915363694694b33d1c8af8d3a60d.html"  target="element">
				  		<area shape="rect" coords="532,190,712,239" href="../elements/id-bf7b3ce3bc1b42d38f07f84911e05ae4.html"  target="element">
				  		<area shape="rect" coords="58,190,238,239" href="../elements/id-b0cc70e9f1de4297b58424ef00e43148.html"  target="element">
				  		<area shape="rect" coords="274,190,394,239" href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html"  target="element">
				  		<area shape="rect" coords="75,277,220,326" href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html"  target="element">
				  				<area shape="rect" coords="514,46,743,95" href="../elements/id-d02cb3f04b1e43919ddd59cbe1b57846.html"  target="element">
				  				<area shape="rect" coords="34,46,263,95" href="../elements/id-2fb90ff2bc0e49ff8f8f4f0ec4c34c47.html"  target="element">

				  		<area shape="rect" coords="10,10,767,155" href="../elements/id-9d069ca5cbfe40ce95fbaffc47d7a5cf.html"  target="element">
				  		<area shape="rect" coords="549,277,694,326" href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html"  target="element">
				  		<area shape="rect" coords="382,370,502,419" href="../elements/id-1471bc9a28824f7a9f3e9bf3aca0d0dd.html"  target="element">
				  		<area shape="rect" coords="88,370,208,419" href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element"> Task </a> </td>
											    <td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1471bc9a28824f7a9f3e9bf3aca0d0dd.html" target="element"> Task Runner </a> </td>
											    <td> <a href="../elements/id-1471bc9a28824f7a9f3e9bf3aca0d0dd.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element"> Response </a> </td>
											    <td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9d069ca5cbfe40ce95fbaffc47d7a5cf.html" target="element"> Service Package Tree Pair </a> </td>
											    <td> <a href="../elements/id-9d069ca5cbfe40ce95fbaffc47d7a5cf.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2fb90ff2bc0e49ff8f8f4f0ec4c34c47.html" target="element"> Request Tree </a> </td>
													    <td> <a href="../elements/id-2fb90ff2bc0e49ff8f8f4f0ec4c34c47.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d02cb3f04b1e43919ddd59cbe1b57846.html" target="element"> Response Tree </a> </td>
													    <td> <a href="../elements/id-d02cb3f04b1e43919ddd59cbe1b57846.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
											    <td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element"> Service Runner </a> </td>
											    <td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b0cc70e9f1de4297b58424ef00e43148.html" target="element"> Request Package </a> </td>
											    <td> <a href="../elements/id-b0cc70e9f1de4297b58424ef00e43148.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf7b3ce3bc1b42d38f07f84911e05ae4.html" target="element"> Response Package </a> </td>
											    <td> <a href="../elements/id-bf7b3ce3bc1b42d38f07f84911e05ae4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ce4915363694694b33d1c8af8d3a60d.html" target="element"> Task output </a> </td>
											    <td> <a href="../elements/id-0ce4915363694694b33d1c8af8d3a60d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e79fc7e9cc0c48958ad8c8f192794844.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e79fc7e9cc0c48958ad8c8f192794844.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1471bc9a28824f7a9f3e9bf3aca0d0dd.html" target="element"> Task Runner </a> </td>
																		<td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element"> Task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20ac8f303ece469492d1d18fea23e73a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20ac8f303ece469492d1d18fea23e73a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1471bc9a28824f7a9f3e9bf3aca0d0dd.html" target="element"> Task Runner </a> </td>
																		<td> <a href="../elements/id-0ce4915363694694b33d1c8af8d3a60d.html" target="element"> Task output </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-330be20648034ae1923bab62a18e3be4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-330be20648034ae1923bab62a18e3be4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/id-0ce4915363694694b33d1c8af8d3a60d.html" target="element"> Task output </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-81427182f64b420a9ba0f2aa4d1e7ebd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81427182f64b420a9ba0f2aa4d1e7ebd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d069ca5cbfe40ce95fbaffc47d7a5cf.html" target="element"> Service Package Tree Pair </a> </td>
																		<td> <a href="../elements/id-2fb90ff2bc0e49ff8f8f4f0ec4c34c47.html" target="element"> Request Tree </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-012b2b4a3a7e4978afecf6516c35b1b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-012b2b4a3a7e4978afecf6516c35b1b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d069ca5cbfe40ce95fbaffc47d7a5cf.html" target="element"> Service Package Tree Pair </a> </td>
																		<td> <a href="../elements/id-d02cb3f04b1e43919ddd59cbe1b57846.html" target="element"> Response Tree </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca6731996b2c42f8b45139abb58df0c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca6731996b2c42f8b45139abb58df0c4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d069ca5cbfe40ce95fbaffc47d7a5cf.html" target="element"> Service Package Tree Pair </a> </td>
																		<td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element"> Service Runner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ebc6a1d86c8546b7812575a3c6150ac8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ebc6a1d86c8546b7812575a3c6150ac8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d069ca5cbfe40ce95fbaffc47d7a5cf.html" target="element"> Service Package Tree Pair </a> </td>
																		<td> <a href="../elements/id-1471bc9a28824f7a9f3e9bf3aca0d0dd.html" target="element"> Task Runner </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e531382c718547f38bd5a04567e1c957.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e531382c718547f38bd5a04567e1c957.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2fb90ff2bc0e49ff8f8f4f0ec4c34c47.html" target="element"> Request Tree </a> </td>
																				<td> <a href="../elements/id-b0cc70e9f1de4297b58424ef00e43148.html" target="element"> Request Package </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-59b02ebdd48e431997969082860f6778.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-59b02ebdd48e431997969082860f6778.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d02cb3f04b1e43919ddd59cbe1b57846.html" target="element"> Response Tree </a> </td>
																				<td> <a href="../elements/id-bf7b3ce3bc1b42d38f07f84911e05ae4.html" target="element"> Response Package </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-452dc321088a4e1e81956279efdcd20a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-452dc321088a4e1e81956279efdcd20a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
																		<td> <a href="../elements/id-9c759b9870a6440ab8da7bf60112066d.html" target="element"> Task </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bdbf0a09a66e41ab90ccd7f9406fe1d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bdbf0a09a66e41ab90ccd7f9406fe1d6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element"> Service Runner </a> </td>
																		<td> <a href="../elements/id-b0cc70e9f1de4297b58424ef00e43148.html" target="element"> Request Package </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ef3353e7ebd4f23be99e8a2dc1e3735.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ef3353e7ebd4f23be99e8a2dc1e3735.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ca058730b694d949b6c6505fbac0d3e.html" target="element"> Service Runner </a> </td>
																		<td> <a href="../elements/id-bf7b3ce3bc1b42d38f07f84911e05ae4.html" target="element"> Response Package </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-333ec392fbc244749675a19a75b71da8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-333ec392fbc244749675a19a75b71da8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0cc70e9f1de4297b58424ef00e43148.html" target="element"> Request Package </a> </td>
																		<td> <a href="../elements/id-cf999ebe50e14d97a55a0118962d576e.html" target="element"> Request </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f55996991f524babbfcc5411a4866542.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f55996991f524babbfcc5411a4866542.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf7b3ce3bc1b42d38f07f84911e05ae4.html" target="element"> Response Package </a> </td>
																		<td> <a href="../elements/id-954d6ea9ca7e4120afe21d6407cf91db.html" target="element"> Response </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>