<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GEMS - API Overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GEMS - API Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-60d7adb3d98a49cc9fa0d3449fdfd996.png" alt="GEMS - API Overview" usemap="#id-60d7adb3d98a49cc9fa0d3449fdfd996map"/>
			   <map name="id-60d7adb3d98a49cc9fa0d3449fdfd996map">
				  		<area shape="rect" coords="988,418,1084,455" href="../elements/id-35dbad73b78844fda570db68e35be25a.html"  target="element">
				  		<area shape="rect" coords="988,358,1084,395" href="../elements/id-82d15cc923f54940bd09651477cd3094.html"  target="element">
				  		<area shape="rect" coords="988,250,1084,287" href="../elements/id-381c8897fa874aee8ca3fdca967a13b9.html"  target="element">
				  		<area shape="rect" coords="988,190,1084,227" href="../elements/id-87300744380548bb95346d816f4b646b.html"  target="element">
				  		<area shape="rect" coords="862,358,959,395" href="../elements/id-91c3c3f401ed440da92e0550b2910a62.html"  target="element">
				  		<area shape="rect" coords="790,310,899,347" href="../elements/id-07ba93e722264a8893b890d7ffd9211a.html"  target="element">
				  		<area shape="rect" coords="730,262,839,299" href="../elements/id-4adeea64d5914301b9451fe5a17a9ce9.html"  target="element">
				  		<area shape="rect" coords="718,58,959,95" href="../elements/id-a238f79cfc60486eb791ccbb28bb2134.html"  target="element">
				  		<area shape="rect" coords="718,538,959,575" href="../elements/id-257c3973d5bb4b3bbad93d65bda52632.html"  target="element">
				  		<area shape="rect" coords="718,418,959,455" href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html"  target="element">
				  		<area shape="rect" coords="718,196,959,233" href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html"  target="element">
				          <area shape="rect" coords="1120,274,1193,347" href="../objects/id-02ab17e6c55b4b47aa83a23696004d5c.html" target="element" >
				          <area shape="rect" coords="718,10,831,45" href="../objects/id-f3b0e44d0ddb43a387c1b52db4427955.html" target="element" >
				  		        <area shape="rect" coords="562,154,640,215" href="../objects/id-548a32c87a85441da39fba744cca4846.html" target="element" >
				  		        <area shape="rect" coords="562,412,654,513" href="../objects/id-95d9e01be00a434e977c0cef9ecb7f13.html" target="element" >
				  		        <area shape="rect" coords="562,262,654,365" href="../objects/id-a220a8b9f16343e49071b03937283788.html" target="element" >
				  						<area shape="rect" coords="394,478,514,515" href="../elements/id-4bd00ba7f74942fdbdf5130cb0c55935.html"  target="element">
				  						<area shape="rect" coords="394,334,514,371" href="../elements/id-c1392be6894947eabee53827305d15cb.html"  target="element">
				  						<area shape="rect" coords="394,274,514,329" href="../elements/id-e4b133c7410e4479aeeed4529b471aee.html"  target="element">
				  						<area shape="rect" coords="394,418,514,473" href="../elements/id-9fdf9dc8890946eeabb1308006c0f579.html"  target="element">
				  						<area shape="rect" coords="394,214,514,269" href="../elements/id-599018f9ed5f418cb8d6e5e57e154793.html"  target="element">

				  				<area shape="rect" coords="382,154,539,539" href="../elements/id-6deb0049a83a46129bb9199fb8328378.html"  target="element">
				  		        <area shape="rect" coords="538,82,633,120" href="../objects/id-caee308aa9ed451cbaaadc9bfff2b048.html" target="element" >
				  				<area shape="rect" coords="382,82,502,120" href="../elements/id-902ce58e4935494ca24a944a59f4cc0a.html"  target="element">

				  		<area shape="rect" coords="370,10,683,587" href="../elements/id-2391ac8b7ff644e9b1bec156b71fde7e.html"  target="element">
				  		        <area shape="rect" coords="182,286,287,419" href="../objects/id-abadf84272d74e939d2ef15ff6e4eb53.html" target="element" >
				  		        <area shape="rect" coords="187,142,272,216" href="../objects/id-8dc07819088c44f2909b1bf17a13c397.html" target="element" >
				  		        <area shape="rect" coords="182,478,267,575" href="../objects/id-0f951baee3694be6bb3ee6efedf51fd9.html" target="element" >
				  						        <area shape="rect" coords="46,310,140,401" href="../objects/id-96c3ba9973584241be92a6a219586525.html" target="element" >

				  						<area shape="rect" coords="34,286,154,419" href="../elements/id-a93bfba4ea5c4169b829d70ede2e179a.html"  target="element">
				  						<area shape="rect" coords="34,526,154,563" href="../elements/id-dac2ba8149e04391939cdf1e28d047d0.html"  target="element">
				  						<area shape="rect" coords="34,478,154,515" href="../elements/id-6bf75ca4e4234b3ab78d0ab6221a507c.html"  target="element">

				  				<area shape="rect" coords="22,250,167,575" href="../elements/id-e75ec976b7a648118b52f52e860382ef.html"  target="element">
				  				<area shape="rect" coords="35,179,155,216" href="../elements/id-4e7d259a5d59470491b847e29813f765.html"  target="element">
				  				<area shape="rect" coords="35,130,155,167" href="../elements/id-b1a4c97101df4301b0044f6b98df3fec.html"  target="element">
				  				<area shape="rect" coords="35,58,155,95" href="../elements/id-59b00e5dd6f0439b8e9b2394f6bdd506.html"  target="element">

				  		<area shape="rect" coords="10,10,299,587" href="../elements/id-3d02c9d40089402697796b26269adad0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3d02c9d40089402697796b26269adad0.html" target="element"> GEMS JSON API </a> </td>
											    <td> <a href="../elements/id-3d02c9d40089402697796b26269adad0.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-59b00e5dd6f0439b8e9b2394f6bdd506.html" target="element"> Timestamp </a> </td>
													    <td> <a href="../elements/id-59b00e5dd6f0439b8e9b2394f6bdd506.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b1a4c97101df4301b0044f6b98df3fec.html" target="element"> Notices </a> </td>
													    <td> <a href="../elements/id-b1a4c97101df4301b0044f6b98df3fec.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4e7d259a5d59470491b847e29813f765.html" target="element"> Options </a> </td>
													    <td> <a href="../elements/id-4e7d259a5d59470491b847e29813f765.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e75ec976b7a648118b52f52e860382ef.html" target="element"> User Convenience </a> </td>
													    <td> <a href="../elements/id-e75ec976b7a648118b52f52e860382ef.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6bf75ca4e4234b3ab78d0ab6221a507c.html" target="element"> PrettyPrint </a> </td>
															    <td> <a href="../elements/id-6bf75ca4e4234b3ab78d0ab6221a507c.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dac2ba8149e04391939cdf1e28d047d0.html" target="element"> MdMinimize </a> </td>
															    <td> <a href="../elements/id-dac2ba8149e04391939cdf1e28d047d0.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a93bfba4ea5c4169b829d70ede2e179a.html" target="element"> Project </a> </td>
															    <td> <a href="../elements/id-a93bfba4ea5c4169b829d70ede2e179a.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															        <tr>
															           <td> <a href="../objects/id-96c3ba9973584241be92a6a219586525.html" target="element">  </a> </td>
															           <td> <a href="../objects/id-96c3ba9973584241be92a6a219586525.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
															        </tr>

															
													
											        <tr>
											           <td> <a href="../objects/id-0f951baee3694be6bb3ee6efedf51fd9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0f951baee3694be6bb3ee6efedf51fd9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8dc07819088c44f2909b1bf17a13c397.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8dc07819088c44f2909b1bf17a13c397.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-abadf84272d74e939d2ef15ff6e4eb53.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-abadf84272d74e939d2ef15ff6e4eb53.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-2391ac8b7ff644e9b1bec156b71fde7e.html" target="element"> Entity </a> </td>
											    <td> <a href="../elements/id-2391ac8b7ff644e9b1bec156b71fde7e.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-902ce58e4935494ca24a944a59f4cc0a.html" target="element"> entityType </a> </td>
													    <td> <a href="../elements/id-902ce58e4935494ca24a944a59f4cc0a.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-caee308aa9ed451cbaaadc9bfff2b048.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-caee308aa9ed451cbaaadc9bfff2b048.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-6deb0049a83a46129bb9199fb8328378.html" target="element"> User Convenience </a> </td>
													    <td> <a href="../elements/id-6deb0049a83a46129bb9199fb8328378.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-599018f9ed5f418cb8d6e5e57e154793.html" target="element"> Inputs - entity </a> </td>
															    <td> <a href="../elements/id-599018f9ed5f418cb8d6e5e57e154793.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9fdf9dc8890946eeabb1308006c0f579.html" target="element"> Outputs - entity </a> </td>
															    <td> <a href="../elements/id-9fdf9dc8890946eeabb1308006c0f579.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e4b133c7410e4479aeeed4529b471aee.html" target="element"> Procedural Options </a> </td>
															    <td> <a href="../elements/id-e4b133c7410e4479aeeed4529b471aee.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c1392be6894947eabee53827305d15cb.html" target="element"> Options </a> </td>
															    <td> <a href="../elements/id-c1392be6894947eabee53827305d15cb.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bd00ba7f74942fdbdf5130cb0c55935.html" target="element"> Notices </a> </td>
															    <td> <a href="../elements/id-4bd00ba7f74942fdbdf5130cb0c55935.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-a220a8b9f16343e49071b03937283788.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a220a8b9f16343e49071b03937283788.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-95d9e01be00a434e977c0cef9ecb7f13.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-95d9e01be00a434e977c0cef9ecb7f13.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-548a32c87a85441da39fba744cca4846.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-548a32c87a85441da39fba744cca4846.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-f3b0e44d0ddb43a387c1b52db4427955.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f3b0e44d0ddb43a387c1b52db4427955.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-02ab17e6c55b4b47aa83a23696004d5c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-02ab17e6c55b4b47aa83a23696004d5c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html" target="element"> Service (Service Request) </a> </td>
											    <td> <a href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html" target="element"> Response (Service Response) </a> </td>
											    <td> <a href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-257c3973d5bb4b3bbad93d65bda52632.html" target="element"> Responses (Service Responses) </a> </td>
											    <td> <a href="../elements/id-257c3973d5bb4b3bbad93d65bda52632.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a238f79cfc60486eb791ccbb28bb2134.html" target="element"> Services (Service Requests) </a> </td>
											    <td> <a href="../elements/id-a238f79cfc60486eb791ccbb28bb2134.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4adeea64d5914301b9451fe5a17a9ce9.html" target="element"> typeName </a> </td>
											    <td> <a href="../elements/id-4adeea64d5914301b9451fe5a17a9ce9.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-07ba93e722264a8893b890d7ffd9211a.html" target="element"> givenName </a> </td>
											    <td> <a href="../elements/id-07ba93e722264a8893b890d7ffd9211a.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-91c3c3f401ed440da92e0550b2910a62.html" target="element"> myUuid </a> </td>
											    <td> <a href="../elements/id-91c3c3f401ed440da92e0550b2910a62.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-87300744380548bb95346d816f4b646b.html" target="element"> Inputs </a> </td>
											    <td> <a href="../elements/id-87300744380548bb95346d816f4b646b.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-381c8897fa874aee8ca3fdca967a13b9.html" target="element"> Options </a> </td>
											    <td> <a href="../elements/id-381c8897fa874aee8ca3fdca967a13b9.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82d15cc923f54940bd09651477cd3094.html" target="element"> Outputs </a> </td>
											    <td> <a href="../elements/id-82d15cc923f54940bd09651477cd3094.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-35dbad73b78844fda570db68e35be25a.html" target="element"> Notices </a> </td>
											    <td> <a href="../elements/id-35dbad73b78844fda570db68e35be25a.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-02aa163e020d48ce9260f6fa494116dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02aa163e020d48ce9260f6fa494116dd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d02c9d40089402697796b26269adad0.html" target="element"> GEMS JSON API </a> </td>
																		<td> <a href="../elements/id-2391ac8b7ff644e9b1bec156b71fde7e.html" target="element"> Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eefb15d242ed44a481577ae35e30e874.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eefb15d242ed44a481577ae35e30e874.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d02c9d40089402697796b26269adad0.html" target="element"> GEMS JSON API </a> </td>
																		<td> <a href="../elements/id-59b00e5dd6f0439b8e9b2394f6bdd506.html" target="element"> Timestamp </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7dd1b28802bb4483a99bf80d475bedc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dd1b28802bb4483a99bf80d475bedc1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d02c9d40089402697796b26269adad0.html" target="element"> GEMS JSON API </a> </td>
																		<td> <a href="../elements/id-b1a4c97101df4301b0044f6b98df3fec.html" target="element"> Notices </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da206ee40f124f0ca66685055435c339.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da206ee40f124f0ca66685055435c339.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d02c9d40089402697796b26269adad0.html" target="element"> GEMS JSON API </a> </td>
																		<td> <a href="../elements/id-4e7d259a5d59470491b847e29813f765.html" target="element"> Options </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c1b25f8557a4fb8bb575f6e5b1af4af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c1b25f8557a4fb8bb575f6e5b1af4af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d02c9d40089402697796b26269adad0.html" target="element"> GEMS JSON API </a> </td>
																		<td> <a href="../elements/id-e75ec976b7a648118b52f52e860382ef.html" target="element"> User Convenience </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a0aba922f81145029647d69882bce5a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0aba922f81145029647d69882bce5a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e75ec976b7a648118b52f52e860382ef.html" target="element"> User Convenience </a> </td>
																				<td> <a href="../elements/id-6bf75ca4e4234b3ab78d0ab6221a507c.html" target="element"> PrettyPrint </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a801a7ca78594bfcaae209f01b6977a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a801a7ca78594bfcaae209f01b6977a9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e75ec976b7a648118b52f52e860382ef.html" target="element"> User Convenience </a> </td>
																				<td> <a href="../elements/id-dac2ba8149e04391939cdf1e28d047d0.html" target="element"> MdMinimize </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7fa42adad4774c1690cc969e74b04f96.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7fa42adad4774c1690cc969e74b04f96.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e75ec976b7a648118b52f52e860382ef.html" target="element"> User Convenience </a> </td>
																				<td> <a href="../elements/id-a93bfba4ea5c4169b829d70ede2e179a.html" target="element"> Project </a> </td>
																			</tr>

																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-a03d8cd23b4a44ff8cc721e26c36a325.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a03d8cd23b4a44ff8cc721e26c36a325.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2391ac8b7ff644e9b1bec156b71fde7e.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-902ce58e4935494ca24a944a59f4cc0a.html" target="element"> entityType </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b8b600700944532b4259b325bb19ffd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b8b600700944532b4259b325bb19ffd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2391ac8b7ff644e9b1bec156b71fde7e.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-6deb0049a83a46129bb9199fb8328378.html" target="element"> User Convenience </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f9b2bb198cd74e8088698845ccfc1cba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9b2bb198cd74e8088698845ccfc1cba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2391ac8b7ff644e9b1bec156b71fde7e.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-a238f79cfc60486eb791ccbb28bb2134.html" target="element"> Services (Service Requests) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2be444a9c3648e6a4b5f7726309108a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2be444a9c3648e6a4b5f7726309108a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2391ac8b7ff644e9b1bec156b71fde7e.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-257c3973d5bb4b3bbad93d65bda52632.html" target="element"> Responses (Service Responses) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-37d349b7b49445fb99e30c87ae9b7907.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37d349b7b49445fb99e30c87ae9b7907.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6deb0049a83a46129bb9199fb8328378.html" target="element"> User Convenience </a> </td>
																				<td> <a href="../elements/id-599018f9ed5f418cb8d6e5e57e154793.html" target="element"> Inputs - entity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d43f678a6c7046eda3d6ed4ada139d0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d43f678a6c7046eda3d6ed4ada139d0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6deb0049a83a46129bb9199fb8328378.html" target="element"> User Convenience </a> </td>
																				<td> <a href="../elements/id-9fdf9dc8890946eeabb1308006c0f579.html" target="element"> Outputs - entity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4ca84132bf1d478ba2dad03ce9e60ea1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ca84132bf1d478ba2dad03ce9e60ea1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6deb0049a83a46129bb9199fb8328378.html" target="element"> User Convenience </a> </td>
																				<td> <a href="../elements/id-e4b133c7410e4479aeeed4529b471aee.html" target="element"> Procedural Options </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f5549a2b546d48aebdbf4e4764d90a24.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5549a2b546d48aebdbf4e4764d90a24.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6deb0049a83a46129bb9199fb8328378.html" target="element"> User Convenience </a> </td>
																				<td> <a href="../elements/id-c1392be6894947eabee53827305d15cb.html" target="element"> Options </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-92b23cc6cff74eadb7dedbe05758846b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-92b23cc6cff74eadb7dedbe05758846b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6deb0049a83a46129bb9199fb8328378.html" target="element"> User Convenience </a> </td>
																				<td> <a href="../elements/id-4bd00ba7f74942fdbdf5130cb0c55935.html" target="element"> Notices </a> </td>
																			</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-a02a4337e9da499d88c9187aa770ae01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a02a4337e9da499d88c9187aa770ae01.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html" target="element"> Service (Service Request) </a> </td>
																		<td> <a href="../elements/id-4adeea64d5914301b9451fe5a17a9ce9.html" target="element"> typeName </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13d14122df1f4cbaa8a53c852bf0cfb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13d14122df1f4cbaa8a53c852bf0cfb2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html" target="element"> Service (Service Request) </a> </td>
																		<td> <a href="../elements/id-07ba93e722264a8893b890d7ffd9211a.html" target="element"> givenName </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4e040dcbf7f41338ebbe4d54fe0f74a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4e040dcbf7f41338ebbe4d54fe0f74a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html" target="element"> Service (Service Request) </a> </td>
																		<td> <a href="../elements/id-91c3c3f401ed440da92e0550b2910a62.html" target="element"> myUuid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bae1c9ac55b455f8f74bd31cf572b8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bae1c9ac55b455f8f74bd31cf572b8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html" target="element"> Service (Service Request) </a> </td>
																		<td> <a href="../elements/id-87300744380548bb95346d816f4b646b.html" target="element"> Inputs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6caf9a6cebf14e5a8b8ebc6161189656.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6caf9a6cebf14e5a8b8ebc6161189656.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html" target="element"> Service (Service Request) </a> </td>
																		<td> <a href="../elements/id-381c8897fa874aee8ca3fdca967a13b9.html" target="element"> Options </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-970ad028503a4711a90977d52a3da56b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-970ad028503a4711a90977d52a3da56b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html" target="element"> Response (Service Response) </a> </td>
																		<td> <a href="../elements/id-4adeea64d5914301b9451fe5a17a9ce9.html" target="element"> typeName </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b308efeebb0e43c78da46ab18fdaf9fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b308efeebb0e43c78da46ab18fdaf9fe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html" target="element"> Response (Service Response) </a> </td>
																		<td> <a href="../elements/id-07ba93e722264a8893b890d7ffd9211a.html" target="element"> givenName </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-35fc9474c1b34c879a682c7202cd0415.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35fc9474c1b34c879a682c7202cd0415.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html" target="element"> Response (Service Response) </a> </td>
																		<td> <a href="../elements/id-91c3c3f401ed440da92e0550b2910a62.html" target="element"> myUuid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d33696cce84f48a98b6ec63b179f6271.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d33696cce84f48a98b6ec63b179f6271.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html" target="element"> Response (Service Response) </a> </td>
																		<td> <a href="../elements/id-82d15cc923f54940bd09651477cd3094.html" target="element"> Outputs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90f7ac67e32b4c02bb278d60fb4a797e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90f7ac67e32b4c02bb278d60fb4a797e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html" target="element"> Response (Service Response) </a> </td>
																		<td> <a href="../elements/id-35dbad73b78844fda570db68e35be25a.html" target="element"> Notices </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00bcec49344c4f4e84f65a8fa33c7473.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00bcec49344c4f4e84f65a8fa33c7473.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-257c3973d5bb4b3bbad93d65bda52632.html" target="element"> Responses (Service Responses) </a> </td>
																		<td> <a href="../elements/id-f717b8a01055491fa773c85dd184a8dc.html" target="element"> Response (Service Response) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e217a548d85d433999277932b4703dbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e217a548d85d433999277932b4703dbc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a238f79cfc60486eb791ccbb28bb2134.html" target="element"> Services (Service Requests) </a> </td>
																		<td> <a href="../elements/id-012ee3a6c97240ccb2de769951bef96c.html" target="element"> Service (Service Request) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>