<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SYSTEMS - Physical Components</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SYSTEMS - Physical Components</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-725698b4a81d4914894ad6e68b5792de.png" alt="SYSTEMS - Physical Components" usemap="#id-725698b4a81d4914894ad6e68b5792demap"/>
			   <map name="id-725698b4a81d4914894ad6e68b5792demap">
				  				<area shape="rect" coords="190,525,310,580" href="../elements/id-21419e20e65d49e680d1043ac4a659d6.html"  target="element">
				  				<area shape="rect" coords="274,615,467,667" href="../elements/id-30d89b8017d04e938999446a210de5e0.html"  target="element">
				  				<area shape="rect" coords="418,536,599,591" href="../elements/id-abda8054f4dd4122a5479571395560cd.html"  target="element">
				  				<area shape="rect" coords="598,622,707,660" href="../elements/id-46fca231059d42f494fe7f44817d4e4c.html"  target="element">
				  						<area shape="rect" coords="802,608,922,657" href="../elements/id-c987c9e896774ffab39e50ebb284066b.html"  target="element">
				  						<area shape="rect" coords="802,560,922,609" href="../elements/id-3155515624e2419599ffaf963d79f67c.html"  target="element">

				  				<area shape="rect" coords="790,536,935,667" href="../elements/id-b5d1e44e44f54c6e8715d43c08fe0cf6.html"  target="element">

				  		<area shape="rect" coords="154,495,971,688" href="../elements/id-2b1cabd22fae436e8289947a10734559.html"  target="element">
				  		<area shape="rect" coords="19,441,120,496" href="../elements/id-760ce1a62b1648229768f439e2b39cef.html"  target="element">
				  						<area shape="rect" coords="394,394,514,431" href="../elements/id-8d96969dd28f461f8cb1fbab0cdbe353.html"  target="element">
				  						<area shape="rect" coords="718,385,838,440" href="../elements/id-5dd6af513f4b4cfa9fa5ac446ac5b192.html"  target="element">
				  						<area shape="rect" coords="550,385,670,440" href="../elements/id-61821605bf7b46099df11605d01f0055.html"  target="element">

				  				<area shape="rect" coords="382,358,876,467" href="../elements/id-42c51c6827e84eadb79593c3440247a3.html"  target="element">
				  				<area shape="rect" coords="190,322,310,377" href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html"  target="element">
				  				<area shape="rect" coords="557,70,677,125" href="../elements/id-a560789e61ae41f1804e21cc960242f3.html"  target="element">
				  				<area shape="rect" coords="538,286,658,341" href="../elements/id-d40b71f1282142e7a9bf795cf1e83a81.html"  target="element">
				  				<area shape="rect" coords="550,190,683,263" href="../elements/id-d4d5559255b14a8fb6ce1cd6ffa254fe.html"  target="element">
				  						<area shape="rect" coords="778,298,872,335" href="../elements/id-543987d91ca44730ba08f4929756f4ea.html"  target="element">
				  						<area shape="rect" coords="850,226,935,281" href="../elements/id-72354862780f4e338109c31e25ba22d8.html"  target="element">
				  						<area shape="rect" coords="718,76,838,131" href="../elements/id-6e6ac4edeb7044a79c2aa1e2f46d9f6c.html"  target="element">
				  						<area shape="rect" coords="718,226,838,281" href="../elements/id-23a83ecd8e0d47abac8e4653e95e28bb.html"  target="element">
				  						<area shape="rect" coords="850,160,935,215" href="../elements/id-e2447abdee95472fb63d70ab1d6050a9.html"  target="element">
				  						<area shape="rect" coords="850,88,935,143" href="../elements/id-71450102f8ca47b8ab1d865b3ed8c85b.html"  target="element">
				  						<area shape="rect" coords="718,148,838,203" href="../elements/id-f19301d80838442fb6c94cbc88886745.html"  target="element">

				  				<area shape="rect" coords="706,46,947,353" href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html"  target="element">
				  						<area shape="rect" coords="382,202,502,257" href="../elements/id-dfc0583706404619befac866554f9f18.html"  target="element">
				  						<area shape="rect" coords="209,202,329,257" href="../elements/id-bc0247978632484085b7d4b591376148.html"  target="element">
				  						<area shape="rect" coords="202,91,336,161" href="../elements/id-33d6232ab844430bbee1e5f4738e8d54.html"  target="element">
				  						<area shape="rect" coords="382,91,502,146" href="../elements/id-ca33bea5f6764edeb72d65714a61bd76.html"  target="element">

				  				<area shape="rect" coords="178,46,527,275" href="../elements/id-425f85c3428c46ef9cc3d223b7d57cad.html"  target="element">

				  		<area shape="rect" coords="154,10,971,484" href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html"  target="element">
				  		<area shape="rect" coords="19,579,120,634" href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html"  target="element">
				  		<area shape="rect" coords="15,243,116,328" href="../elements/id-ee24a23aee8548529ea639c6be503a17.html"  target="element">
				  		<area shape="rect" coords="15,183,116,220" href="../elements/id-f435d1fc647f4a4d8bbff5d40600ab17.html"  target="element">
				  		<area shape="rect" coords="10,519,130,562" href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html"  target="element">
				  		<area shape="rect" coords="19,645,120,688" href="../elements/id-176cc477b3ea42c4938c3e4e7c32c6cd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-176cc477b3ea42c4938c3e4e7c32c6cd.html" target="element"> Website User </a> </td>
											    <td> <a href="../elements/id-176cc477b3ea42c4938c3e4e7c32c6cd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element"> Encryption </a> </td>
											    <td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f435d1fc647f4a4d8bbff5d40600ab17.html" target="element"> Developer </a> </td>
											    <td> <a href="../elements/id-f435d1fc647f4a4d8bbff5d40600ab17.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element"> Developer's Machine </a> </td>
											    <td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html" target="element"> User's Machine </a> </td>
											    <td> <a href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
											    <td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-425f85c3428c46ef9cc3d223b7d57cad.html" target="element"> Website Code &amp; Data </a> </td>
													    <td> <a href="../elements/id-425f85c3428c46ef9cc3d223b7d57cad.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ca33bea5f6764edeb72d65714a61bd76.html" target="element"> Django MariaDB </a> </td>
															    <td> <a href="../elements/id-ca33bea5f6764edeb72d65714a61bd76.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-33d6232ab844430bbee1e5f4738e8d54.html" target="element"> Fixture Management DB Version Control </a> </td>
															    <td> <a href="../elements/id-33d6232ab844430bbee1e5f4738e8d54.html" target="element" class="i18n-elementtype-TechnologyProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bc0247978632484085b7d4b591376148.html" target="element"> NGINX Django Proxy </a> </td>
															    <td> <a href="../elements/id-bc0247978632484085b7d4b591376148.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dfc0583706404619befac866554f9f18.html" target="element"> Django Python </a> </td>
															    <td> <a href="../elements/id-dfc0583706404619befac866554f9f18.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
													    <td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element"> Slurm Head </a> </td>
															    <td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-71450102f8ca47b8ab1d865b3ed8c85b.html" target="element"> Slurm Amber </a> </td>
															    <td> <a href="../elements/id-71450102f8ca47b8ab1d865b3ed8c85b.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e2447abdee95472fb63d70ab1d6050a9.html" target="element"> Slurm MDaaS </a> </td>
															    <td> <a href="../elements/id-e2447abdee95472fb63d70ab1d6050a9.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-23a83ecd8e0d47abac8e4653e95e28bb.html" target="element"> Slurm Glycoprotein </a> </td>
															    <td> <a href="../elements/id-23a83ecd8e0d47abac8e4653e95e28bb.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6e6ac4edeb7044a79c2aa1e2f46d9f6c.html" target="element"> Slurm Glycomimetics </a> </td>
															    <td> <a href="../elements/id-6e6ac4edeb7044a79c2aa1e2f46d9f6c.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-72354862780f4e338109c31e25ba22d8.html" target="element"> Slurm Other </a> </td>
															    <td> <a href="../elements/id-72354862780f4e338109c31e25ba22d8.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-543987d91ca44730ba08f4929756f4ea.html" target="element"> GEMS &amp; GMML </a> </td>
															    <td> <a href="../elements/id-543987d91ca44730ba08f4929756f4ea.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d4d5559255b14a8fb6ce1cd6ffa254fe.html" target="element"> GRPC Delegator GEMS &amp; GMML </a> </td>
													    <td> <a href="../elements/id-d4d5559255b14a8fb6ce1cd6ffa254fe.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d40b71f1282142e7a9bf795cf1e83a81.html" target="element"> Local Disk </a> </td>
													    <td> <a href="../elements/id-d40b71f1282142e7a9bf795cf1e83a81.html" target="element" class="i18n-elementtype-Equipment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a560789e61ae41f1804e21cc960242f3.html" target="element"> Virtuoso </a> </td>
													    <td> <a href="../elements/id-a560789e61ae41f1804e21cc960242f3.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html" target="element"> NGINX Proxy </a> </td>
													    <td> <a href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-42c51c6827e84eadb79593c3440247a3.html" target="element"> Documentation </a> </td>
													    <td> <a href="../elements/id-42c51c6827e84eadb79593c3440247a3.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-61821605bf7b46099df11605d01f0055.html" target="element"> WordPress with Apache </a> </td>
															    <td> <a href="../elements/id-61821605bf7b46099df11605d01f0055.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5dd6af513f4b4cfa9fa5ac446ac5b192.html" target="element"> WordPress mariaDB </a> </td>
															    <td> <a href="../elements/id-5dd6af513f4b4cfa9fa5ac446ac5b192.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8d96969dd28f461f8cb1fbab0cdbe353.html" target="element"> MKDocs </a> </td>
															    <td> <a href="../elements/id-8d96969dd28f461f8cb1fbab0cdbe353.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-760ce1a62b1648229768f439e2b39cef.html" target="element"> Let's Encrypt </a> </td>
											    <td> <a href="../elements/id-760ce1a62b1648229768f439e2b39cef.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b1cabd22fae436e8289947a10734559.html" target="element"> Lab Hardware </a> </td>
											    <td> <a href="../elements/id-2b1cabd22fae436e8289947a10734559.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b5d1e44e44f54c6e8715d43c08fe0cf6.html" target="element"> HPC Clusters </a> </td>
													    <td> <a href="../elements/id-b5d1e44e44f54c6e8715d43c08fe0cf6.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3155515624e2419599ffaf963d79f67c.html" target="element"> Harper </a> </td>
															    <td> <a href="../elements/id-3155515624e2419599ffaf963d79f67c.html" target="element" class="i18n-elementtype-Equipment">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c987c9e896774ffab39e50ebb284066b.html" target="element"> Thoreau </a> </td>
															    <td> <a href="../elements/id-c987c9e896774ffab39e50ebb284066b.html" target="element" class="i18n-elementtype-Equipment">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-46fca231059d42f494fe7f44817d4e4c.html" target="element"> GRPC Connector </a> </td>
													    <td> <a href="../elements/id-46fca231059d42f494fe7f44817d4e4c.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abda8054f4dd4122a5479571395560cd.html" target="element"> Shared Filesystem Storage </a> </td>
													    <td> <a href="../elements/id-abda8054f4dd4122a5479571395560cd.html" target="element" class="i18n-elementtype-Equipment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
													    <td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21419e20e65d49e680d1043ac4a659d6.html" target="element"> Traefik </a> </td>
													    <td> <a href="../elements/id-21419e20e65d49e680d1043ac4a659d6.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-826c8a7aa2b54b699eddac04098bfbbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-826c8a7aa2b54b699eddac04098bfbbb.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element"> Encryption </a> </td>
																		<td> <a href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html" target="element"> User's Machine </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8db812ba582e44c7a2bd51b8895d9f32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8db812ba582e44c7a2bd51b8895d9f32.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element"> Developer's Machine </a> </td>
																		<td> <a href="../elements/id-f435d1fc647f4a4d8bbff5d40600ab17.html" target="element"> Developer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47a3c388ccf646f8871359cbbb9eaf7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47a3c388ccf646f8871359cbbb9eaf7f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element"> Developer's Machine </a> </td>
																		<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd48dd74b7e3469fbbf237288ddde9ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd48dd74b7e3469fbbf237288ddde9ad.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df6ec26baa424837a4682fd0cc86c3c1.html" target="element"> User's Machine </a> </td>
																		<td> <a href="../elements/id-176cc477b3ea42c4938c3e4e7c32c6cd.html" target="element"> Website User </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-74c48a521cd44edcb3837ee5585fe6e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74c48a521cd44edcb3837ee5585fe6e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																		<td> <a href="../elements/id-425f85c3428c46ef9cc3d223b7d57cad.html" target="element"> Website Code &amp; Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a9d9119d11d24e2b824df92ca60098ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9d9119d11d24e2b824df92ca60098ff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																		<td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22b81c8984904c0aa342a05c42fd20ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22b81c8984904c0aa342a05c42fd20ae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																		<td> <a href="../elements/id-d4d5559255b14a8fb6ce1cd6ffa254fe.html" target="element"> GRPC Delegator GEMS &amp; GMML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55191c56619d459a83739759a0c4c139.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55191c56619d459a83739759a0c4c139.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																		<td> <a href="../elements/id-d40b71f1282142e7a9bf795cf1e83a81.html" target="element"> Local Disk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6144f4385d964152a444c363ade494e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6144f4385d964152a444c363ade494e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																		<td> <a href="../elements/id-a560789e61ae41f1804e21cc960242f3.html" target="element"> Virtuoso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3b020bbcae5445281083fc61cbea681.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3b020bbcae5445281083fc61cbea681.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																		<td> <a href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html" target="element"> NGINX Proxy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e455ae734f784f62a97c025e23de4aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e455ae734f784f62a97c025e23de4aad.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																		<td> <a href="../elements/id-42c51c6827e84eadb79593c3440247a3.html" target="element"> Documentation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-372f12a2e9984cf79ff363ce6878bbd6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-372f12a2e9984cf79ff363ce6878bbd6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-425f85c3428c46ef9cc3d223b7d57cad.html" target="element"> Website Code &amp; Data </a> </td>
																				<td> <a href="../elements/id-ca33bea5f6764edeb72d65714a61bd76.html" target="element"> Django MariaDB </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8da5c8a78ac4476794466058737b9140.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8da5c8a78ac4476794466058737b9140.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-425f85c3428c46ef9cc3d223b7d57cad.html" target="element"> Website Code &amp; Data </a> </td>
																				<td> <a href="../elements/id-33d6232ab844430bbee1e5f4738e8d54.html" target="element"> Fixture Management DB Version Control </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-27315f75544f4129a5e7fac6f4b583c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-27315f75544f4129a5e7fac6f4b583c3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-425f85c3428c46ef9cc3d223b7d57cad.html" target="element"> Website Code &amp; Data </a> </td>
																				<td> <a href="../elements/id-bc0247978632484085b7d4b591376148.html" target="element"> NGINX Django Proxy </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1cbc50c6778843e3a41da258e8136a8f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1cbc50c6778843e3a41da258e8136a8f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-425f85c3428c46ef9cc3d223b7d57cad.html" target="element"> Website Code &amp; Data </a> </td>
																				<td> <a href="../elements/id-dfc0583706404619befac866554f9f18.html" target="element"> Django Python </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-b78534483f904d59ad889edd33446151.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b78534483f904d59ad889edd33446151.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-ca33bea5f6764edeb72d65714a61bd76.html" target="element"> Django MariaDB </a> </td>
																						<td> <a href="../elements/id-dfc0583706404619befac866554f9f18.html" target="element"> Django Python </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-e4d7c44bdfa64a4f837b8b31ebac31e1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e4d7c44bdfa64a4f837b8b31ebac31e1.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-33d6232ab844430bbee1e5f4738e8d54.html" target="element"> Fixture Management DB Version Control </a> </td>
																						<td> <a href="../elements/id-ca33bea5f6764edeb72d65714a61bd76.html" target="element"> Django MariaDB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-ea9561c024ab4212b58a012b0e04dd86.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ea9561c024ab4212b58a012b0e04dd86.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-33d6232ab844430bbee1e5f4738e8d54.html" target="element"> Fixture Management DB Version Control </a> </td>
																						<td> <a href="../elements/id-dfc0583706404619befac866554f9f18.html" target="element"> Django Python </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-0e0eccd3e3c14ae48bc7992545e099f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-0e0eccd3e3c14ae48bc7992545e099f7.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-bc0247978632484085b7d4b591376148.html" target="element"> NGINX Django Proxy </a> </td>
																						<td> <a href="../elements/id-dfc0583706404619befac866554f9f18.html" target="element"> Django Python </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-74760b4d028e40a28a7a76936a9e4420.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74760b4d028e40a28a7a76936a9e4420.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
																				<td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element"> Slurm Head </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fa38dccb62f542239f5d3ccef82d10d3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fa38dccb62f542239f5d3ccef82d10d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
																				<td> <a href="../elements/id-71450102f8ca47b8ab1d865b3ed8c85b.html" target="element"> Slurm Amber </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5a0d6157a77e4ed297ae3724d18ea800.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a0d6157a77e4ed297ae3724d18ea800.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
																				<td> <a href="../elements/id-e2447abdee95472fb63d70ab1d6050a9.html" target="element"> Slurm MDaaS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-00adddec5afc48c29a28af3567af1604.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-00adddec5afc48c29a28af3567af1604.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
																				<td> <a href="../elements/id-23a83ecd8e0d47abac8e4653e95e28bb.html" target="element"> Slurm Glycoprotein </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74226942598947d2ad16e30ab7bfcd2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74226942598947d2ad16e30ab7bfcd2c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
																				<td> <a href="../elements/id-6e6ac4edeb7044a79c2aa1e2f46d9f6c.html" target="element"> Slurm Glycomimetics </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-de782f82d51746978b0453b72810cf0a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-de782f82d51746978b0453b72810cf0a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
																				<td> <a href="../elements/id-72354862780f4e338109c31e25ba22d8.html" target="element"> Slurm Other </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0d1e7bea94e646fc99d46a9e7e7f9910.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d1e7bea94e646fc99d46a9e7e7f9910.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-030e25eef91d47fca80ef83c4ac32824.html" target="element"> Slurm </a> </td>
																				<td> <a href="../elements/id-543987d91ca44730ba08f4929756f4ea.html" target="element"> GEMS &amp; GMML </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e0915da1db294b62ac86f7a656e9ce3b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e0915da1db294b62ac86f7a656e9ce3b.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element"> Slurm Head </a> </td>
																						<td> <a href="../elements/id-71450102f8ca47b8ab1d865b3ed8c85b.html" target="element"> Slurm Amber </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-98cbb462f29b4911b813178485c4aee7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-98cbb462f29b4911b813178485c4aee7.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element"> Slurm Head </a> </td>
																						<td> <a href="../elements/id-6e6ac4edeb7044a79c2aa1e2f46d9f6c.html" target="element"> Slurm Glycomimetics </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d89643c1fe634fb087c30cb7df8aa582.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d89643c1fe634fb087c30cb7df8aa582.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element"> Slurm Head </a> </td>
																						<td> <a href="../elements/id-23a83ecd8e0d47abac8e4653e95e28bb.html" target="element"> Slurm Glycoprotein </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-7939dbcb4c7444eda39aa596cad88543.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7939dbcb4c7444eda39aa596cad88543.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element"> Slurm Head </a> </td>
																						<td> <a href="../elements/id-e2447abdee95472fb63d70ab1d6050a9.html" target="element"> Slurm MDaaS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-3e7f304d490e43dabb37c2fd480585bd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3e7f304d490e43dabb37c2fd480585bd.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element"> Slurm Head </a> </td>
																						<td> <a href="../elements/id-72354862780f4e338109c31e25ba22d8.html" target="element"> Slurm Other </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-63b493cadce141fb8344c33896e8182c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63b493cadce141fb8344c33896e8182c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4d5559255b14a8fb6ce1cd6ffa254fe.html" target="element"> GRPC Delegator GEMS &amp; GMML </a> </td>
																				<td> <a href="../elements/id-dfc0583706404619befac866554f9f18.html" target="element"> Django Python </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-798bb059fafd4b9fb7fa1ab4ef7df990.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-798bb059fafd4b9fb7fa1ab4ef7df990.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4d5559255b14a8fb6ce1cd6ffa254fe.html" target="element"> GRPC Delegator GEMS &amp; GMML </a> </td>
																				<td> <a href="../elements/id-f19301d80838442fb6c94cbc88886745.html" target="element"> Slurm Head </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b8e13e027b564a888fc5fa8e0446c438.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8e13e027b564a888fc5fa8e0446c438.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4d5559255b14a8fb6ce1cd6ffa254fe.html" target="element"> GRPC Delegator GEMS &amp; GMML </a> </td>
																				<td> <a href="../elements/id-a560789e61ae41f1804e21cc960242f3.html" target="element"> Virtuoso </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-06248749cf8d472d93fd96c269e9eb81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-06248749cf8d472d93fd96c269e9eb81.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html" target="element"> NGINX Proxy </a> </td>
																				<td> <a href="../elements/id-bc0247978632484085b7d4b591376148.html" target="element"> NGINX Django Proxy </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e1e446fb0efd4383972984573abd14c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e1e446fb0efd4383972984573abd14c7.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html" target="element"> NGINX Proxy </a> </td>
																				<td> <a href="../elements/id-8d96969dd28f461f8cb1fbab0cdbe353.html" target="element"> MKDocs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d6b98c39b42e493580f9f8590615aae0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d6b98c39b42e493580f9f8590615aae0.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html" target="element"> NGINX Proxy </a> </td>
																				<td> <a href="../elements/id-61821605bf7b46099df11605d01f0055.html" target="element"> WordPress with Apache </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f14df43fffdb464ba321bcb63690e652.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f14df43fffdb464ba321bcb63690e652.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html" target="element"> NGINX Proxy </a> </td>
																				<td> <a href="../elements/id-ee24a23aee8548529ea639c6be503a17.html" target="element"> Developer's Machine </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-04b2dd9c92e94c27b2b220fc4597e05a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-04b2dd9c92e94c27b2b220fc4597e05a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-42c51c6827e84eadb79593c3440247a3.html" target="element"> Documentation </a> </td>
																				<td> <a href="../elements/id-61821605bf7b46099df11605d01f0055.html" target="element"> WordPress with Apache </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c4e6808e56ce48389ceac0c737b1fdf5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c4e6808e56ce48389ceac0c737b1fdf5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-42c51c6827e84eadb79593c3440247a3.html" target="element"> Documentation </a> </td>
																				<td> <a href="../elements/id-5dd6af513f4b4cfa9fa5ac446ac5b192.html" target="element"> WordPress mariaDB </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b43901ea08dc45e0a216e953dc896466.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b43901ea08dc45e0a216e953dc896466.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-42c51c6827e84eadb79593c3440247a3.html" target="element"> Documentation </a> </td>
																				<td> <a href="../elements/id-8d96969dd28f461f8cb1fbab0cdbe353.html" target="element"> MKDocs </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-5cd345a9f26f41548d1f6ae25ade039e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5cd345a9f26f41548d1f6ae25ade039e.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5dd6af513f4b4cfa9fa5ac446ac5b192.html" target="element"> WordPress mariaDB </a> </td>
																						<td> <a href="../elements/id-61821605bf7b46099df11605d01f0055.html" target="element"> WordPress with Apache </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-1c64c83bdde3437a91e701f327ca3117.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c64c83bdde3437a91e701f327ca3117.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-760ce1a62b1648229768f439e2b39cef.html" target="element"> Let's Encrypt </a> </td>
																		<td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element"> Encryption </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0faeeb0e0dd4c1691d5ce4c296de14f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0faeeb0e0dd4c1691d5ce4c296de14f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b1cabd22fae436e8289947a10734559.html" target="element"> Lab Hardware </a> </td>
																		<td> <a href="../elements/id-b5d1e44e44f54c6e8715d43c08fe0cf6.html" target="element"> HPC Clusters </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a803a336c5234f088c578f4202482bb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a803a336c5234f088c578f4202482bb4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b1cabd22fae436e8289947a10734559.html" target="element"> Lab Hardware </a> </td>
																		<td> <a href="../elements/id-46fca231059d42f494fe7f44817d4e4c.html" target="element"> GRPC Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b7f2da10f1549e38f5bb7dd3e030091.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b7f2da10f1549e38f5bb7dd3e030091.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b1cabd22fae436e8289947a10734559.html" target="element"> Lab Hardware </a> </td>
																		<td> <a href="../elements/id-abda8054f4dd4122a5479571395560cd.html" target="element"> Shared Filesystem Storage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-002e8fa0aa434a6e9d168ba60a01ffd1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-002e8fa0aa434a6e9d168ba60a01ffd1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b1cabd22fae436e8289947a10734559.html" target="element"> Lab Hardware </a> </td>
																		<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-399783e2c7c14da18bd3af0484aea4a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-399783e2c7c14da18bd3af0484aea4a8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b1cabd22fae436e8289947a10734559.html" target="element"> Lab Hardware </a> </td>
																		<td> <a href="../elements/id-21419e20e65d49e680d1043ac4a659d6.html" target="element"> Traefik </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1e56167dacdc40afb3c419640b6408f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1e56167dacdc40afb3c419640b6408f6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b5d1e44e44f54c6e8715d43c08fe0cf6.html" target="element"> HPC Clusters </a> </td>
																				<td> <a href="../elements/id-3155515624e2419599ffaf963d79f67c.html" target="element"> Harper </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e82a8a7b2054688914e26c77204d7e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e82a8a7b2054688914e26c77204d7e9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b5d1e44e44f54c6e8715d43c08fe0cf6.html" target="element"> HPC Clusters </a> </td>
																				<td> <a href="../elements/id-c987c9e896774ffab39e50ebb284066b.html" target="element"> Thoreau </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-be3fd6d5d12a4fd3b52290fadda0d09b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-be3fd6d5d12a4fd3b52290fadda0d09b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-46fca231059d42f494fe7f44817d4e4c.html" target="element"> GRPC Connector </a> </td>
																				<td> <a href="../elements/id-b5d1e44e44f54c6e8715d43c08fe0cf6.html" target="element"> HPC Clusters </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-578f4118581a4429bbd2607dd7669a68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-578f4118581a4429bbd2607dd7669a68.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-46fca231059d42f494fe7f44817d4e4c.html" target="element"> GRPC Connector </a> </td>
																				<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e7dba3644a414ca682de6d13c3eb249f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e7dba3644a414ca682de6d13c3eb249f.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abda8054f4dd4122a5479571395560cd.html" target="element"> Shared Filesystem Storage </a> </td>
																				<td> <a href="../elements/id-b5d1e44e44f54c6e8715d43c08fe0cf6.html" target="element"> HPC Clusters </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-95a430cc48c04af1b902da1d6e3d9cbd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95a430cc48c04af1b902da1d6e3d9cbd.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abda8054f4dd4122a5479571395560cd.html" target="element"> Shared Filesystem Storage </a> </td>
																				<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6622228055364c4784b30163878b557c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6622228055364c4784b30163878b557c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abda8054f4dd4122a5479571395560cd.html" target="element"> Shared Filesystem Storage </a> </td>
																				<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c291cf03ce394a3598f87b4c9b706eec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c291cf03ce394a3598f87b4c9b706eec.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																				<td> <a href="../elements/id-7bd42bdd752b4b5caf3a79efb0034668.html" target="element"> Development Environment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c37887e14b0b4e5fbff1fd26262bec44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c37887e14b0b4e5fbff1fd26262bec44.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30d89b8017d04e938999446a210de5e0.html" target="element"> Docker Swarm </a> </td>
																				<td> <a href="../elements/id-21419e20e65d49e680d1043ac4a659d6.html" target="element"> Traefik </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8169a597fe29440cb7fdd66ba8894ed4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8169a597fe29440cb7fdd66ba8894ed4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-21419e20e65d49e680d1043ac4a659d6.html" target="element"> Traefik </a> </td>
																				<td> <a href="../elements/id-b53baa6668fc437b90b7d52de86fe0ab.html" target="element"> Encryption </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-698f9207afb6419c833530818166d2e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-698f9207afb6419c833530818166d2e1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-21419e20e65d49e680d1043ac4a659d6.html" target="element"> Traefik </a> </td>
																				<td> <a href="../elements/id-5f86ae9078e642e7a7dd778d011b8829.html" target="element"> NGINX Proxy </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>