<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GEMS - New Delegator design</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GEMS - New Delegator design</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8096f39d1c5141818f9c1008932b6947.png" alt="GEMS - New Delegator design" usemap="#id-8096f39d1c5141818f9c1008932b6947map"/>
			   <map name="id-8096f39d1c5141818f9c1008932b6947map">
				  		<area shape="rect" coords="778,94,898,227" href="../elements/id-a557a65232fa473b802e735fec6a7a23.html"  target="element">
				  		<area shape="rect" coords="910,70,1030,293" href="../elements/id-31f8035bf94f43b7a2ec990525cdd635.html"  target="element">
				  				<area shape="rect" coords="490,442,610,497" href="../elements/id-9cc16aaa7a6743ed8a96b66fe77a85a8.html"  target="element">
				  				<area shape="rect" coords="334,442,454,497" href="../elements/id-142f4a0a6b2c4201961602be4402d830.html"  target="element">
				  						<area shape="rect" coords="154,466,274,521" href="../elements/id-55b73ce2666649a1997dd4422ae30cf1.html"  target="element">

				  				<area shape="rect" coords="118,418,311,551" href="../elements/id-f055013e88bf4d81a892e298a8865223.html"  target="element">

				  		<area shape="rect" coords="70,370,635,575" href="../elements/id-efae55668e124a009b9d1049843483c4.html"  target="element">
				  				<area shape="rect" coords="598,94,718,149" href="../elements/id-926c57a77cf244cbb4479fe20ba2320b.html"  target="element">
				  				<area shape="rect" coords="58,58,178,113" href="../elements/id-b8da9466f973457aae16dc3f0fa426d6.html"  target="element">
				  				<area shape="rect" coords="58,214,178,269" href="../elements/id-0e0036bcca394833a2eb74e92a26873c.html"  target="element">
				  				<area shape="rect" coords="442,214,562,269" href="../elements/id-95dd875f6ac5421cb238281595cd94a6.html"  target="element">
				  				<area shape="rect" coords="598,154,718,209" href="../elements/id-2d83268b563c439badb26e99b6eb8b2f.html"  target="element">
				  				<area shape="rect" coords="598,34,718,89" href="../elements/id-01ca56ea3507460cbc5488ddbb52b892.html"  target="element">
				  						<area shape="rect" coords="250,94,370,149" href="../elements/id-93b1137b23a542379188491a82df4f38.html"  target="element">

				  				<area shape="rect" coords="214,46,407,167" href="../elements/id-8d7a9e60af86458881f54df404fa29c5.html"  target="element">
				  				<area shape="rect" coords="442,79,562,134" href="../elements/id-84f6e3d1810548698937285a1e762ee3.html"  target="element">

				  		<area shape="rect" coords="10,10,767,299" href="../elements/id-21221e303ebe46a5a087880cbde9637c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
											    <td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-84f6e3d1810548698937285a1e762ee3.html" target="element"> Is Delegator the Entity? </a> </td>
													    <td> <a href="../elements/id-84f6e3d1810548698937285a1e762ee3.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d7a9e60af86458881f54df404fa29c5.html" target="element"> Inspect Incoming JSON </a> </td>
													    <td> <a href="../elements/id-8d7a9e60af86458881f54df404fa29c5.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-93b1137b23a542379188491a82df4f38.html" target="element"> Use Simplified Pydantic-JSON </a> </td>
															    <td> <a href="../elements/id-93b1137b23a542379188491a82df4f38.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-01ca56ea3507460cbc5488ddbb52b892.html" target="element"> Send JSON to other Entity </a> </td>
													    <td> <a href="../elements/id-01ca56ea3507460cbc5488ddbb52b892.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d83268b563c439badb26e99b6eb8b2f.html" target="element"> Send JSON to Delegator Entity </a> </td>
													    <td> <a href="../elements/id-2d83268b563c439badb26e99b6eb8b2f.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-95dd875f6ac5421cb238281595cd94a6.html" target="element"> Receive Outgoing JSON Object </a> </td>
													    <td> <a href="../elements/id-95dd875f6ac5421cb238281595cd94a6.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e0036bcca394833a2eb74e92a26873c.html" target="element"> Return Outgoing JSON Object </a> </td>
													    <td> <a href="../elements/id-0e0036bcca394833a2eb74e92a26873c.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b8da9466f973457aae16dc3f0fa426d6.html" target="element"> Receive Incoming JSON Object </a> </td>
													    <td> <a href="../elements/id-b8da9466f973457aae16dc3f0fa426d6.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-926c57a77cf244cbb4479fe20ba2320b.html" target="element"> Need old Delegator? </a> </td>
													    <td> <a href="../elements/id-926c57a77cf244cbb4479fe20ba2320b.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-efae55668e124a009b9d1049843483c4.html" target="element"> Delegator Entity </a> </td>
											    <td> <a href="../elements/id-efae55668e124a009b9d1049843483c4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f055013e88bf4d81a892e298a8865223.html" target="element"> Instantiate a Transaction </a> </td>
													    <td> <a href="../elements/id-f055013e88bf4d81a892e298a8865223.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-55b73ce2666649a1997dd4422ae30cf1.html" target="element"> Use Full Pydantic-JSON </a> </td>
															    <td> <a href="../elements/id-55b73ce2666649a1997dd4422ae30cf1.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-142f4a0a6b2c4201961602be4402d830.html" target="element"> Perform Requested Service </a> </td>
													    <td> <a href="../elements/id-142f4a0a6b2c4201961602be4402d830.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9cc16aaa7a6743ed8a96b66fe77a85a8.html" target="element"> Return Outgoing JSON </a> </td>
													    <td> <a href="../elements/id-9cc16aaa7a6743ed8a96b66fe77a85a8.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-31f8035bf94f43b7a2ec990525cdd635.html" target="element"> Some Other Entity </a> </td>
											    <td> <a href="../elements/id-31f8035bf94f43b7a2ec990525cdd635.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a557a65232fa473b802e735fec6a7a23.html" target="element"> Legacy Delegator </a> </td>
											    <td> <a href="../elements/id-a557a65232fa473b802e735fec6a7a23.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-41af3e50935d45f59a68f5499ffdd6a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41af3e50935d45f59a68f5499ffdd6a7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
																		<td> <a href="../elements/id-8d7a9e60af86458881f54df404fa29c5.html" target="element"> Inspect Incoming JSON </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd618dbc6c3c422db2853857902714b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd618dbc6c3c422db2853857902714b0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
																		<td> <a href="../elements/id-84f6e3d1810548698937285a1e762ee3.html" target="element"> Is Delegator the Entity? </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55e09d62dfcd48bbbeda720f232d496d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55e09d62dfcd48bbbeda720f232d496d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
																		<td> <a href="../elements/id-01ca56ea3507460cbc5488ddbb52b892.html" target="element"> Send JSON to other Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-991496686a66445e91a29cea9e2433e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-991496686a66445e91a29cea9e2433e5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
																		<td> <a href="../elements/id-2d83268b563c439badb26e99b6eb8b2f.html" target="element"> Send JSON to Delegator Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e61268ae48af4fe1a630c493ff792122.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e61268ae48af4fe1a630c493ff792122.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
																		<td> <a href="../elements/id-95dd875f6ac5421cb238281595cd94a6.html" target="element"> Receive Outgoing JSON Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dffecba8792d4441a7ad74556ca2b903.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dffecba8792d4441a7ad74556ca2b903.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
																		<td> <a href="../elements/id-0e0036bcca394833a2eb74e92a26873c.html" target="element"> Return Outgoing JSON Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca7367473cf943a68d05dfb18a21d793.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca7367473cf943a68d05dfb18a21d793.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
																		<td> <a href="../elements/id-b8da9466f973457aae16dc3f0fa426d6.html" target="element"> Receive Incoming JSON Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-802909deb5514cfd9a2d396066f3eb05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-802909deb5514cfd9a2d396066f3eb05.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21221e303ebe46a5a087880cbde9637c.html" target="element"> Receiver </a> </td>
																		<td> <a href="../elements/id-926c57a77cf244cbb4479fe20ba2320b.html" target="element"> Need old Delegator? </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-91b7b6a514634aa0b8db041f2d9dcd6d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-91b7b6a514634aa0b8db041f2d9dcd6d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84f6e3d1810548698937285a1e762ee3.html" target="element"> Is Delegator the Entity? </a> </td>
																				<td> <a href="../elements/id-01ca56ea3507460cbc5488ddbb52b892.html" target="element"> Send JSON to other Entity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bb1bb43d205f44c78970ef0f419894fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bb1bb43d205f44c78970ef0f419894fc.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84f6e3d1810548698937285a1e762ee3.html" target="element"> Is Delegator the Entity? </a> </td>
																				<td> <a href="../elements/id-2d83268b563c439badb26e99b6eb8b2f.html" target="element"> Send JSON to Delegator Entity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b51646023d9148dc95101827677afa28.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b51646023d9148dc95101827677afa28.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84f6e3d1810548698937285a1e762ee3.html" target="element"> Is Delegator the Entity? </a> </td>
																				<td> <a href="../elements/id-926c57a77cf244cbb4479fe20ba2320b.html" target="element"> Need old Delegator? </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c90f3f4fb38742539bf3ca8c9cb162b8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c90f3f4fb38742539bf3ca8c9cb162b8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8d7a9e60af86458881f54df404fa29c5.html" target="element"> Inspect Incoming JSON </a> </td>
																				<td> <a href="../elements/id-93b1137b23a542379188491a82df4f38.html" target="element"> Use Simplified Pydantic-JSON </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-503d5824da29494095d517a65e04f6db.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-503d5824da29494095d517a65e04f6db.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8d7a9e60af86458881f54df404fa29c5.html" target="element"> Inspect Incoming JSON </a> </td>
																				<td> <a href="../elements/id-84f6e3d1810548698937285a1e762ee3.html" target="element"> Is Delegator the Entity? </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-83abbba051d34a92ab14353b977c3d7c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-83abbba051d34a92ab14353b977c3d7c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-01ca56ea3507460cbc5488ddbb52b892.html" target="element"> Send JSON to other Entity </a> </td>
																				<td> <a href="../elements/id-31f8035bf94f43b7a2ec990525cdd635.html" target="element"> Some Other Entity </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5cf6e548d1504c13a53f065fccbe57ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5cf6e548d1504c13a53f065fccbe57ac.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d83268b563c439badb26e99b6eb8b2f.html" target="element"> Send JSON to Delegator Entity </a> </td>
																				<td> <a href="../elements/id-efae55668e124a009b9d1049843483c4.html" target="element"> Delegator Entity </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-03bc3ef78cf54111a3b384d96f27a03b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-03bc3ef78cf54111a3b384d96f27a03b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95dd875f6ac5421cb238281595cd94a6.html" target="element"> Receive Outgoing JSON Object </a> </td>
																				<td> <a href="../elements/id-0e0036bcca394833a2eb74e92a26873c.html" target="element"> Return Outgoing JSON Object </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-74461d46b86b422d8d6a5bbdfa1aff28.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74461d46b86b422d8d6a5bbdfa1aff28.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b8da9466f973457aae16dc3f0fa426d6.html" target="element"> Receive Incoming JSON Object </a> </td>
																				<td> <a href="../elements/id-8d7a9e60af86458881f54df404fa29c5.html" target="element"> Inspect Incoming JSON </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9244fa4adbdd42e5bb57f3a77aca50bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9244fa4adbdd42e5bb57f3a77aca50bb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-926c57a77cf244cbb4479fe20ba2320b.html" target="element"> Need old Delegator? </a> </td>
																				<td> <a href="../elements/id-a557a65232fa473b802e735fec6a7a23.html" target="element"> Legacy Delegator </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cc953ad7d3654761989f0c3a12481337.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc953ad7d3654761989f0c3a12481337.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efae55668e124a009b9d1049843483c4.html" target="element"> Delegator Entity </a> </td>
																		<td> <a href="../elements/id-f055013e88bf4d81a892e298a8865223.html" target="element"> Instantiate a Transaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a2c0d8cbcbb9410cbd52268bef13437f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2c0d8cbcbb9410cbd52268bef13437f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efae55668e124a009b9d1049843483c4.html" target="element"> Delegator Entity </a> </td>
																		<td> <a href="../elements/id-142f4a0a6b2c4201961602be4402d830.html" target="element"> Perform Requested Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-459f100817f147fa999725a14fc9f234.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-459f100817f147fa999725a14fc9f234.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efae55668e124a009b9d1049843483c4.html" target="element"> Delegator Entity </a> </td>
																		<td> <a href="../elements/id-9cc16aaa7a6743ed8a96b66fe77a85a8.html" target="element"> Return Outgoing JSON </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fbe419c965fd43fa932eb4f171bbc0b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fbe419c965fd43fa932eb4f171bbc0b5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f055013e88bf4d81a892e298a8865223.html" target="element"> Instantiate a Transaction </a> </td>
																				<td> <a href="../elements/id-55b73ce2666649a1997dd4422ae30cf1.html" target="element"> Use Full Pydantic-JSON </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-57684f32e35b4c258b50be3af8b7a931.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-57684f32e35b4c258b50be3af8b7a931.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f055013e88bf4d81a892e298a8865223.html" target="element"> Instantiate a Transaction </a> </td>
																				<td> <a href="../elements/id-142f4a0a6b2c4201961602be4402d830.html" target="element"> Perform Requested Service </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-962f1373bbe04a93a18254b954f1420e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-962f1373bbe04a93a18254b954f1420e.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-142f4a0a6b2c4201961602be4402d830.html" target="element"> Perform Requested Service </a> </td>
																				<td> <a href="../elements/id-9cc16aaa7a6743ed8a96b66fe77a85a8.html" target="element"> Return Outgoing JSON </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ea5c07dbc3524d4eb298a54aa0f5fe49.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea5c07dbc3524d4eb298a54aa0f5fe49.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9cc16aaa7a6743ed8a96b66fe77a85a8.html" target="element"> Return Outgoing JSON </a> </td>
																				<td> <a href="../elements/id-95dd875f6ac5421cb238281595cd94a6.html" target="element"> Receive Outgoing JSON Object </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fc780b8f84f64c4ba8c780b7f9521bf6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc780b8f84f64c4ba8c780b7f9521bf6.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31f8035bf94f43b7a2ec990525cdd635.html" target="element"> Some Other Entity </a> </td>
																		<td> <a href="../elements/id-95dd875f6ac5421cb238281595cd94a6.html" target="element"> Receive Outgoing JSON Object </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d39fd3b1b2a4eafb678b1bb7ec980d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d39fd3b1b2a4eafb678b1bb7ec980d5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a557a65232fa473b802e735fec6a7a23.html" target="element"> Legacy Delegator </a> </td>
																		<td> <a href="../elements/id-95dd875f6ac5421cb238281595cd94a6.html" target="element"> Receive Outgoing JSON Object </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>