<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GEMS - Role as Interface Overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GEMS - Role as Interface Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-93b55d21ff1649d7b1da785fd08d6358.png" alt="GEMS - Role as Interface Overview" usemap="#id-93b55d21ff1649d7b1da785fd08d6358map"/>
			   <map name="id-93b55d21ff1649d7b1da785fd08d6358map">
				          <area shape="rect" coords="274,10,839,36" href="../objects/id-b253b772121241f5b5a37641510249a5.html" target="element" >
				  		<area shape="rect" coords="1162,46,1283,311" href="../elements/id-0853e50372ab4503a606816842dcc077.html"  target="element">
				  				<area shape="rect" coords="862,142,982,197" href="../elements/id-0e2a04e8ec854309acd32b87cc7917c0.html"  target="element">
				  				<area shape="rect" coords="1006,142,1126,197" href="../elements/id-ad486ff462d14fb283c55deff72bc319.html"  target="element">
				  				<area shape="rect" coords="142,202,239,257" href="../elements/id-2be87e5c4f094f0d8a870c3484c3a3e6.html"  target="element">
				  				<area shape="rect" coords="142,82,239,137" href="../elements/id-887a6504e3574b8193a4d3bf4a36301b.html"  target="element">
				  				<area shape="rect" coords="274,202,394,257" href="../elements/id-44219728eccb4671b27c6f8d8826cbae.html"  target="element">
				  				<area shape="rect" coords="274,82,394,137" href="../elements/id-04baa711bf4049f69e82f206b5f1fbf1.html"  target="element">
				  				<area shape="rect" coords="418,148,538,191" href="../elements/id-17962ed6817a4e159184bb955b299cb3.html"  target="element">
				  				<area shape="rect" coords="562,202,707,257" href="../elements/id-d9e9a769103949ae818454006a7bdc9e.html"  target="element">
				  				<area shape="rect" coords="562,82,707,137" href="../elements/id-f21676df1bdc466fbc255028e84ca0f9.html"  target="element">
				  				<area shape="rect" coords="742,202,839,257" href="../elements/id-f2cbcbc27f114170b509ac111eaa7b0e.html"  target="element">
				  				<area shape="rect" coords="742,82,839,137" href="../elements/id-d4b28544f35a4c318c61480a19ef1f42.html"  target="element">

				  		<area shape="rect" coords="118,46,1139,311" href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html"  target="element">
				  		<area shape="rect" coords="22,46,95,311" href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html"  target="element">
				          <area shape="rect" coords="10,10,251,335" href="../objects/id-41d2e58e2e554cb389e5a244c45c4fb1.html" target="element" >
				          <area shape="rect" coords="850,10,1295,335" href="../objects/id-a31c4d3cad27451aa80605812cf14e93.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-a31c4d3cad27451aa80605812cf14e93.html" target="element"> Services Interface is Defined </a> </td>
									           <td> <a href="../objects/id-a31c4d3cad27451aa80605812cf14e93.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-41d2e58e2e554cb389e5a244c45c4fb1.html" target="element"> User interface Is Defined </a> </td>
									           <td> <a href="../objects/id-41d2e58e2e554cb389e5a244c45c4fb1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
											    <td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
											    <td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d4b28544f35a4c318c61480a19ef1f42.html" target="element"> Run Service </a> </td>
													    <td> <a href="../elements/id-d4b28544f35a4c318c61480a19ef1f42.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f2cbcbc27f114170b509ac111eaa7b0e.html" target="element"> Receive Results </a> </td>
													    <td> <a href="../elements/id-f2cbcbc27f114170b509ac111eaa7b0e.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f21676df1bdc466fbc255028e84ca0f9.html" target="element"> Translate Into Service Request Needs </a> </td>
													    <td> <a href="../elements/id-f21676df1bdc466fbc255028e84ca0f9.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d9e9a769103949ae818454006a7bdc9e.html" target="element"> Translate Into Service Response Needs </a> </td>
													    <td> <a href="../elements/id-d9e9a769103949ae818454006a7bdc9e.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17962ed6817a4e159184bb955b299cb3.html" target="element"> Perform GEMS Logic </a> </td>
													    <td> <a href="../elements/id-17962ed6817a4e159184bb955b299cb3.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-04baa711bf4049f69e82f206b5f1fbf1.html" target="element"> Translate API Into GEMS Logic Needs </a> </td>
													    <td> <a href="../elements/id-04baa711bf4049f69e82f206b5f1fbf1.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-44219728eccb4671b27c6f8d8826cbae.html" target="element"> Translate Logic Output Into Friendly Output </a> </td>
													    <td> <a href="../elements/id-44219728eccb4671b27c6f8d8826cbae.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-887a6504e3574b8193a4d3bf4a36301b.html" target="element"> Validate API Content </a> </td>
													    <td> <a href="../elements/id-887a6504e3574b8193a4d3bf4a36301b.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2be87e5c4f094f0d8a870c3484c3a3e6.html" target="element"> Return API Output </a> </td>
													    <td> <a href="../elements/id-2be87e5c4f094f0d8a870c3484c3a3e6.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad486ff462d14fb283c55deff72bc319.html" target="element"> Other GEMS Entity </a> </td>
													    <td> <a href="../elements/id-ad486ff462d14fb283c55deff72bc319.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e2a04e8ec854309acd32b87cc7917c0.html" target="element"> JSON API Used Internally </a> </td>
													    <td> <a href="../elements/id-0e2a04e8ec854309acd32b87cc7917c0.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element"> Arbitrary Interfaces </a> </td>
											    <td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-b253b772121241f5b5a37641510249a5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b253b772121241f5b5a37641510249a5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/id-9864c736ee19489891c825a5508db169.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9864c736ee19489891c825a5508db169.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-d4b28544f35a4c318c61480a19ef1f42.html" target="element"> Run Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f9c2cd16ced4a73a5fc25e11bb5f1cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f9c2cd16ced4a73a5fc25e11bb5f1cb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-f2cbcbc27f114170b509ac111eaa7b0e.html" target="element"> Receive Results </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5eb579a14814b08a7425e1dbdcb3ec8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5eb579a14814b08a7425e1dbdcb3ec8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-f21676df1bdc466fbc255028e84ca0f9.html" target="element"> Translate Into Service Request Needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f052a31f88d240fcb059e4886d6f6372.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f052a31f88d240fcb059e4886d6f6372.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-d9e9a769103949ae818454006a7bdc9e.html" target="element"> Translate Into Service Response Needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acae8b4d278b4dd38af730b718467dda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acae8b4d278b4dd38af730b718467dda.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-17962ed6817a4e159184bb955b299cb3.html" target="element"> Perform GEMS Logic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-617233fdb1d14fa19cb88dd3b3f5dc1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-617233fdb1d14fa19cb88dd3b3f5dc1d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-04baa711bf4049f69e82f206b5f1fbf1.html" target="element"> Translate API Into GEMS Logic Needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-121d04537ec743b981d49bc25e4d76ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-121d04537ec743b981d49bc25e4d76ea.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-44219728eccb4671b27c6f8d8826cbae.html" target="element"> Translate Logic Output Into Friendly Output </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41e894243eba44c38a4219c97d8c11e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41e894243eba44c38a4219c97d8c11e6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-887a6504e3574b8193a4d3bf4a36301b.html" target="element"> Validate API Content </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-567b003c03e14d3d801fde46180c4ba6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-567b003c03e14d3d801fde46180c4ba6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-2be87e5c4f094f0d8a870c3484c3a3e6.html" target="element"> Return API Output </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb890f09245048c8a3ba36a891c9f092.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb890f09245048c8a3ba36a891c9f092.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-ad486ff462d14fb283c55deff72bc319.html" target="element"> Other GEMS Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95d6484d8e0646fdbfbbee59369ce8f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95d6484d8e0646fdbfbbee59369ce8f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-0e2a04e8ec854309acd32b87cc7917c0.html" target="element"> JSON API Used Internally </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9c006f6f801e44eabaf681454c41454f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c006f6f801e44eabaf681454c41454f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4b28544f35a4c318c61480a19ef1f42.html" target="element"> Run Service </a> </td>
																				<td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element"> Arbitrary Interfaces </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-69e2926b952843139f97e3fdafe2266c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-69e2926b952843139f97e3fdafe2266c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4b28544f35a4c318c61480a19ef1f42.html" target="element"> Run Service </a> </td>
																				<td> <a href="../elements/id-0e2a04e8ec854309acd32b87cc7917c0.html" target="element"> JSON API Used Internally </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d9f546e05ca34f2db839ac8796450887.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9f546e05ca34f2db839ac8796450887.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f2cbcbc27f114170b509ac111eaa7b0e.html" target="element"> Receive Results </a> </td>
																				<td> <a href="../elements/id-d9e9a769103949ae818454006a7bdc9e.html" target="element"> Translate Into Service Response Needs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8041ead4a0d540b7a67be8ff2eff1407.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8041ead4a0d540b7a67be8ff2eff1407.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f2cbcbc27f114170b509ac111eaa7b0e.html" target="element"> Receive Results </a> </td>
																				<td> <a href="../elements/id-0e2a04e8ec854309acd32b87cc7917c0.html" target="element"> JSON API Used Internally </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d5fd4a5c5a3a4607ba77af5b55e87d78.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d5fd4a5c5a3a4607ba77af5b55e87d78.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f21676df1bdc466fbc255028e84ca0f9.html" target="element"> Translate Into Service Request Needs </a> </td>
																				<td> <a href="../elements/id-d4b28544f35a4c318c61480a19ef1f42.html" target="element"> Run Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f933c8c980554ba0938c29286fd767a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f933c8c980554ba0938c29286fd767a2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d9e9a769103949ae818454006a7bdc9e.html" target="element"> Translate Into Service Response Needs </a> </td>
																				<td> <a href="../elements/id-17962ed6817a4e159184bb955b299cb3.html" target="element"> Perform GEMS Logic </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2dccbf1fcffa4c33b7d59c0dbc49d502.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2dccbf1fcffa4c33b7d59c0dbc49d502.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-17962ed6817a4e159184bb955b299cb3.html" target="element"> Perform GEMS Logic </a> </td>
																				<td> <a href="../elements/id-f21676df1bdc466fbc255028e84ca0f9.html" target="element"> Translate Into Service Request Needs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-419e0e99b9ab4c398478fbb2a4d01086.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-419e0e99b9ab4c398478fbb2a4d01086.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-17962ed6817a4e159184bb955b299cb3.html" target="element"> Perform GEMS Logic </a> </td>
																				<td> <a href="../elements/id-44219728eccb4671b27c6f8d8826cbae.html" target="element"> Translate Logic Output Into Friendly Output </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fe155258aa6c42f4a52e9cce5772b7a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe155258aa6c42f4a52e9cce5772b7a8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-04baa711bf4049f69e82f206b5f1fbf1.html" target="element"> Translate API Into GEMS Logic Needs </a> </td>
																				<td> <a href="../elements/id-17962ed6817a4e159184bb955b299cb3.html" target="element"> Perform GEMS Logic </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-22cb789fb2ec4208b398669a6f18def9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-22cb789fb2ec4208b398669a6f18def9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44219728eccb4671b27c6f8d8826cbae.html" target="element"> Translate Logic Output Into Friendly Output </a> </td>
																				<td> <a href="../elements/id-2be87e5c4f094f0d8a870c3484c3a3e6.html" target="element"> Return API Output </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-982f925e11084bd5b93f864542131bde.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-982f925e11084bd5b93f864542131bde.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-887a6504e3574b8193a4d3bf4a36301b.html" target="element"> Validate API Content </a> </td>
																				<td> <a href="../elements/id-04baa711bf4049f69e82f206b5f1fbf1.html" target="element"> Translate API Into GEMS Logic Needs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1fb22510a5a245f48b38d286563bc042.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1fb22510a5a245f48b38d286563bc042.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-887a6504e3574b8193a4d3bf4a36301b.html" target="element"> Validate API Content </a> </td>
																				<td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c9493acbcaaf4201a010d0cab6503975.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c9493acbcaaf4201a010d0cab6503975.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2be87e5c4f094f0d8a870c3484c3a3e6.html" target="element"> Return API Output </a> </td>
																				<td> <a href="../elements/id-0bd2121af6ed4392b31446e94a019c7f.html" target="element"> JSON API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2ea7fec117594c7eb196065ce68159a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ea7fec117594c7eb196065ce68159a6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad486ff462d14fb283c55deff72bc319.html" target="element"> Other GEMS Entity </a> </td>
																				<td> <a href="../elements/id-0e2a04e8ec854309acd32b87cc7917c0.html" target="element"> JSON API Used Internally </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d48ff537e18f40499cdd43170c47b123.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d48ff537e18f40499cdd43170c47b123.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0853e50372ab4503a606816842dcc077.html" target="element"> Arbitrary Interfaces </a> </td>
																		<td> <a href="../elements/id-f2cbcbc27f114170b509ac111eaa7b0e.html" target="element"> Receive Results </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>