<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GEMS - Application Flow with links out</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GEMS - Application Flow with links out</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a4daa650a0494afd98a39f9b824610dc.png" alt="GEMS - Application Flow with links out" usemap="#id-a4daa650a0494afd98a39f9b824610dcmap"/>
			   <map name="id-a4daa650a0494afd98a39f9b824610dcmap">
				  				<area shape="rect" coords="779,346,899,401" href="../elements/id-26d8a3002c264a748125ece4e346764e.html"  target="element">
				  				<area shape="rect" coords="430,346,550,401" href="../elements/id-d93732dd9d4c4fef8fb3b35f22549fcc.html"  target="element">
				  				<area shape="rect" coords="934,334,1067,443" href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html"  target="element">
				  				<area shape="rect" coords="766,430,911,479" href="../elements/id-f9713b3b1db54ec39ec19168d62be62a.html"  target="element">
				  				<area shape="rect" coords="598,334,731,443" href="../elements/id-b92e3df946474b82828de4e6d5320923.html"  target="element">
				  				<area shape="rect" coords="430,430,563,479" href="../elements/id-8fce65906f5743b189318d448fe0f1ca.html"  target="element">
				  				<area shape="rect" coords="526,514,851,569" href="../elements/id-670cc09960f54f299e9c273b566ac90b.html"  target="element">
				  						<area shape="rect" coords="286,394,320,430" href="../views/id-b250d56cce8a4c768640ed7599927e7a.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="238,334,371,443" href="../elements/id-63331300a4984240ae3727ebe2441ef3.html"  target="element">
				  						<area shape="rect" coords="286,520,311,545" href="../views/id-dc5b9ef623f848f29945c95206c40cdb.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="238,460,371,569" href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html"  target="element">
				  				<area shape="rect" coords="34,334,167,443" href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html"  target="element">

				  		<area shape="rect" coords="10,298,1091,587" href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html"  target="element">
				  		<area shape="rect" coords="466,58,586,113" href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html"  target="element">
				  		<area shape="rect" coords="946,58,1031,113" href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html"  target="element">
				  		<area shape="rect" coords="922,177,1091,235" href="../elements/id-851c0764586c4020abebfd7c4c53588d.html"  target="element">
				  		<area shape="rect" coords="718,178,899,233" href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html"  target="element">
				  		<area shape="rect" coords="430,178,574,233" href="../elements/id-f986194473324f4684618a09ed9e9041.html"  target="element">
				  		<area shape="rect" coords="598,178,695,233" href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html"  target="element">
				  		<area shape="rect" coords="238,177,407,235" href="../elements/id-daa208b6313244599e8efee95bf22051.html"  target="element">
				  		<area shape="rect" coords="34,178,131,233" href="../elements/id-112c0353799e45958fa4cea07ae446cf.html"  target="element">
				  		<area shape="rect" coords="40,94,125,149" href="../elements/id-6b56c6757bce42229db8703274a772d4.html"  target="element">
				  		<area shape="rect" coords="40,10,125,65" href="../elements/id-390c89fb3925495f86cc5f4303f3008c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Overall flow of the core components of a GEMS Module application.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-390c89fb3925495f86cc5f4303f3008c.html" target="element"> Inspect JSON </a> </td>
											    <td> <a href="../elements/id-390c89fb3925495f86cc5f4303f3008c.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element"> Assign Entity </a> </td>
											    <td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-112c0353799e45958fa4cea07ae446cf.html" target="element"> Validate JSON </a> </td>
											    <td> <a href="../elements/id-112c0353799e45958fa4cea07ae446cf.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
											    <td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element"> Run services </a> </td>
											    <td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f986194473324f4684618a09ed9e9041.html" target="element"> Fill Ougoing JSON with full list of Services to run </a> </td>
											    <td> <a href="../elements/id-f986194473324f4684618a09ed9e9041.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html" target="element"> Fill Ougoing JSON with full list of Responses to services </a> </td>
											    <td> <a href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
											    <td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element"> Return JSON </a> </td>
											    <td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element"> Delegator </a> </td>
											    <td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
											    <td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> Receiver </a> </td>
													    <td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html" target="element"> Data Translator (Incoming) </a> </td>
													    <td> <a href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-dc5b9ef623f848f29945c95206c40cdb.html" target="view"> GEMS - Data Translators View </a> </td>
															    <td> <a href="../views/id-dc5b9ef623f848f29945c95206c40cdb.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-63331300a4984240ae3727ebe2441ef3.html" target="element"> Service Package and Tree Manager </a> </td>
													    <td> <a href="../elements/id-63331300a4984240ae3727ebe2441ef3.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-b250d56cce8a4c768640ed7599927e7a.html" target="view"> GEMS - Service Package Tree Management View </a> </td>
															    <td> <a href="../views/id-b250d56cce8a4c768640ed7599927e7a.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-670cc09960f54f299e9c273b566ac90b.html" target="element"> Package Tree translator (ABC) </a> </td>
													    <td> <a href="../elements/id-670cc09960f54f299e9c273b566ac90b.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8fce65906f5743b189318d448fe0f1ca.html" target="element"> Service Package Tree translator </a> </td>
													    <td> <a href="../elements/id-8fce65906f5743b189318d448fe0f1ca.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
													    <td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9713b3b1db54ec39ec19168d62be62a.html" target="element"> Response Package Tree translator </a> </td>
													    <td> <a href="../elements/id-f9713b3b1db54ec39ec19168d62be62a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html" target="element"> Data Translator (Outgoing) </a> </td>
													    <td> <a href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d93732dd9d4c4fef8fb3b35f22549fcc.html" target="element"> Services Object </a> </td>
													    <td> <a href="../elements/id-d93732dd9d4c4fef8fb3b35f22549fcc.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26d8a3002c264a748125ece4e346764e.html" target="element"> Responses Object </a> </td>
													    <td> <a href="../elements/id-26d8a3002c264a748125ece4e346764e.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b0b4b27d17dd4a6cb1a9845975dbfdfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0b4b27d17dd4a6cb1a9845975dbfdfd.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-390c89fb3925495f86cc5f4303f3008c.html" target="element"> Inspect JSON </a> </td>
																		<td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element"> Assign Entity </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6281e87bf1f4613b26c48c4e257949e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6281e87bf1f4613b26c48c4e257949e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element"> Assign Entity </a> </td>
																		<td> <a href="../elements/id-112c0353799e45958fa4cea07ae446cf.html" target="element"> Validate JSON </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-245d82d2d7e34a35869712f2495e723b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-245d82d2d7e34a35869712f2495e723b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-112c0353799e45958fa4cea07ae446cf.html" target="element"> Validate JSON </a> </td>
																		<td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1f12beea3e5e4efba58acfe948365ab2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f12beea3e5e4efba58acfe948365ab2.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
																		<td> <a href="../elements/id-f986194473324f4684618a09ed9e9041.html" target="element"> Fill Ougoing JSON with full list of Services to run </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c1b2f02b95604f3dba1cb8c40a465be0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1b2f02b95604f3dba1cb8c40a465be0.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element"> Run services </a> </td>
																		<td> <a href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html" target="element"> Fill Ougoing JSON with full list of Responses to services </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7acd76cd0bc241189fc63b4d121962e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7acd76cd0bc241189fc63b4d121962e5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f986194473324f4684618a09ed9e9041.html" target="element"> Fill Ougoing JSON with full list of Services to run </a> </td>
																		<td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element"> Run services </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-102ed86b8cd9423b93fe3d4fd7977bb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-102ed86b8cd9423b93fe3d4fd7977bb9.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html" target="element"> Fill Ougoing JSON with full list of Responses to services </a> </td>
																		<td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-27dee734e21a410eb9fe96415ee06b85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27dee734e21a410eb9fe96415ee06b85.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
																		<td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element"> Return JSON </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2aa1dd94790045cc9323a559aceba959.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2aa1dd94790045cc9323a559aceba959.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element"> Delegator </a> </td>
																		<td> <a href="../elements/id-390c89fb3925495f86cc5f4303f3008c.html" target="element"> Inspect JSON </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-930a824bd9ea41a1be6ec515b12f234b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-930a824bd9ea41a1be6ec515b12f234b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element"> Delegator </a> </td>
																		<td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element"> Assign Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3802d543b784e9483e79b130f653149.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3802d543b784e9483e79b130f653149.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element"> Delegator </a> </td>
																		<td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element"> Return JSON </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61e66b5b14ab4bb9a56090af8dafec2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61e66b5b14ab4bb9a56090af8dafec2a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-f9713b3b1db54ec39ec19168d62be62a.html" target="element"> Response Package Tree translator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ff9c4c691994643af37517a94c445e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ff9c4c691994643af37517a94c445e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-8fce65906f5743b189318d448fe0f1ca.html" target="element"> Service Package Tree translator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29b810d08c3044779b28d958d26d3609.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29b810d08c3044779b28d958d26d3609.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> Receiver </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f27dc4ba2c124fa3bbe8333ea5695719.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f27dc4ba2c124fa3bbe8333ea5695719.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html" target="element"> Data Translator (Incoming) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87f0417dfd8641a5b09867e6e76ab765.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87f0417dfd8641a5b09867e6e76ab765.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-63331300a4984240ae3727ebe2441ef3.html" target="element"> Service Package and Tree Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2bf0829b80642cdad57ff28b6c0be2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2bf0829b80642cdad57ff28b6c0be2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3c230c805634cf68199ef43ae30c23e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3c230c805634cf68199ef43ae30c23e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-670cc09960f54f299e9c273b566ac90b.html" target="element"> Package Tree translator (ABC) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6143bd7a7cea42e585ffc25de70af7f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6143bd7a7cea42e585ffc25de70af7f9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html" target="element"> Data Translator (Outgoing) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8c1ce7c236940709bfa4ff27ac58c3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8c1ce7c236940709bfa4ff27ac58c3a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-d93732dd9d4c4fef8fb3b35f22549fcc.html" target="element"> Services Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb5e15d9dce9406ea117277db57db5fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb5e15d9dce9406ea117277db57db5fd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-26d8a3002c264a748125ece4e346764e.html" target="element"> Responses Object </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f9b661bd1b734d62934a8cae7ee57e28.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9b661bd1b734d62934a8cae7ee57e28.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> Receiver </a> </td>
																				<td> <a href="../elements/id-112c0353799e45958fa4cea07ae446cf.html" target="element"> Validate JSON </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7f8f61bf0881459cb66c70c33467faf9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7f8f61bf0881459cb66c70c33467faf9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html" target="element"> Data Translator (Incoming) </a> </td>
																				<td> <a href="../elements/id-63331300a4984240ae3727ebe2441ef3.html" target="element"> Service Package and Tree Manager </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/id-5213902d6c024fedb93634a08f31b0ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5213902d6c024fedb93634a08f31b0ec.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-63331300a4984240ae3727ebe2441ef3.html" target="element"> Service Package and Tree Manager </a> </td>
																				<td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/id-02f9f5dacc5e44518ee570f3073b5ab6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-02f9f5dacc5e44518ee570f3073b5ab6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-670cc09960f54f299e9c273b566ac90b.html" target="element"> Package Tree translator (ABC) </a> </td>
																				<td> <a href="../elements/id-f9713b3b1db54ec39ec19168d62be62a.html" target="element"> Response Package Tree translator </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-af4dd36f2ad1489d9c153738b5cdab7c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-af4dd36f2ad1489d9c153738b5cdab7c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-670cc09960f54f299e9c273b566ac90b.html" target="element"> Package Tree translator (ABC) </a> </td>
																				<td> <a href="../elements/id-8fce65906f5743b189318d448fe0f1ca.html" target="element"> Service Package Tree translator </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eb97b2e03a424d96a7528e20fdb97dda.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eb97b2e03a424d96a7528e20fdb97dda.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8fce65906f5743b189318d448fe0f1ca.html" target="element"> Service Package Tree translator </a> </td>
																				<td> <a href="../elements/id-d93732dd9d4c4fef8fb3b35f22549fcc.html" target="element"> Services Object </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-03e69ccaa19b4287acee743790e7299e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-03e69ccaa19b4287acee743790e7299e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
																				<td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element"> Run services </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d6f9965fb8bc4b2da77c1d603fb77b4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d6f9965fb8bc4b2da77c1d603fb77b4b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9713b3b1db54ec39ec19168d62be62a.html" target="element"> Response Package Tree translator </a> </td>
																				<td> <a href="../elements/id-26d8a3002c264a748125ece4e346764e.html" target="element"> Responses Object </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bd7301a4dc544cc292eb2154168a13f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bd7301a4dc544cc292eb2154168a13f9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html" target="element"> Data Translator (Outgoing) </a> </td>
																				<td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2b7182afe1384ee7851a72585cbfa44f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b7182afe1384ee7851a72585cbfa44f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d93732dd9d4c4fef8fb3b35f22549fcc.html" target="element"> Services Object </a> </td>
																				<td> <a href="../elements/id-f986194473324f4684618a09ed9e9041.html" target="element"> Fill Ougoing JSON with full list of Services to run </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-09e017b895524a1ab4972b58535123d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-09e017b895524a1ab4972b58535123d8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26d8a3002c264a748125ece4e346764e.html" target="element"> Responses Object </a> </td>
																				<td> <a href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html" target="element"> Fill Ougoing JSON with full list of Responses to services </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>