<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Application Flow</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Application Flow</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a4daa650a0494afd98a39f9b824610dc.png" alt="Application Flow" usemap="#id-a4daa650a0494afd98a39f9b824610dcmap"/>
			   <map name="id-a4daa650a0494afd98a39f9b824610dcmap">
				  		<area shape="rect" coords="838,476,958,511" href="../elements/id-c5093ae2a99e4cc58e1bb2a49677b589.html"  target="element">
				          <area shape="rect" coords="574,286,916,335" href="../objects/id-d5ae1c08ff4e4647a4caae6ccb29f502.html" target="element" >
				          <area shape="rect" coords="574,346,993,394" href="../objects/id-2cea779a685748fda057eddd7478ed43.html" target="element" >
				          <area shape="rect" coords="574,418,816,466" href="../objects/id-c560a744e5b64708ad337562bce38860.html" target="element" >
				  		<area shape="rect" coords="131,622,323,654" href="../elements/id-a523ae14e9654f73b0fba3cbdb6d2d1a.html"  target="element">
				  		<area shape="rect" coords="346,622,539,653" href="../elements/id-641d6a73766f4acab9d89e8a13cbf531.html"  target="element">
				          <area shape="rect" coords="602,118,787,167" href="../objects/id-6e38ffd26d0543338c2cda145b62f759.html" target="element" >
				  		<area shape="rect" coords="166,10,287,47" href="../elements/id-40283987248141038a9d25cde002effc.html"  target="element">
				  				<area shape="rect" coords="388,418,508,473" href="../elements/id-1908538f9f0c42008b417bc78fd42431.html"  target="element">
				  				<area shape="rect" coords="388,346,508,401" href="../elements/id-27ec44fbc67e48a3a5c5449a74f26e6a.html"  target="element">
				  				<area shape="rect" coords="388,550,508,605" href="../elements/id-2dc09333eae14926a11a8657d12fb47e.html"  target="element">
				  				<area shape="rect" coords="382,274,502,329" href="../elements/id-835d7b14af23420fa661a3709292bcec.html"  target="element">
				  				<area shape="rect" coords="388,202,508,257" href="../elements/id-82dc9984a8a14ba39ea77e25e4d8b924.html"  target="element">
				  				<area shape="rect" coords="370,142,526,179" href="../elements/id-68e2e50567ab4bbea633716865f0567b.html"  target="element">
				  				<area shape="rect" coords="226,121,335,605" href="../elements/id-790450b6857f48d38331498e74403f38.html"  target="element">
				  				<area shape="rect" coords="382,70,502,125" href="../elements/id-3698461c33ee420a87e0b574312b0748.html"  target="element">
				  				<area shape="rect" coords="381,490,514,536" href="../elements/id-b92e3df946474b82828de4e6d5320923.html"  target="element">
				  				<area shape="rect" coords="118,70,203,605" href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html"  target="element">

				  		<area shape="rect" coords="106,58,539,611" href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html"  target="element">
				  		<area shape="rect" coords="10,262,95,317" href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html"  target="element">
				  		<area shape="rect" coords="10,574,95,653" href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html"  target="element">
				  				<area shape="rect" coords="1078,555,1198,595" href="../elements/id-d6ac030d712643c584bdef36fac98d56.html"  target="element">
				  				<area shape="rect" coords="838,550,1055,611" href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html"  target="element">
				  				<area shape="rect" coords="610,550,826,611" href="../elements/id-f986194473324f4684618a09ed9e9041.html"  target="element">

				  		<area shape="rect" coords="598,526,1355,623" href="../elements/id-851c0764586c4020abebfd7c4c53588d.html"  target="element">
				  		<area shape="rect" coords="598,478,767,509" href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html"  target="element">
				  				<area shape="rect" coords="1186,209,1343,258" href="../elements/id-5e7f16f1d8864f11a8db049eb435090b.html"  target="element">
				  				<area shape="rect" coords="1018,209,1163,258" href="../elements/id-4d3823fcfbea4057bc08a21e66a16f60.html"  target="element">
				  				<area shape="rect" coords="826,209,995,258" href="../elements/id-77ac8251fa1e402a96973581f3dd51b7.html"  target="element">
				  				<area shape="rect" coords="634,209,803,258" href="../elements/id-ba5fb7b08af44783b903e0f6294bd6b3.html"  target="element">

				  		<area shape="rect" coords="598,178,1355,263" href="../elements/id-daa208b6313244599e8efee95bf22051.html"  target="element">
				  		<area shape="rect" coords="394,10,515,47" href="../elements/id-112c0353799e45958fa4cea07ae446cf.html"  target="element">
				  		<area shape="rect" coords="10,10,95,83" href="../elements/id-6b56c6757bce42229db8703274a772d4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Overall flow of the core components of a GEMS Module application.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element"> Assign Entity </a> </td>
											    <td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-112c0353799e45958fa4cea07ae446cf.html" target="element"> Validate JSON </a> </td>
											    <td> <a href="../elements/id-112c0353799e45958fa4cea07ae446cf.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
											    <td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ba5fb7b08af44783b903e0f6294bd6b3.html" target="element"> Generate Explicit Service Packages </a> </td>
													    <td> <a href="../elements/id-ba5fb7b08af44783b903e0f6294bd6b3.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-77ac8251fa1e402a96973581f3dd51b7.html" target="element"> Handle Unknkown Service Requests </a> </td>
													    <td> <a href="../elements/id-77ac8251fa1e402a96973581f3dd51b7.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4d3823fcfbea4057bc08a21e66a16f60.html" target="element"> Add Implicit Service Packages </a> </td>
													    <td> <a href="../elements/id-4d3823fcfbea4057bc08a21e66a16f60.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5e7f16f1d8864f11a8db049eb435090b.html" target="element"> Manage Duplicate Service Packages </a> </td>
													    <td> <a href="../elements/id-5e7f16f1d8864f11a8db049eb435090b.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element"> Run services </a> </td>
											    <td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
											    <td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f986194473324f4684618a09ed9e9041.html" target="element"> Fill Ougoing JSON with full list of Service Requestss that were run </a> </td>
													    <td> <a href="../elements/id-f986194473324f4684618a09ed9e9041.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html" target="element"> Fill Ougoing JSON with full list of Service Responses to services </a> </td>
													    <td> <a href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6ac030d712643c584bdef36fac98d56.html" target="element"> Fill top-level Outputs </a> </td>
													    <td> <a href="../elements/id-d6ac030d712643c584bdef36fac98d56.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element"> Return JSON </a> </td>
											    <td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element"> Delegator </a> </td>
											    <td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
											    <td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> JSON String Manager </a> </td>
													    <td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
													    <td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3698461c33ee420a87e0b574312b0748.html" target="element"> Instatiated Transaction </a> </td>
													    <td> <a href="../elements/id-3698461c33ee420a87e0b574312b0748.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
													    <td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-68e2e50567ab4bbea633716865f0567b.html" target="element"> Project Manager Initial </a> </td>
													    <td> <a href="../elements/id-68e2e50567ab4bbea633716865f0567b.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82dc9984a8a14ba39ea77e25e4d8b924.html" target="element"> Request Manager </a> </td>
													    <td> <a href="../elements/id-82dc9984a8a14ba39ea77e25e4d8b924.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-835d7b14af23420fa661a3709292bcec.html" target="element"> Service Package Tree Pair Manager </a> </td>
													    <td> <a href="../elements/id-835d7b14af23420fa661a3709292bcec.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2dc09333eae14926a11a8657d12fb47e.html" target="element"> Response Manager </a> </td>
													    <td> <a href="../elements/id-2dc09333eae14926a11a8657d12fb47e.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-27ec44fbc67e48a3a5c5449a74f26e6a.html" target="element"> Project Manager Final </a> </td>
													    <td> <a href="../elements/id-27ec44fbc67e48a3a5c5449a74f26e6a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1908538f9f0c42008b417bc78fd42431.html" target="element"> Data Filler </a> </td>
													    <td> <a href="../elements/id-1908538f9f0c42008b417bc78fd42431.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-40283987248141038a9d25cde002effc.html" target="element"> Receive JSON </a> </td>
											    <td> <a href="../elements/id-40283987248141038a9d25cde002effc.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-6e38ffd26d0543338c2cda145b62f759.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6e38ffd26d0543338c2cda145b62f759.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-641d6a73766f4acab9d89e8a13cbf531.html" target="element"> Update Transaction </a> </td>
											    <td> <a href="../elements/id-641d6a73766f4acab9d89e8a13cbf531.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a523ae14e9654f73b0fba3cbdb6d2d1a.html" target="element"> Generate Outgoing JSON </a> </td>
											    <td> <a href="../elements/id-a523ae14e9654f73b0fba3cbdb6d2d1a.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-c560a744e5b64708ad337562bce38860.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c560a744e5b64708ad337562bce38860.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2cea779a685748fda057eddd7478ed43.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2cea779a685748fda057eddd7478ed43.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d5ae1c08ff4e4647a4caae6ccb29f502.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d5ae1c08ff4e4647a4caae6ccb29f502.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c5093ae2a99e4cc58e1bb2a49677b589.html" target="element"> Run Tasks </a> </td>
											    <td> <a href="../elements/id-c5093ae2a99e4cc58e1bb2a49677b589.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1598b046ab6043c7811fa9b32b034eba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1598b046ab6043c7811fa9b32b034eba.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element"> Assign Entity </a> </td>
																		<td> <a href="../elements/id-40283987248141038a9d25cde002effc.html" target="element"> Receive JSON </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4659d5043dd3483683bb97fd6b741194.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4659d5043dd3483683bb97fd6b741194.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
																		<td> <a href="../elements/id-ba5fb7b08af44783b903e0f6294bd6b3.html" target="element"> Generate Explicit Service Packages </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2077d3e357674d39af26dde1ee6ef5b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2077d3e357674d39af26dde1ee6ef5b0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
																		<td> <a href="../elements/id-77ac8251fa1e402a96973581f3dd51b7.html" target="element"> Handle Unknkown Service Requests </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-206f9f0edeb542808c6e88ddda5dd820.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-206f9f0edeb542808c6e88ddda5dd820.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
																		<td> <a href="../elements/id-4d3823fcfbea4057bc08a21e66a16f60.html" target="element"> Add Implicit Service Packages </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-467bed5fef4b459ba72f9d80afdc8071.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-467bed5fef4b459ba72f9d80afdc8071.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
																		<td> <a href="../elements/id-5e7f16f1d8864f11a8db049eb435090b.html" target="element"> Manage Duplicate Service Packages </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-38e12a6d1a7e442094e91109961e78c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-38e12a6d1a7e442094e91109961e78c3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba5fb7b08af44783b903e0f6294bd6b3.html" target="element"> Generate Explicit Service Packages </a> </td>
																				<td> <a href="../elements/id-77ac8251fa1e402a96973581f3dd51b7.html" target="element"> Handle Unknkown Service Requests </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0cfff5c129aa4f71aa16eccfc93ffaba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0cfff5c129aa4f71aa16eccfc93ffaba.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-77ac8251fa1e402a96973581f3dd51b7.html" target="element"> Handle Unknkown Service Requests </a> </td>
																				<td> <a href="../elements/id-4d3823fcfbea4057bc08a21e66a16f60.html" target="element"> Add Implicit Service Packages </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9622399a74bc4b67bf64a2ec81f9cc6f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9622399a74bc4b67bf64a2ec81f9cc6f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d3823fcfbea4057bc08a21e66a16f60.html" target="element"> Add Implicit Service Packages </a> </td>
																				<td> <a href="../elements/id-5e7f16f1d8864f11a8db049eb435090b.html" target="element"> Manage Duplicate Service Packages </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8dab5ccc709e4ac4bd8713671fe8548a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dab5ccc709e4ac4bd8713671fe8548a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element"> Run services </a> </td>
																		<td> <a href="../elements/id-c5093ae2a99e4cc58e1bb2a49677b589.html" target="element"> Run Tasks </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90919db3b99f434c8d7b5afbce1cba76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90919db3b99f434c8d7b5afbce1cba76.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
																		<td> <a href="../elements/id-f986194473324f4684618a09ed9e9041.html" target="element"> Fill Ougoing JSON with full list of Service Requestss that were run </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-422b82355a184db4931ea31608a045f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-422b82355a184db4931ea31608a045f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
																		<td> <a href="../elements/id-a0d5286c2f174e90b1acdb24a266436d.html" target="element"> Fill Ougoing JSON with full list of Service Responses to services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed6313dc1caf422daf2a6475ecf28eca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed6313dc1caf422daf2a6475ecf28eca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
																		<td> <a href="../elements/id-d6ac030d712643c584bdef36fac98d56.html" target="element"> Fill top-level Outputs </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-930a824bd9ea41a1be6ec515b12f234b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-930a824bd9ea41a1be6ec515b12f234b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element"> Delegator </a> </td>
																		<td> <a href="../elements/id-6b56c6757bce42229db8703274a772d4.html" target="element"> Assign Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-785528f787284cb897ed4c525ff5abb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-785528f787284cb897ed4c525ff5abb9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad789509b9e943c2a9ad695cedd486a7.html" target="element"> Delegator </a> </td>
																		<td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element"> Return JSON </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29b810d08c3044779b28d958d26d3609.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29b810d08c3044779b28d958d26d3609.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> JSON String Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2bf0829b80642cdad57ff28b6c0be2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2bf0829b80642cdad57ff28b6c0be2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc650da96c43403ab3b57dc67f3ab660.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc650da96c43403ab3b57dc67f3ab660.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-3698461c33ee420a87e0b574312b0748.html" target="element"> Instatiated Transaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48fef0b6e30d45aeb79ba3b837b45fc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48fef0b6e30d45aeb79ba3b837b45fc0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f09b12d9ba00488db72a5691fc2f016c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f09b12d9ba00488db72a5691fc2f016c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-68e2e50567ab4bbea633716865f0567b.html" target="element"> Project Manager Initial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01e068b43f564753b4af993de677ca8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01e068b43f564753b4af993de677ca8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-82dc9984a8a14ba39ea77e25e4d8b924.html" target="element"> Request Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1ffc26307104cfd8cda5768b67e5040.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1ffc26307104cfd8cda5768b67e5040.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-835d7b14af23420fa661a3709292bcec.html" target="element"> Service Package Tree Pair Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-568862fca89c4cc2aa286ddcafa156e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-568862fca89c4cc2aa286ddcafa156e1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-2dc09333eae14926a11a8657d12fb47e.html" target="element"> Response Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6bd544f67739449b94582de04ab1518b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6bd544f67739449b94582de04ab1518b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-27ec44fbc67e48a3a5c5449a74f26e6a.html" target="element"> Project Manager Final </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-641c52e75eac4bfa9b2809117c67ce68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-641c52e75eac4bfa9b2809117c67ce68.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7c3bb1a2c24414c8c24abeaebfa5fce.html" target="element"> Entity </a> </td>
																		<td> <a href="../elements/id-1908538f9f0c42008b417bc78fd42431.html" target="element"> Data Filler </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b58ff9105c67416cafd6179acd9c0ecc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b58ff9105c67416cafd6179acd9c0ecc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> JSON String Manager </a> </td>
																				<td> <a href="../elements/id-3698461c33ee420a87e0b574312b0748.html" target="element"> Instatiated Transaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d1f55b85320942e48f1a5cad942a1e99.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d1f55b85320942e48f1a5cad942a1e99.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> JSON String Manager </a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0f04526533714ae994e34753d6c65879.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0f04526533714ae994e34753d6c65879.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> JSON String Manager </a> </td>
																				<td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element"> Return JSON </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-03e69ccaa19b4287acee743790e7299e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-03e69ccaa19b4287acee743790e7299e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
																				<td> <a href="../elements/id-2a0fb8dce5d8420ca8f90604f11eff39.html" target="element"> Run services </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-738b2d6b16cb4d029095154f2f0bcfc1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-738b2d6b16cb4d029095154f2f0bcfc1.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
																				<td> <a href="../elements/id-2dc09333eae14926a11a8657d12fb47e.html" target="element"> Response Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-87dc41eb1ee2497b8d37c787cac91102.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-87dc41eb1ee2497b8d37c787cac91102.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3698461c33ee420a87e0b574312b0748.html" target="element"> Instatiated Transaction </a> </td>
																				<td> <a href="../elements/id-112c0353799e45958fa4cea07ae446cf.html" target="element"> Validate JSON </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-75d85cd0f85c459faa04beaee658884e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-75d85cd0f85c459faa04beaee658884e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3698461c33ee420a87e0b574312b0748.html" target="element"> Instatiated Transaction </a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c33682ebc61b42289898463061fbc407.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c33682ebc61b42289898463061fbc407.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-68e2e50567ab4bbea633716865f0567b.html" target="element"> Project Manager Initial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c692e934eece45ba8cf5888f8199164c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c692e934eece45ba8cf5888f8199164c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-82dc9984a8a14ba39ea77e25e4d8b924.html" target="element"> Request Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b5a463f11b14018b4a251c5cf908dc2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b5a463f11b14018b4a251c5cf908dc2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-835d7b14af23420fa661a3709292bcec.html" target="element"> Service Package Tree Pair Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0afb840dc43e488ba0f34b0190c724a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0afb840dc43e488ba0f34b0190c724a9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-27ec44fbc67e48a3a5c5449a74f26e6a.html" target="element"> Project Manager Final </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-71b8b67e3b5c4810900cf42bb003e056.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71b8b67e3b5c4810900cf42bb003e056.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-1908538f9f0c42008b417bc78fd42431.html" target="element"> Data Filler </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a0f08115ef0545818561f65ca24f096d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0f08115ef0545818561f65ca24f096d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-998dd97bce914f92abbf0a94242e3d16.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-998dd97bce914f92abbf0a94242e3d16.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-2dc09333eae14926a11a8657d12fb47e.html" target="element"> Response Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f5cab9ef3dc043e0a07bfc512105f526.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5cab9ef3dc043e0a07bfc512105f526.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-641d6a73766f4acab9d89e8a13cbf531.html" target="element"> Update Transaction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7c8f4dacdb7e4ccbb1bf9d785979c40f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7c8f4dacdb7e4ccbb1bf9d785979c40f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-790450b6857f48d38331498e74403f38.html" target="element"> Transaction Manager </a> </td>
																				<td> <a href="../elements/id-a523ae14e9654f73b0fba3cbdb6d2d1a.html" target="element"> Generate Outgoing JSON </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bdd050a0001747bfbd98c87068a6d0ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bdd050a0001747bfbd98c87068a6d0ad.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-68e2e50567ab4bbea633716865f0567b.html" target="element"> Project Manager Initial </a> </td>
																				<td> <a href="../elements/id-82dc9984a8a14ba39ea77e25e4d8b924.html" target="element"> Request Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-45a3da7c201946a3ac17008f84c040c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45a3da7c201946a3ac17008f84c040c6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82dc9984a8a14ba39ea77e25e4d8b924.html" target="element"> Request Manager </a> </td>
																				<td> <a href="../elements/id-daa208b6313244599e8efee95bf22051.html" target="element"> Translate User-Friendly JSON into internal Services </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-044bdf0d3cbc48a684ebed07cf40a48b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-044bdf0d3cbc48a684ebed07cf40a48b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82dc9984a8a14ba39ea77e25e4d8b924.html" target="element"> Request Manager </a> </td>
																				<td> <a href="../elements/id-835d7b14af23420fa661a3709292bcec.html" target="element"> Service Package Tree Pair Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bdde116eeb124f29b9ab1dc30c9612b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bdde116eeb124f29b9ab1dc30c9612b6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-835d7b14af23420fa661a3709292bcec.html" target="element"> Service Package Tree Pair Manager </a> </td>
																				<td> <a href="../elements/id-27ec44fbc67e48a3a5c5449a74f26e6a.html" target="element"> Project Manager Final </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ccac0b08bbd04370b32cfdc6c221cdfc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccac0b08bbd04370b32cfdc6c221cdfc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2dc09333eae14926a11a8657d12fb47e.html" target="element"> Response Manager </a> </td>
																				<td> <a href="../elements/id-851c0764586c4020abebfd7c4c53588d.html" target="element"> Translate Responses into User-Friendly outgoing JSON </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8e408ed85522447ea0f3c8e4d60d6356.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e408ed85522447ea0f3c8e4d60d6356.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2dc09333eae14926a11a8657d12fb47e.html" target="element"> Response Manager </a> </td>
																				<td> <a href="../elements/id-641d6a73766f4acab9d89e8a13cbf531.html" target="element"> Update Transaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7d00108107574206a37e218b63bd0cb5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7d00108107574206a37e218b63bd0cb5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-27ec44fbc67e48a3a5c5449a74f26e6a.html" target="element"> Project Manager Final </a> </td>
																				<td> <a href="../elements/id-1908538f9f0c42008b417bc78fd42431.html" target="element"> Data Filler </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-48e078c8429e45ea91f37f01ae35895e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-48e078c8429e45ea91f37f01ae35895e.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1908538f9f0c42008b417bc78fd42431.html" target="element"> Data Filler </a> </td>
																				<td> <a href="../elements/id-b92e3df946474b82828de4e6d5320923.html" target="element"> Servicer </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c4fbf0298d694d428bc632bdcecdb048.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4fbf0298d694d428bc632bdcecdb048.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-40283987248141038a9d25cde002effc.html" target="element"> Receive JSON </a> </td>
																		<td> <a href="../elements/id-9e8ff283fdb94ebf966af1bf5a0de8bd.html" target="element"> JSON String Manager </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-7fab089e62d14b1d8e6389e2da63d7cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fab089e62d14b1d8e6389e2da63d7cb.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-641d6a73766f4acab9d89e8a13cbf531.html" target="element"> Update Transaction </a> </td>
																		<td> <a href="../elements/id-a523ae14e9654f73b0fba3cbdb6d2d1a.html" target="element"> Generate Outgoing JSON </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-41bc33ed3205489c8269234162ad2fc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41bc33ed3205489c8269234162ad2fc0.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a523ae14e9654f73b0fba3cbdb6d2d1a.html" target="element"> Generate Outgoing JSON </a> </td>
																		<td> <a href="../elements/id-f2e4f989d4304718849cbe591ddd4b27.html" target="element"> Return JSON </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>