<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GEMS - Core Module Roles</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GEMS - Core Module Roles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ddd44a571588466ca7b7075b4a9332fa.png" alt="GEMS - Core Module Roles" usemap="#id-ddd44a571588466ca7b7075b4a9332famap"/>
			   <map name="id-ddd44a571588466ca7b7075b4a9332famap">
				  						<area shape="rect" coords="382,107,502,156" href="../elements/id-239716a338c74c1e84edd3d555b95416.html"  target="element">

				  				<area shape="rect" coords="370,59,551,215" href="../elements/id-bf49a4eb05794b24895d355d4fc2a123.html"  target="element">
				  						<area shape="rect" coords="178,370,298,419" href="../elements/id-6d9377a47cf2495ba9e9051152ff4578.html"  target="element">
				  						<area shape="rect" coords="94,430,251,479" href="../elements/id-55230cec60354daf937671a9bb5c5723.html"  target="element">
				  						<area shape="rect" coords="46,370,166,419" href="../elements/id-6f8f569e83544ba3966da4bcc67eca27.html"  target="element">

				  				<area shape="rect" coords="34,334,311,515" href="../elements/id-123806182ffe4132914217fbf016c47d.html"  target="element">
				  						<area shape="rect" coords="178,95,298,144" href="../elements/id-6082b7ba0f54417ebc965a79266d6210.html"  target="element">
				  						<area shape="rect" coords="118,155,238,204" href="../elements/id-b23017dc0b1a46dda1ac593b0cb0eacb.html"  target="element">
				  						<area shape="rect" coords="46,95,166,144" href="../elements/id-235c378c4c944187b2bed5b0f629f96b.html"  target="element">

				  				<area shape="rect" coords="34,59,311,215" href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html"  target="element">
				  						<area shape="rect" coords="394,442,514,491" href="../elements/id-ce2eb07d0c6d4ff8a6df8cdb7bbe77fe.html"  target="element">
				  						<area shape="rect" coords="394,382,514,431" href="../elements/id-281afd3c50884650973bc78c5113be61.html"  target="element">

				  				<area shape="rect" coords="370,298,551,515" href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html"  target="element">
				  						<area shape="rect" coords="178,262,298,311" href="../elements/id-ab87f06aa7e8406d9ca467a91a57f9d5.html"  target="element">
				  						<area shape="rect" coords="46,262,166,311" href="../elements/id-623821c732ce4b3588a08843a7e37ebb.html"  target="element">

				  				<area shape="rect" coords="34,232,311,323" href="../elements/id-47521843f6ec494798a2d6fca8b51331.html"  target="element">

				  		<area shape="rect" coords="10,10,575,539" href="../elements/id-3e1cc3f67954494480ff96487afff50c.html"  target="element">
				  				<area shape="rect" coords="790,238,910,293" href="../elements/id-d7304b7921484145b14cf78df163f8d7.html"  target="element">
				  				<area shape="rect" coords="634,454,754,509" href="../elements/id-7b6a8665ca4c4a68b27bf7a3f62113b1.html"  target="element">
				  				<area shape="rect" coords="634,58,754,113" href="../elements/id-45b5e29e83754d42b860763883f36589.html"  target="element">
				  				<area shape="rect" coords="634,238,754,293" href="../elements/id-afa284cec65f4a3eac6346baf1013dbf.html"  target="element">
				  				<area shape="rect" coords="790,334,910,389" href="../elements/id-fd16d851502f4961b5fa2480318759f5.html"  target="element">

				  		<area shape="rect" coords="610,10,935,539" href="../elements/id-6024171db52742f1a414723a13295c87.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6024171db52742f1a414723a13295c87.html" target="element"> All Entities </a> </td>
											    <td> <a href="../elements/id-6024171db52742f1a414723a13295c87.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fd16d851502f4961b5fa2480318759f5.html" target="element"> Sub-Entity </a> </td>
													    <td> <a href="../elements/id-fd16d851502f4961b5fa2480318759f5.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afa284cec65f4a3eac6346baf1013dbf.html" target="element"> Entity </a> </td>
													    <td> <a href="../elements/id-afa284cec65f4a3eac6346baf1013dbf.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45b5e29e83754d42b860763883f36589.html" target="element"> Delegator Entity </a> </td>
													    <td> <a href="../elements/id-45b5e29e83754d42b860763883f36589.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b6a8665ca4c4a68b27bf7a3f62113b1.html" target="element"> Status Entity </a> </td>
													    <td> <a href="../elements/id-7b6a8665ca4c4a68b27bf7a3f62113b1.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d7304b7921484145b14cf78df163f8d7.html" target="element"> Meta-Entity </a> </td>
													    <td> <a href="../elements/id-d7304b7921484145b14cf78df163f8d7.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3e1cc3f67954494480ff96487afff50c.html" target="element"> Core Components </a> </td>
											    <td> <a href="../elements/id-3e1cc3f67954494480ff96487afff50c.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-47521843f6ec494798a2d6fca8b51331.html" target="element"> Utilities </a> </td>
													    <td> <a href="../elements/id-47521843f6ec494798a2d6fca8b51331.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-623821c732ce4b3588a08843a7e37ebb.html" target="element"> Python Utilities </a> </td>
															    <td> <a href="../elements/id-623821c732ce4b3588a08843a7e37ebb.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ab87f06aa7e8406d9ca467a91a57f9d5.html" target="element"> OS Utilities </a> </td>
															    <td> <a href="../elements/id-ab87f06aa7e8406d9ca467a91a57f9d5.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element"> Status </a> </td>
													    <td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-281afd3c50884650973bc78c5113be61.html" target="element"> Logging </a> </td>
															    <td> <a href="../elements/id-281afd3c50884650973bc78c5113be61.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ce2eb07d0c6d4ff8a6df8cdb7bbe77fe.html" target="element"> Status Query Management </a> </td>
															    <td> <a href="../elements/id-ce2eb07d0c6d4ff8a6df8cdb7bbe77fe.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html" target="element"> Common </a> </td>
													    <td> <a href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-235c378c4c944187b2bed5b0f629f96b.html" target="element"> Abstract API classes </a> </td>
															    <td> <a href="../elements/id-235c378c4c944187b2bed5b0f629f96b.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b23017dc0b1a46dda1ac593b0cb0eacb.html" target="element"> Base API Data Manipulations </a> </td>
															    <td> <a href="../elements/id-b23017dc0b1a46dda1ac593b0cb0eacb.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6082b7ba0f54417ebc965a79266d6210.html" target="element"> Marco ABC </a> </td>
															    <td> <a href="../elements/id-6082b7ba0f54417ebc965a79266d6210.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-123806182ffe4132914217fbf016c47d.html" target="element"> Project </a> </td>
													    <td> <a href="../elements/id-123806182ffe4132914217fbf016c47d.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6f8f569e83544ba3966da4bcc67eca27.html" target="element"> Data Storage &amp; Retrieval </a> </td>
															    <td> <a href="../elements/id-6f8f569e83544ba3966da4bcc67eca27.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-55230cec60354daf937671a9bb5c5723.html" target="element"> Project Identifier Assignment </a> </td>
															    <td> <a href="../elements/id-55230cec60354daf937671a9bb5c5723.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6d9377a47cf2495ba9e9051152ff4578.html" target="element"> General Data Management </a> </td>
															    <td> <a href="../elements/id-6d9377a47cf2495ba9e9051152ff4578.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-bf49a4eb05794b24895d355d4fc2a123.html" target="element"> Delegator </a> </td>
													    <td> <a href="../elements/id-bf49a4eb05794b24895d355d4fc2a123.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-239716a338c74c1e84edd3d555b95416.html" target="element"> Receiver </a> </td>
															    <td> <a href="../elements/id-239716a338c74c1e84edd3d555b95416.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-26efee52f6f24fce9e4765e03ec8ea44.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26efee52f6f24fce9e4765e03ec8ea44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6024171db52742f1a414723a13295c87.html" target="element"> All Entities </a> </td>
																		<td> <a href="../elements/id-fd16d851502f4961b5fa2480318759f5.html" target="element"> Sub-Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac03539712864273a5f92db27fd7c859.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac03539712864273a5f92db27fd7c859.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6024171db52742f1a414723a13295c87.html" target="element"> All Entities </a> </td>
																		<td> <a href="../elements/id-d7304b7921484145b14cf78df163f8d7.html" target="element"> Meta-Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7ee03f0923645a59d1e674e70b0788a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7ee03f0923645a59d1e674e70b0788a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6024171db52742f1a414723a13295c87.html" target="element"> All Entities </a> </td>
																		<td> <a href="../elements/id-afa284cec65f4a3eac6346baf1013dbf.html" target="element"> Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c793e40f3e094eb1a02e446940782327.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c793e40f3e094eb1a02e446940782327.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6024171db52742f1a414723a13295c87.html" target="element"> All Entities </a> </td>
																		<td> <a href="../elements/id-45b5e29e83754d42b860763883f36589.html" target="element"> Delegator Entity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab3df69677c74325af041d64c27d0ec7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab3df69677c74325af041d64c27d0ec7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6024171db52742f1a414723a13295c87.html" target="element"> All Entities </a> </td>
																		<td> <a href="../elements/id-7b6a8665ca4c4a68b27bf7a3f62113b1.html" target="element"> Status Entity </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2e0b308eb2a148cfb4b463da22883ea1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e0b308eb2a148cfb4b463da22883ea1.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-45b5e29e83754d42b860763883f36589.html" target="element"> Delegator Entity </a> </td>
																				<td> <a href="../elements/id-afa284cec65f4a3eac6346baf1013dbf.html" target="element"> Entity </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-860784efe0a9499dba4d9695dbcdd771.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-860784efe0a9499dba4d9695dbcdd771.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7b6a8665ca4c4a68b27bf7a3f62113b1.html" target="element"> Status Entity </a> </td>
																				<td> <a href="../elements/id-afa284cec65f4a3eac6346baf1013dbf.html" target="element"> Entity </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3482b374b6524e88aa45bf53ce06b041.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3482b374b6524e88aa45bf53ce06b041.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d7304b7921484145b14cf78df163f8d7.html" target="element"> Meta-Entity </a> </td>
																				<td> <a href="../elements/id-fd16d851502f4961b5fa2480318759f5.html" target="element"> Sub-Entity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d88db74db3914152be4d5a511305d353.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d88db74db3914152be4d5a511305d353.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d7304b7921484145b14cf78df163f8d7.html" target="element"> Meta-Entity </a> </td>
																				<td> <a href="../elements/id-afa284cec65f4a3eac6346baf1013dbf.html" target="element"> Entity </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3b43b60a40574468bcd10a6bb9e76d0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b43b60a40574468bcd10a6bb9e76d0f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e1cc3f67954494480ff96487afff50c.html" target="element"> Core Components </a> </td>
																		<td> <a href="../elements/id-6024171db52742f1a414723a13295c87.html" target="element"> All Entities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75dc65d8c59649deaaf7fd091ab1115c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75dc65d8c59649deaaf7fd091ab1115c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e1cc3f67954494480ff96487afff50c.html" target="element"> Core Components </a> </td>
																		<td> <a href="../elements/id-47521843f6ec494798a2d6fca8b51331.html" target="element"> Utilities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad57ab4c36834b93a096c9ab41728e21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad57ab4c36834b93a096c9ab41728e21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e1cc3f67954494480ff96487afff50c.html" target="element"> Core Components </a> </td>
																		<td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element"> Status </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e476149122e040549ba66ed53f87b272.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e476149122e040549ba66ed53f87b272.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e1cc3f67954494480ff96487afff50c.html" target="element"> Core Components </a> </td>
																		<td> <a href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html" target="element"> Common </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ba0a6759c824b8db77cff0638f9ddcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ba0a6759c824b8db77cff0638f9ddcc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e1cc3f67954494480ff96487afff50c.html" target="element"> Core Components </a> </td>
																		<td> <a href="../elements/id-123806182ffe4132914217fbf016c47d.html" target="element"> Project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7739aab226924bf68874d38e7afc5a50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7739aab226924bf68874d38e7afc5a50.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e1cc3f67954494480ff96487afff50c.html" target="element"> Core Components </a> </td>
																		<td> <a href="../elements/id-bf49a4eb05794b24895d355d4fc2a123.html" target="element"> Delegator </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-30e274b168044ff8a4d88e4b43fdc431.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-30e274b168044ff8a4d88e4b43fdc431.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47521843f6ec494798a2d6fca8b51331.html" target="element"> Utilities </a> </td>
																				<td> <a href="../elements/id-623821c732ce4b3588a08843a7e37ebb.html" target="element"> Python Utilities </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-99ac6d9cdaee4f52b828c300bc02be05.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99ac6d9cdaee4f52b828c300bc02be05.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47521843f6ec494798a2d6fca8b51331.html" target="element"> Utilities </a> </td>
																				<td> <a href="../elements/id-ab87f06aa7e8406d9ca467a91a57f9d5.html" target="element"> OS Utilities </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8163f3f0ef2c453fb08f234642e12311.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8163f3f0ef2c453fb08f234642e12311.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47521843f6ec494798a2d6fca8b51331.html" target="element"> Utilities </a> </td>
																				<td> <a href="../elements/id-bf49a4eb05794b24895d355d4fc2a123.html" target="element"> Delegator </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ac6c08a8c00a4227a347e43d144c51a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac6c08a8c00a4227a347e43d144c51a8.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47521843f6ec494798a2d6fca8b51331.html" target="element"> Utilities </a> </td>
																				<td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element"> Status </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6aade05c99e344a394f6df59f9cc40bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6aade05c99e344a394f6df59f9cc40bb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element"> Status </a> </td>
																				<td> <a href="../elements/id-281afd3c50884650973bc78c5113be61.html" target="element"> Logging </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-99cb87e70928494db6f8132b8459c19c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99cb87e70928494db6f8132b8459c19c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element"> Status </a> </td>
																				<td> <a href="../elements/id-ce2eb07d0c6d4ff8a6df8cdb7bbe77fe.html" target="element"> Status Query Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aca29bdffbed440390b55f85a634d162.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aca29bdffbed440390b55f85a634d162.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element"> Status </a> </td>
																				<td> <a href="../elements/id-7b6a8665ca4c4a68b27bf7a3f62113b1.html" target="element"> Status Entity </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-bb4b7b318cea4ef88b5c90a670e32b7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bb4b7b318cea4ef88b5c90a670e32b7d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html" target="element"> Common </a> </td>
																				<td> <a href="../elements/id-235c378c4c944187b2bed5b0f629f96b.html" target="element"> Abstract API classes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3231b9974cf14d06ada764fd3003737f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3231b9974cf14d06ada764fd3003737f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html" target="element"> Common </a> </td>
																				<td> <a href="../elements/id-b23017dc0b1a46dda1ac593b0cb0eacb.html" target="element"> Base API Data Manipulations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c603ec676d924585acca32ae8ca1b0f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c603ec676d924585acca32ae8ca1b0f1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html" target="element"> Common </a> </td>
																				<td> <a href="../elements/id-6082b7ba0f54417ebc965a79266d6210.html" target="element"> Marco ABC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9a946f2df00c4140841575a81c56b95c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9a946f2df00c4140841575a81c56b95c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html" target="element"> Common </a> </td>
																				<td> <a href="../elements/id-bf49a4eb05794b24895d355d4fc2a123.html" target="element"> Delegator </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a05ae4856e224bb7af5682b55571bf18.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a05ae4856e224bb7af5682b55571bf18.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5c90ffe4b544dc8b22675b08472a908.html" target="element"> Common </a> </td>
																				<td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element"> Status </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-b284edd903e64252bbf70facb4280753.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b284edd903e64252bbf70facb4280753.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-123806182ffe4132914217fbf016c47d.html" target="element"> Project </a> </td>
																				<td> <a href="../elements/id-6f8f569e83544ba3966da4bcc67eca27.html" target="element"> Data Storage &amp; Retrieval </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-88cd7bd5f57348a490fa41bc1e934ec0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-88cd7bd5f57348a490fa41bc1e934ec0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-123806182ffe4132914217fbf016c47d.html" target="element"> Project </a> </td>
																				<td> <a href="../elements/id-55230cec60354daf937671a9bb5c5723.html" target="element"> Project Identifier Assignment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6e69c49411134e168667742c9c731e67.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e69c49411134e168667742c9c731e67.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-123806182ffe4132914217fbf016c47d.html" target="element"> Project </a> </td>
																				<td> <a href="../elements/id-6d9377a47cf2495ba9e9051152ff4578.html" target="element"> General Data Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9ff73dd78564461082e842de175bad4e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9ff73dd78564461082e842de175bad4e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-123806182ffe4132914217fbf016c47d.html" target="element"> Project </a> </td>
																				<td> <a href="../elements/id-dbbf5d84fae54397bae8a9fafc7b0454.html" target="element"> Status </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ecc1c94540c14cadadfcbc08c2a186ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ecc1c94540c14cadadfcbc08c2a186ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bf49a4eb05794b24895d355d4fc2a123.html" target="element"> Delegator </a> </td>
																				<td> <a href="../elements/id-45b5e29e83754d42b860763883f36589.html" target="element"> Delegator Entity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a029c08ce9a04933a291b71a22b553f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a029c08ce9a04933a291b71a22b553f6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bf49a4eb05794b24895d355d4fc2a123.html" target="element"> Delegator </a> </td>
																				<td> <a href="../elements/id-239716a338c74c1e84edd3d555b95416.html" target="element"> Receiver </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>