<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GEMS - Data Translators View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GEMS - Data Translators View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dc5b9ef623f848f29945c95206c40cdb.png" alt="GEMS - Data Translators View" usemap="#id-dc5b9ef623f848f29945c95206c40cdbmap"/>
			   <map name="id-dc5b9ef623f848f29945c95206c40cdbmap">
				  				<area shape="rect" coords="521,130,641,202" href="../elements/id-1880ea811ff94d898783cd2fc64eb2a2.html"  target="element">
				  				<area shape="rect" coords="377,130,497,202" href="../elements/id-bc49cfd3a89b409ba1db0f69829ce59f.html"  target="element">
				  				<area shape="rect" coords="670,46,779,119" href="../elements/id-d0636ebcbe5249318083c08db77e1f8c.html"  target="element">
				  				<area shape="rect" coords="382,46,491,119" href="../elements/id-9c839fe3d220447f8cc068b6f0ede57a.html"  target="element">
				  				<area shape="rect" coords="526,46,635,119" href="../elements/id-e504fe87f23f48efb958c600214df9e1.html"  target="element">

				  		<area shape="rect" coords="358,10,791,210" href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html"  target="element">
				  				<area shape="rect" coords="29,130,149,202" href="../elements/id-e827e7be55214350b1a09998f20da4d3.html"  target="element">
				  				<area shape="rect" coords="178,46,298,101" href="../elements/id-8150281f13cf4890b70a8a9f471a3759.html"  target="element">
				  				<area shape="rect" coords="34,46,143,119" href="../elements/id-a6620581bf9f48dcb99cad583b76d7e3.html"  target="element">

				  		<area shape="rect" coords="10,10,311,210" href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Overview of the data translators.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html" target="element"> Data Translator (Incoming) </a> </td>
											    <td> <a href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a6620581bf9f48dcb99cad583b76d7e3.html" target="element"> Determine Implied Services </a> </td>
													    <td> <a href="../elements/id-a6620581bf9f48dcb99cad583b76d7e3.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8150281f13cf4890b70a8a9f471a3759.html" target="element"> Services to Add </a> </td>
													    <td> <a href="../elements/id-8150281f13cf4890b70a8a9f471a3759.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e827e7be55214350b1a09998f20da4d3.html" target="element"> User-friendly JSON to Service </a> </td>
													    <td> <a href="../elements/id-e827e7be55214350b1a09998f20da4d3.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html" target="element"> Data Translator (Outgoing) </a> </td>
											    <td> <a href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e504fe87f23f48efb958c600214df9e1.html" target="element"> Determine if the Responses should trigger top-level data. </a> </td>
													    <td> <a href="../elements/id-e504fe87f23f48efb958c600214df9e1.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c839fe3d220447f8cc068b6f0ede57a.html" target="element"> Determine which Response objects trigger top-level data </a> </td>
													    <td> <a href="../elements/id-9c839fe3d220447f8cc068b6f0ede57a.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d0636ebcbe5249318083c08db77e1f8c.html" target="element"> Add Top-Level Data </a> </td>
													    <td> <a href="../elements/id-d0636ebcbe5249318083c08db77e1f8c.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc49cfd3a89b409ba1db0f69829ce59f.html" target="element"> Response to user-friendly JSON </a> </td>
													    <td> <a href="../elements/id-bc49cfd3a89b409ba1db0f69829ce59f.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1880ea811ff94d898783cd2fc64eb2a2.html" target="element"> Response Data aggregation requirements </a> </td>
													    <td> <a href="../elements/id-1880ea811ff94d898783cd2fc64eb2a2.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bbdcdf6d33a04084b0333de37966ef5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bbdcdf6d33a04084b0333de37966ef5f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html" target="element"> Data Translator (Incoming) </a> </td>
																		<td> <a href="../elements/id-e827e7be55214350b1a09998f20da4d3.html" target="element"> User-friendly JSON to Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5baff8d947344fb6bbb0bb35b03def27.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5baff8d947344fb6bbb0bb35b03def27.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6620581bf9f48dcb99cad583b76d7e3.html" target="element"> Determine Implied Services </a> </td>
																				<td> <a href="../elements/id-f357aaf48dba4abcaa9b4099945e7005.html" target="element"> Data Translator (Incoming) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb24424ee5b84ae5b31b1b140e9db9e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb24424ee5b84ae5b31b1b140e9db9e0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6620581bf9f48dcb99cad583b76d7e3.html" target="element"> Determine Implied Services </a> </td>
																				<td> <a href="../elements/id-8150281f13cf4890b70a8a9f471a3759.html" target="element"> Services to Add </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bddf7f7fe1fc4d489177ce4c61a0a72b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bddf7f7fe1fc4d489177ce4c61a0a72b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6620581bf9f48dcb99cad583b76d7e3.html" target="element"> Determine Implied Services </a> </td>
																				<td> <a href="../elements/id-e827e7be55214350b1a09998f20da4d3.html" target="element"> User-friendly JSON to Service </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-38f15a937248466c92eaf3be55a2be99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38f15a937248466c92eaf3be55a2be99.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html" target="element"> Data Translator (Outgoing) </a> </td>
																		<td> <a href="../elements/id-bc49cfd3a89b409ba1db0f69829ce59f.html" target="element"> Response to user-friendly JSON </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-df7110d562994ad58a098a920c028755.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df7110d562994ad58a098a920c028755.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-612113744cf74d55a26b0147ad6e61d9.html" target="element"> Data Translator (Outgoing) </a> </td>
																		<td> <a href="../elements/id-1880ea811ff94d898783cd2fc64eb2a2.html" target="element"> Response Data aggregation requirements </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b5923d3ca51c4860a03b5f9cad4d0026.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b5923d3ca51c4860a03b5f9cad4d0026.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e504fe87f23f48efb958c600214df9e1.html" target="element"> Determine if the Responses should trigger top-level data. </a> </td>
																				<td> <a href="../elements/id-d0636ebcbe5249318083c08db77e1f8c.html" target="element"> Add Top-Level Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1f8bdfb0d62d4133a6756c7bceb8fa06.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f8bdfb0d62d4133a6756c7bceb8fa06.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e504fe87f23f48efb958c600214df9e1.html" target="element"> Determine if the Responses should trigger top-level data. </a> </td>
																				<td> <a href="../elements/id-1880ea811ff94d898783cd2fc64eb2a2.html" target="element"> Response Data aggregation requirements </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bd5974dadd8647108a3b1c092bcc4434.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bd5974dadd8647108a3b1c092bcc4434.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9c839fe3d220447f8cc068b6f0ede57a.html" target="element"> Determine which Response objects trigger top-level data </a> </td>
																				<td> <a href="../elements/id-e504fe87f23f48efb958c600214df9e1.html" target="element"> Determine if the Responses should trigger top-level data. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-72f7cea092de4b6ea59ac6991ff35d0c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-72f7cea092de4b6ea59ac6991ff35d0c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9c839fe3d220447f8cc068b6f0ede57a.html" target="element"> Determine which Response objects trigger top-level data </a> </td>
																				<td> <a href="../elements/id-bc49cfd3a89b409ba1db0f69829ce59f.html" target="element"> Response to user-friendly JSON </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>