<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ff961566cd6940cb88508517cfba8713.png" alt="Overview" usemap="#id-ff961566cd6940cb88508517cfba8713map"/>
			   <map name="id-ff961566cd6940cb88508517cfba8713map">
				          <area shape="rect" coords="370,169,443,194" href="../objects/id-5df3637b4780419ba8df4af21d6aacdd.html" target="element" >
				  		<area shape="rect" coords="347,286,467,341" href="../elements/id-a417b89bdc9a41e3b0a19e99c89d1299.html"  target="element">
				  		<area shape="rect" coords="191,286,311,341" href="../elements/id-966d984850c641bca02ee93bdc3a74ae.html"  target="element">
				  		<area shape="rect" coords="35,286,155,341" href="../elements/id-2e016beaaf6f40d485ea282c96b00802.html"  target="element">
				  		<area shape="rect" coords="191,46,311,101" href="../elements/id-5b134d22bdc14260b15b13899830ade9.html"  target="element">
				  		<area shape="rect" coords="191,154,311,209" href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html"  target="element">
				          <area shape="rect" coords="10,250,491,359" href="../objects/id-abe3ec2c2a3949fc941e502aceaa8e17.html" target="element" >
				          <area shape="rect" coords="10,10,491,119" href="../objects/id-57f538a5326041bfa5c01411fdf6bdcc.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-57f538a5326041bfa5c01411fdf6bdcc.html" target="element"> Domain of the Web Developer </a> </td>
									           <td> <a href="../objects/id-57f538a5326041bfa5c01411fdf6bdcc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-abe3ec2c2a3949fc941e502aceaa8e17.html" target="element"> Domain of the scientists </a> </td>
									           <td> <a href="../objects/id-abe3ec2c2a3949fc941e502aceaa8e17.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
											    <td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5b134d22bdc14260b15b13899830ade9.html" target="element"> GLYCAM-Web </a> </td>
											    <td> <a href="../elements/id-5b134d22bdc14260b15b13899830ade9.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e016beaaf6f40d485ea282c96b00802.html" target="element"> GMML </a> </td>
											    <td> <a href="../elements/id-2e016beaaf6f40d485ea282c96b00802.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-966d984850c641bca02ee93bdc3a74ae.html" target="element"> In-House External Applications </a> </td>
											    <td> <a href="../elements/id-966d984850c641bca02ee93bdc3a74ae.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a417b89bdc9a41e3b0a19e99c89d1299.html" target="element"> Other External Applications </a> </td>
											    <td> <a href="../elements/id-a417b89bdc9a41e3b0a19e99c89d1299.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-5df3637b4780419ba8df4af21d6aacdd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5df3637b4780419ba8df4af21d6aacdd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/id-b0bfefbdde01401ead49cc2e39a58f39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0bfefbdde01401ead49cc2e39a58f39.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																		<td> <a href="../elements/id-5b134d22bdc14260b15b13899830ade9.html" target="element"> GLYCAM-Web </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b551e238a67e4e868841bb5b705d8ecc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b551e238a67e4e868841bb5b705d8ecc.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2e016beaaf6f40d485ea282c96b00802.html" target="element"> GMML </a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b088e08073c436fb025b5bd121c2683.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b088e08073c436fb025b5bd121c2683.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-966d984850c641bca02ee93bdc3a74ae.html" target="element"> In-House External Applications </a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0a07d9388094787a3e08551d4791da5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0a07d9388094787a3e08551d4791da5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a417b89bdc9a41e3b0a19e99c89d1299.html" target="element"> Other External Applications </a> </td>
																		<td> <a href="../elements/id-28543f7c5c0c4fdf87f0d4491a8857ee.html" target="element"> GEMS </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>