<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Stakeholders</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Stakeholders</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-faeb9eeb69064a16add79a9b0e0a1840.png" alt="Stakeholders" usemap="#id-faeb9eeb69064a16add79a9b0e0a1840map"/>
			   <map name="id-faeb9eeb69064a16add79a9b0e0a1840map">
				  		<area shape="rect" coords="874,292,1178,318" href="../elements/id-1d07372a4c5542c6871836e178e2088d.html"  target="element">
				  		<area shape="rect" coords="874,328,1178,354" href="../elements/id-210a8a6f84084032990e6f6865f359f7.html"  target="element">
				  		<area shape="rect" coords="874,258,1178,284" href="../elements/id-13af2786d1544bd6874566cfd7c9b52d.html"  target="element">
				  		<area shape="rect" coords="874,224,1178,250" href="../elements/id-4f4bae215ab746b7bd8efc921d820e32.html"  target="element">
				  		<area shape="rect" coords="874,191,1178,217" href="../elements/id-9e3723bfbf054e7889a6c6f2f1f853be.html"  target="element">
				  		<area shape="rect" coords="550,517,670,572" href="../elements/id-237e71ff6ed041109afb632d7baab47a.html"  target="element">
				  		<area shape="rect" coords="705,512,857,567" href="../elements/id-6644dcbfd4354a3d89a2e0e6632a0465.html"  target="element">
				  		<area shape="rect" coords="1077,421,1197,476" href="../elements/id-5543358bf9064ffab1fbfbcd04c72d23.html"  target="element">
				  		<area shape="rect" coords="84,31,204,86" href="../elements/id-ebe7c830894d437f8cc3c736daf5345a.html"  target="element">
				  		<area shape="rect" coords="47,181,167,226" href="../elements/id-880906518a4a46b6b68f685622be1aa1.html"  target="element">
				  		<area shape="rect" coords="197,241,317,278" href="../elements/id-1c5bbed3be2843b3a4aa27bff702ff9d.html"  target="element">
				  		<area shape="rect" coords="47,127,167,170" href="../elements/id-014ab29d310d408999dca1449ad362d3.html"  target="element">
				  		<area shape="rect" coords="334,517,454,572" href="../elements/id-6b9801e6cd1a407d8d4a350ec04bbfe3.html"  target="element">
				  		<area shape="rect" coords="70,517,250,563" href="../elements/id-ccdc2d287a964d9f93b9febce1ceba83.html"  target="element">
				  		<area shape="rect" coords="10,409,130,464" href="../elements/id-227d6c34c24c4fa8b14f811d61aa7f23.html"  target="element">
				  		<area shape="rect" coords="728,58,848,113" href="../elements/id-bf83e38c341049b78c64c7548171f628.html"  target="element">
				  		<area shape="rect" coords="364,85,504,113" href="../elements/id-04177ab452054f51a6627cd25e0b1914.html"  target="element">
				  		<area shape="rect" coords="203,158,323,195" href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html"  target="element">
				  		<area shape="rect" coords="226,100,346,137" href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html"  target="element">
				  		<area shape="rect" coords="550,449,670,496" href="../elements/id-c605186bb3e3413a85a8273cc48d3037.html"  target="element">
				  		<area shape="rect" coords="693,445,813,488" href="../elements/id-63f323bae68e4a61a05fefaa4f8779ca.html"  target="element">
				  		<area shape="rect" coords="407,445,527,500" href="../elements/id-43d7c9dc80bf4a85b8b314a4e7db32df.html"  target="element">
				  		<area shape="rect" coords="226,445,346,500" href="../elements/id-d09f2ff6761e49b785872b9415dfbf6c.html"  target="element">
				  		<area shape="rect" coords="203,372,323,427" href="../elements/id-56feab752cb94afea50ccf3e3e8a071b.html"  target="element">
				  		<area shape="rect" coords="426,183,766,410" href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html"  target="element">
				          <area shape="rect" coords="490,144,562,170" href="../objects/id-8bed830ca75446a1a793054fdee64acb.html" target="element" >
				          <area shape="rect" coords="10,372,107,398" href="../objects/id-4cc16812d4f74a75a3e8f96ecf003840.html" target="element" >
				          <area shape="rect" coords="215,10,298,36" href="../objects/id-5377ece2033646419b423032dd039338.html" target="element" >
				          <area shape="rect" coords="22,241,167,284" href="../objects/id-fad3f0fe5cc245a19e82218073491e5e.html" target="element" >
				  		<area shape="rect" coords="895,10,1015,53" href="../elements/id-0caab359173b4375bba927d06d021205.html"  target="element">
				  		<area shape="rect" coords="316,14,436,57" href="../elements/id-7d8ecfa2c1de4054aeb4fd610e60efa4.html"  target="element">
				  		<area shape="rect" coords="10,313,155,356" href="../elements/id-328cdbb6466248269d3dff9772483276.html"  target="element">
				  		<area shape="rect" coords="262,307,352,350" href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html"  target="element">
				  		<area shape="rect" coords="526,10,694,53" href="../elements/id-19f58f55678144858889b56551d2f50e.html"  target="element">
				  		<area shape="rect" coords="910,495,1078,538" href="../elements/id-e409001b61804792971d2108ef7280dc.html"  target="element">
				  		<area shape="rect" coords="847,397,1015,440" href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html"  target="element">
				  		<area shape="rect" coords="538,88,706,131" href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html" target="element"> Computer Science Students </a> </td>
											    <td> <a href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element"> Natural Science Students </a> </td>
											    <td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e409001b61804792971d2108ef7280dc.html" target="element"> Little Knowledge of Computer Science </a> </td>
											    <td> <a href="../elements/id-e409001b61804792971d2108ef7280dc.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19f58f55678144858889b56551d2f50e.html" target="element"> Little Knowledge of Natural Science </a> </td>
											    <td> <a href="../elements/id-19f58f55678144858889b56551d2f50e.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
											    <td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-328cdbb6466248269d3dff9772483276.html" target="element"> GEMS Must Be Easy To Use </a> </td>
											    <td> <a href="../elements/id-328cdbb6466248269d3dff9772483276.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d8ecfa2c1de4054aeb4fd610e60efa4.html" target="element"> Little Time </a> </td>
											    <td> <a href="../elements/id-7d8ecfa2c1de4054aeb4fd610e60efa4.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0caab359173b4375bba927d06d021205.html" target="element"> We have little control </a> </td>
											    <td> <a href="../elements/id-0caab359173b4375bba927d06d021205.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fad3f0fe5cc245a19e82218073491e5e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fad3f0fe5cc245a19e82218073491e5e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5377ece2033646419b423032dd039338.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5377ece2033646419b423032dd039338.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4cc16812d4f74a75a3e8f96ecf003840.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4cc16812d4f74a75a3e8f96ecf003840.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8bed830ca75446a1a793054fdee64acb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8bed830ca75446a1a793054fdee64acb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
											    <td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56feab752cb94afea50ccf3e3e8a071b.html" target="element"> Grant Agencies </a> </td>
											    <td> <a href="../elements/id-56feab752cb94afea50ccf3e3e8a071b.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d09f2ff6761e49b785872b9415dfbf6c.html" target="element"> Researchers </a> </td>
											    <td> <a href="../elements/id-d09f2ff6761e49b785872b9415dfbf6c.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43d7c9dc80bf4a85b8b314a4e7db32df.html" target="element"> Systems Admins </a> </td>
											    <td> <a href="../elements/id-43d7c9dc80bf4a85b8b314a4e7db32df.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63f323bae68e4a61a05fefaa4f8779ca.html" target="element"> Facilities &amp; Operations </a> </td>
											    <td> <a href="../elements/id-63f323bae68e4a61a05fefaa4f8779ca.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c605186bb3e3413a85a8273cc48d3037.html" target="element"> Information Security </a> </td>
											    <td> <a href="../elements/id-c605186bb3e3413a85a8273cc48d3037.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html" target="element"> Website Users </a> </td>
											    <td> <a href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element"> API Users </a> </td>
											    <td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04177ab452054f51a6627cd25e0b1914.html" target="element"> Programmers </a> </td>
											    <td> <a href="../elements/id-04177ab452054f51a6627cd25e0b1914.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf83e38c341049b78c64c7548171f628.html" target="element"> External Software Developers </a> </td>
											    <td> <a href="../elements/id-bf83e38c341049b78c64c7548171f628.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-227d6c34c24c4fa8b14f811d61aa7f23.html" target="element"> Must Perform as Promised </a> </td>
											    <td> <a href="../elements/id-227d6c34c24c4fa8b14f811d61aa7f23.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ccdc2d287a964d9f93b9febce1ceba83.html" target="element"> Products Must be Scientifically Accurate </a> </td>
											    <td> <a href="../elements/id-ccdc2d287a964d9f93b9febce1ceba83.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b9801e6cd1a407d8d4a350ec04bbfe3.html" target="element"> Must Sleep Once A Month Or So </a> </td>
											    <td> <a href="../elements/id-6b9801e6cd1a407d8d4a350ec04bbfe3.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-014ab29d310d408999dca1449ad362d3.html" target="element"> API Must Be Stable </a> </td>
											    <td> <a href="../elements/id-014ab29d310d408999dca1449ad362d3.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c5bbed3be2843b3a4aa27bff702ff9d.html" target="element"> The Website </a> </td>
											    <td> <a href="../elements/id-1c5bbed3be2843b3a4aa27bff702ff9d.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-880906518a4a46b6b68f685622be1aa1.html" target="element"> API Must be Easy To Use </a> </td>
											    <td> <a href="../elements/id-880906518a4a46b6b68f685622be1aa1.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebe7c830894d437f8cc3c736daf5345a.html" target="element"> Wbsite Must Be Easy To Use </a> </td>
											    <td> <a href="../elements/id-ebe7c830894d437f8cc3c736daf5345a.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5543358bf9064ffab1fbfbcd04c72d23.html" target="element"> Must Graduate one Day </a> </td>
											    <td> <a href="../elements/id-5543358bf9064ffab1fbfbcd04c72d23.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6644dcbfd4354a3d89a2e0e6632a0465.html" target="element"> Stable Electrics HVAC and networking </a> </td>
											    <td> <a href="../elements/id-6644dcbfd4354a3d89a2e0e6632a0465.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-237e71ff6ed041109afb632d7baab47a.html" target="element"> No Security Breaches </a> </td>
											    <td> <a href="../elements/id-237e71ff6ed041109afb632d7baab47a.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e3723bfbf054e7889a6c6f2f1f853be.html" target="element"> Easy to use and understand </a> </td>
											    <td> <a href="../elements/id-9e3723bfbf054e7889a6c6f2f1f853be.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f4bae215ab746b7bd8efc921d820e32.html" target="element"> Stable and Secure </a> </td>
											    <td> <a href="../elements/id-4f4bae215ab746b7bd8efc921d820e32.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13af2786d1544bd6874566cfd7c9b52d.html" target="element"> Performative </a> </td>
											    <td> <a href="../elements/id-13af2786d1544bd6874566cfd7c9b52d.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-210a8a6f84084032990e6f6865f359f7.html" target="element"> Modifyable </a> </td>
											    <td> <a href="../elements/id-210a8a6f84084032990e6f6865f359f7.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d07372a4c5542c6871836e178e2088d.html" target="element"> Maintainable </a> </td>
											    <td> <a href="../elements/id-1d07372a4c5542c6871836e178e2088d.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5ec47612fffc41988d1061b455698615.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ec47612fffc41988d1061b455698615.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e409001b61804792971d2108ef7280dc.html" target="element"> Little Knowledge of Computer Science </a> </td>
																		<td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element"> Natural Science Students </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-907c3757b8184a408886519063951114.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-907c3757b8184a408886519063951114.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19f58f55678144858889b56551d2f50e.html" target="element"> Little Knowledge of Natural Science </a> </td>
																		<td> <a href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html" target="element"> Computer Science Students </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb26fceb1a7c43759a9a64dcadde89ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb26fceb1a7c43759a9a64dcadde89ec.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-328cdbb6466248269d3dff9772483276.html" target="element"> GEMS Must Be Easy To Use </a> </td>
																		<td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c78a7713ab264a38b6d69f9b79863ddc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c78a7713ab264a38b6d69f9b79863ddc.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d8ecfa2c1de4054aeb4fd610e60efa4.html" target="element"> Little Time </a> </td>
																		<td> <a href="../elements/id-04177ab452054f51a6627cd25e0b1914.html" target="element"> Programmers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac58936aac9649029da93f9ea434c3fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac58936aac9649029da93f9ea434c3fc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0caab359173b4375bba927d06d021205.html" target="element"> We have little control </a> </td>
																		<td> <a href="../elements/id-bf83e38c341049b78c64c7548171f628.html" target="element"> External Software Developers </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-d013cb4c211e4f8d88a475f3e04c8652.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d013cb4c211e4f8d88a475f3e04c8652.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-e6f39e1ba3db409690927dd397142c6f.html" target="element"> GEMS Users </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b03dc8865b80426f9d1b409988702f61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b03dc8865b80426f9d1b409988702f61.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-56feab752cb94afea50ccf3e3e8a071b.html" target="element"> Grant Agencies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c40041fb26b4e4c9d0fd81c3e752bcf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c40041fb26b4e4c9d0fd81c3e752bcf.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-d09f2ff6761e49b785872b9415dfbf6c.html" target="element"> Researchers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eff4025897b24612aa30c7cbe5f5a39d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eff4025897b24612aa30c7cbe5f5a39d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-43d7c9dc80bf4a85b8b314a4e7db32df.html" target="element"> Systems Admins </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b23b2dd50aba44ef8bcc81d5023367d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b23b2dd50aba44ef8bcc81d5023367d1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-b31d35206e1f44989e83b58b2489f98b.html" target="element"> Computer Science Students </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ccace6ef06484ebabe30aaf848f30c80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccace6ef06484ebabe30aaf848f30c80.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-04177ab452054f51a6627cd25e0b1914.html" target="element"> Programmers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5133be318abd473c931a74a0c6c1bc88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5133be318abd473c931a74a0c6c1bc88.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html" target="element"> Website Users </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6fc9e83a28f549b396c84ceef5755fba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fc9e83a28f549b396c84ceef5755fba.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element"> API Users </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e734804795547c1b7187f884c5851c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e734804795547c1b7187f884c5851c9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element"> Natural Science Students </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-019a1f92dc5c4de0beed21a58c6a8b35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-019a1f92dc5c4de0beed21a58c6a8b35.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-63f323bae68e4a61a05fefaa4f8779ca.html" target="element"> Facilities &amp; Operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6f3c83151d04fd59cd3af43ed3b4aba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6f3c83151d04fd59cd3af43ed3b4aba.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-c605186bb3e3413a85a8273cc48d3037.html" target="element"> Information Security </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f05c66cdeeb41f7b01ea9798112b2fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f05c66cdeeb41f7b01ea9798112b2fc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-9e3723bfbf054e7889a6c6f2f1f853be.html" target="element"> Easy to use and understand </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd4536306fec4b08961af0ec81dbf0c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd4536306fec4b08961af0ec81dbf0c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-4f4bae215ab746b7bd8efc921d820e32.html" target="element"> Stable and Secure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f6b635d199949b5818a4d1cafe364f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f6b635d199949b5818a4d1cafe364f4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-13af2786d1544bd6874566cfd7c9b52d.html" target="element"> Performative </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-993b32630f9a41af8ab6dc23366b78f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-993b32630f9a41af8ab6dc23366b78f5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-1d07372a4c5542c6871836e178e2088d.html" target="element"> Maintainable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e23397f3cd24140bab45c4bac76410b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e23397f3cd24140bab45c4bac76410b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																		<td> <a href="../elements/id-210a8a6f84084032990e6f6865f359f7.html" target="element"> Modifyable </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6e91422bbf204b6ca66d84f03ba7a53c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e91422bbf204b6ca66d84f03ba7a53c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element"> API Users </a> </td>
																		<td> <a href="../elements/id-1c5bbed3be2843b3a4aa27bff702ff9d.html" target="element"> The Website </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90cdd988cffa4dc99aa9bb49501992c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90cdd988cffa4dc99aa9bb49501992c8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf83e38c341049b78c64c7548171f628.html" target="element"> External Software Developers </a> </td>
																		<td> <a href="../elements/id-b3953f16e6e64bb78dc7825dc255117f.html" target="element"> GLYCAM-Web </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a1bff1b1c7c94a2999e80ac84b67dd9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1bff1b1c7c94a2999e80ac84b67dd9f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-227d6c34c24c4fa8b14f811d61aa7f23.html" target="element"> Must Perform as Promised </a> </td>
																		<td> <a href="../elements/id-56feab752cb94afea50ccf3e3e8a071b.html" target="element"> Grant Agencies </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-710b787e1b1a43779c90d84a3a478b56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-710b787e1b1a43779c90d84a3a478b56.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ccdc2d287a964d9f93b9febce1ceba83.html" target="element"> Products Must be Scientifically Accurate </a> </td>
																		<td> <a href="../elements/id-d09f2ff6761e49b785872b9415dfbf6c.html" target="element"> Researchers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cd168aa643b64aa3a64a954d07558ba7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd168aa643b64aa3a64a954d07558ba7.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b9801e6cd1a407d8d4a350ec04bbfe3.html" target="element"> Must Sleep Once A Month Or So </a> </td>
																		<td> <a href="../elements/id-43d7c9dc80bf4a85b8b314a4e7db32df.html" target="element"> Systems Admins </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7ffe83b924994680a16c3744d9858d3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ffe83b924994680a16c3744d9858d3d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-014ab29d310d408999dca1449ad362d3.html" target="element"> API Must Be Stable </a> </td>
																		<td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element"> API Users </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9e1acc0379024494912ae00d5683e828.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e1acc0379024494912ae00d5683e828.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-880906518a4a46b6b68f685622be1aa1.html" target="element"> API Must be Easy To Use </a> </td>
																		<td> <a href="../elements/id-5d8d58179a5f430b8655b900835ede4b.html" target="element"> API Users </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4aa61a1826c048eaa09fc979787e87b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4aa61a1826c048eaa09fc979787e87b3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebe7c830894d437f8cc3c736daf5345a.html" target="element"> Wbsite Must Be Easy To Use </a> </td>
																		<td> <a href="../elements/id-da8beb443b9f463fad65721a4f8ab085.html" target="element"> Website Users </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f8fd7414f15e4dadb2e043a2c4f37c3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8fd7414f15e4dadb2e043a2c4f37c3b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5543358bf9064ffab1fbfbcd04c72d23.html" target="element"> Must Graduate one Day </a> </td>
																		<td> <a href="../elements/id-61859ee1fc58409aa8aeb42b0c6bc460.html" target="element"> Natural Science Students </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4752f0880f434ce29f15ea49a25eae4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4752f0880f434ce29f15ea49a25eae4b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6644dcbfd4354a3d89a2e0e6632a0465.html" target="element"> Stable Electrics HVAC and networking </a> </td>
																		<td> <a href="../elements/id-63f323bae68e4a61a05fefaa4f8779ca.html" target="element"> Facilities &amp; Operations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0c025d324f7a45298721916f2fbf6068.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c025d324f7a45298721916f2fbf6068.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-237e71ff6ed041109afb632d7baab47a.html" target="element"> No Security Breaches </a> </td>
																		<td> <a href="../elements/id-c605186bb3e3413a85a8273cc48d3037.html" target="element"> Information Security </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>